@import '../_import/helper.less';

body #TB_window{
	background: #373737;
	letter-spacing: .05em;
	overflow: hidden;
	.border-radius-all(5px);
	.box-shadow(0 0.5em 1em 0.25em rgba(0,0,0,0.5));
	button { .button-blue-narrow(); margin-left: .75em; margin-right: .75em; }
	#TB_title{ background: lighten(black, 16%); border-bottom: lighten(black, 25%); }
	#TB_ajaxContent {
		.box-sizing();
		padding: 0;
		position: relative;
		text-align: center;
		text-color: black!important;
		color: black!important;
		background-color: white;
		p { font-size: 1em; letter-spacing: .075em; }
		ul { overflow-y: hidden }
	}
}

div#overlay-bg {
	z-index: 1000001;
	.main-popup();
	background-color: rgba(25,25,25,0.65);
	.spin-wrap {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		width: 80px;
		height: 80px;
	}
}

.spinner {
	height:50px;
	width:50px;
	margin:0px auto;
	position:relative;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(0,174,239,.15);
	border-right:6px solid rgba(0,174,239,.15);
	border-bottom:6px solid rgba(0,174,239,.15);
	border-top:6px solid rgba(0,174,239,.8);
	border-radius:100%;
	visibility: inherit!important;
}

#instructions {
	display: block;

}

form#selections {
	border: 1px solid black;
	.border-radius-all(1em); 
	width: 50%;
	margin-top: 10px;
	input[type=submit] {
		margin: 10px;
	}
}
#elementsDiv {
	margin: 10px;
	width: auto;
	>div {
		display: inline-block;
		margin: 5px;
		>table {
			border: 1px solid black;
			th {
				text-align: center;
			}
		}
	}
}
#customSQLs {
	border: 1px solid black;
	margin-top: 10px;
	.border-radius-all(1em); 
	width: 50%;
	* > {
	     display: block;
	     margin: 10px;
	}
	#visitPages {
		display: none;
		* > {
			display: inline-block;
			margin: 5px;
			&.hidden {
				display: none;
			}
		}
	}
}
#getWhat {
	display: block!important;
	border: 1px solid black;
	width: 350px;
	height: auto;
	text-align: center;
	span {
		display: block;
		margin: 2px;
	}
	.item {
		display: inline-block;
		margin: 3px;
		* > {
		     display: inline-block;
		     margin-left: 5px;
		}
	}
}

#tableDiv {
	width: 95%;
	height: auto;
	max-height: 800px;
	overflow: scroll;
	margin: 20px;
	table {
		width: auto;
		height: auto;
		th {
			padding: 0 10px 0 10px;
		}
		td, th {
			border: 1px solid black;
			text-align: center;
			&.darken {
				background-color: #999;
				color: white;
			}
		}
	}
	div#export {
		display: block;
		&.hidden {
			display: none;
		}
		.export, .hideAll {
			padding: 0 30px;
			line-height: 65px;
			vertical-align: top;
			font-size: 1.2em;
			color: #fff;
			background-color: #999;
			span {
				display: inline-block;
				position: relative;
				font-size: .75em;
				top: 1px;
				left: 2px;
			}
		}
		.export-drop {
			display: none;
			position: absolute;
			background: #f3fbff;
			z-index: 99;
			text-align: center;
			margin: -12px auto 0;
			.border-radius-all(6px);
			-moz-box-shadow: 0 0 20px rgba(25,25,25,.4);
			-webkit-box-shadow: 0 0 20px rgba(25,25,25,.4);
			box-shadow: 0 0 20px rgba(25,25,25,.4);
			font-size: .9em;
			a {
				display: block;
				&:nth-child(1) { padding: .5em 0 .4em; border-bottom: 1px solid #c1c1c1; }
				&:nth-child(2) { padding: .4em 0 .5em; }
			}
		}
	}
}
