@import '../_import/helper.less';

.column-listing{ width: 200px; }
.column-author{ width: 160px; }
#controls {
	width: 100%;
	display: inline;
	position: relative;
	top: -70px;
}
.ui-slider {
	margin: 20px;
	margin-top: 10px;
}
.bx-wrapper{
		overflow: visible;
		z-index: 0;
		width: 210px;
		height: 120px;
		margin-left: 10px;
		margin-right: 10px;
		//margin-bottom: 10px;
		.bx-viewport {
			overflow: visible !important;
		}

		.listing-gallery {
			img {
				/* For Safari 3.1 to 6.0 */
			    -webkit-transition-property: width, height;
			    -webkit-transition-duration: 0.5s;
			    -webkit-transition-timing-function: linear;
			    -webkit-transition-delay: 0.25s;
			    /* Standard syntax */
			    transition-property: width, height;
			    transition-duration: 0.5s;
			    transition-timing-function: linear;
			    transition-delay: 0.25s;

				&:hover {
					width: 600px;
					height: 480px;
				}
			}
		}

		.bx-pager {
				position: relative;	
				z-index: 8;

				.bx-pager-item {
						display: inline;
						//margin: 0.75em;
						a {
							position: relative;
							&:before {
								content: " ";
								width: 0;
								height: 0;
								//position: absolute;
								opacity: 0;
								//top: -59px;
								//left: 43%;
								margin: 0 auto;
								.transition(.125s);
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								border-bottom: 10px solid rgba(255,255,255,.85);
							}
							img {
								border: thin solid rgba(255,255,255,.6);
								opacity: .9;
							}
						}
						.active {
							img {
								border: thin solid rgba(255,255,255,.85);
								opacity:1;
								height: auto;
								width: auto;
							}
						}
				}
		}
}

#optionWrapper {
	display: inline;
	#activeChooser {
		display: inline-block;
		input #waiting {
			margin-top: -4px;
		}
	}

	.options {
		display: inline;
		#optionChooser {
			display: inline-block;
			margin: 5px;
			padding: 4px;
			border: thin solid rgba(0,0,0,.9);
			.optionActive {
				margin: 5px;
				margin-bottom: 5px;
			}
			#sellerOption {
				margin: 5px;
				padding: 5px;
			}
			#addressText {
				width: 40em;
			}

			table #sellerID {
				position: relative;
			}
		}
  
		#keywordOption {
			display: inline-block;
			margin-left: 30px;
			margin-bottom: 130px;
			//position: relative;
			//top: -220px;
			//left: 560px;
			#keywordLabel{
				margin-left: 3px;
			}
			#keyword {
				width: 30em;
				padding-left: 0px;
				//height: 10em;
			}
			div#container {
				display: block;
				margin: 5px;
			}
			
			.spin-wrap {
				display: block;
				position: relative;
				height: 30px;
				width: 30px;
				padding-right: 10px;
				margin: 0 auto;
				top: -40px;
				left: -320px;
				z-index: 10;
				.spinner { .spinner(@light-blue2, 32px); }
			}
		}
	}
}

#priceOption{
	position: relative;
	top: -80px;
	width: 100%;
}

#infoBar {
	display: inline;
	position: relative;
	top: -80px;
	width: auto;
	height: auto;
	#legend {
		position: relative;
		left: 170px;
	}
}

.widefat{
	position: relative;
	top: -80px;
}
