@import '../_import/helper.less';

body #TB_window{
	background: #373737;
	letter-spacing: .05em;
	overflow: hidden;
	.border-radius-all(5px);
	.box-shadow(0 0.5em 1em 0.25em rgba(0,0,0,0.5));
	button { .button-blue-narrow(); margin-left: .75em; margin-right: .75em; }
	#TB_title{ background: lighten(black, 16%); border-bottom: lighten(black, 25%); }
	#TB_ajaxContent {
		.box-sizing();
		padding: 0;
		position: relative;
		text-align: center;
		text-color: black!important;
		color: black!important;
		background-color: white;
		p { font-size: 1em; letter-spacing: .075em; }
		ul { overflow-y: hidden }
	}
}

div#main-selections {
	margin: 20px;
	div {
		display: inline-block;
		margin-right: 20px;
		&.hidden {
			display: none;
		}
	}
	span {
		display: inline-block;
		margin-right: 10px;
	}
}

div#makeNew {
	button#makeNew {
		.button-blue();
		//display: none;
	}
}

div#save, div#status {
	text-align:center;
	margin-left: 50px;
	width: 80%;
	padding: 20px;
	button {
		.button-blue();
		display: block;
		margin: auto;
	}
}

div#options-edit {
	margin-left: 50px;
	width: 80%;
	padding: 20px;
	border: 1px solid black;
	.border-radius-all(1em);
	span {
		margin-right: 5px;
		display: inline-block;
	}
	input[type=text] {
		width: 18em;
	}	
	input[what=csv] {
		width: 50em;
	}
	input[what=number] {
		width: 5em;
	}
	input[id=html], input[id=message],input[id=src],input[id=href],input[id=img],input[id=title],input[id=buttonString],input[id=quizSEO] {
		width: 50em;
	}
	input[id=id] {
		width: 14em;
	}
	input[id=style],input[id=placeholder],input[id=onclick] {
		width: 28em;
	}
	textarea {
		width: 50em;
		height: 6em;
	}
	div.optional,div[id=width],div[id=height],div[id=quizID],div[id=quizSEO] {
		display:none;
	}
	article {
		border: 1px solid black;
		margin:5px;
		padding: 10px;
		display: block;

	}
	div#group-title {
		text-align:center;
		span {
			display: block;
			font-size: 1.1em;
			font-family: 'Open Sans';
			font-weight: 600;
		}
		&.depth1 {
			span {
				font-size: 2em;
				font-family: 'Open Sans';
				font-weight: 800;
			}
		}
		&.depth2 {
			span {
				font-size: 1.6em;
				font-family: 'Open Sans';
				font-weight: 600;
			}
		}
	}
}

