@import '../_import/helper.less';

body #TB_window{
	background: #373737;
	letter-spacing: .05em;
	overflow: hidden;
	.border-radius-all(5px);
	.box-shadow(0 0.5em 1em 0.25em rgba(0,0,0,0.5));
	button { .button-blue-narrow(); margin-left: .75em; margin-right: .75em; }
	#TB_title{ background: lighten(black, 16%); border-bottom: lighten(black, 25%); }
	#TB_ajaxContent {
		.box-sizing();
		padding: 0;
		position: relative;
		text-align: center;
		text-color: black!important;
		color: black!important;
		background-color: white;
		p { font-size: 1em; letter-spacing: .075em; }
		ul { overflow-y: hidden }
		.line {
			display: block;
			border: 1px solid #333;
			-webkit-border-image: linear-gradient(to right,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) 50%,rgba(0,0,0,0)) 0 0 1;
			border-image: linear-gradient(to right,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) 50%,rgba(0,0,0,0)) 0 0 1;
			margin: 0.5em 0;
		}
		#listings-list {
			height: 600px;
			overflow-y: scroll;
			margin-bottom: 10px;
			#about {
				max-width: 300px; overflow: scroll; height: 70px;
			}
			img {
				width: 100px;
				height: 70px;
			}
		}
		#headerDiv {
			display: inline-block;
			width: 25%;
			table {
				width: 100%;
				#cell-label {
					width: 25%;
				}
				#cell-input {
					width: 75%;
					input{
						width: 100%;
					}
				}
			}
		}
		#profileDiv {
			display: inline-block;
			width: 25%;
		}
		#extraDataDiv {
			display: inline-block;
			width: 48%;
		}
		#aboutDiv {
			display: block;
			width: 100%;
			table {
				width: 90%;
				margin-left: 45px;
			}
			textarea#about {
				width: 100%;
				height: 120px;
				rows: 5;
			}
		}
		.agent-match-div {
			width: 100%;
			.define-agent-match-container {
	          //max-height: 600px;
	          max-height: 270px;
	          overflow-y: scroll;
	          #define-agent-match {
	          	#description {
	          		display: block;
	          		height: 120px;
	          		width: 80%;
	          		margin-left: 15%;
	          	}
	          	.service_areas {
	          		z-index: 1000000;
	          	}
	          }
	        }
			.maincontent {
				width: 90%;
			}
		}
		#updateCity, #ahtb-list-div {
			background-color: white;
			span, label {
				text-color: black!important;
				color: black!important;
			}
			#scoreValue {
				display: inline;
			}
			#scoreSlider {
				width: 100%;
			}
			#ok {
				margin-top: 10px;
			}
			padding: 20px;
			height: 100%;
		}
	}
}

.spin-wrap {
	height: 128px;
	width: 128px;
	position: absolute;
	margin: 0 auto;
	top: 60%;
	left: 50%;
	z-index: 100;
	display: none;
	//.spinner { .spinner(@light-blue2, 16px); }
}

div.context-menu {
	display: none;
	position: absolute;
	text-align: center;
	color: black;
	background: white;
	.border-radius-all(1em);
	button { .button-blue() }
	z-index: 20;
	#container {
		margin: 10px;
		width: 450px;
	}
}

.ui-front {
	z-index: 10000100;
}

#adminDiv {
	display: none;
	border: 1px solid black;
	> * {
		margin-left: 10px;
	}
	form {
		margin-bottom: 10px;
	}
}

#optionWrapper {
	width: 35%;
	margin: 10px 10px 10px 20px;
	display: inline-block;
	float: left;
	table.sellerID {
		> td, th {
			width:100px;
		}
	}
}

#legend {
	margin: 10px;
	margin-left: 90px;
	//margin-top: -100px;
	display: inline-block;
	//position: absolute;
	//right: 0px;
	//top: 10px;
	span {
		font-family: @serif!important;
		font-size: 1.6em!important;
		line-height:26px;
		font-weight: 500;
		letter-spacing:0.02em;
		display: table-cell;
	}
	table {
		display: inline-block;
		thead th {
			padding: 0 10px 0 10px;
		} 
	}
	table td, table th {
	  	border: 1px solid black;
	}
}

section.upper {
	height: 30%;
	span#title {
		font-family: @serif!important;
		font-size: 1.6em!important;
		line-height:26px;
		font-weight: 500;
		letter-spacing:0.02em;
		margin-left: 50px;
	}
	.topOption {
		display: inline;
	}
	.selector{
		text-align: center;
		#view {
			
			//right: 0;
			//left: 0;
			margin-top: 0;
			//margin-left: 40%;
			//position: absolute;
			padding: 0;
			.border-radius-all(0 0 5px 5px);
		}
		#list {
			text-align: center;
			//right: 0;
			//left: 0;
			margin-top: 0;
			//margin-left: 40%;
			//position: absolute;
			padding: 0;
			.border-radius-all(5px 5px 0 0);
		}
		display: block;
		height: 30px;
		top: 2px;
		.transition();
		li.left {
			display: inline-block;
			margin: 0;
			width: 85px;
			height: 30px;
			background: #3C3C3C;
			color: #fff;
			margin-right: -5px;
			position: relative;
			&.list {
				.border-radius-all(0 0 0 5px);
			}
			&.data {
				.border-radius-all(5px 0 0 0);
			}
			cursor: pointer;
			z-index: 50;
			a {
				width: 85px;
				height: 32px;
				display: inline-block;
				color: inherit;
				font-size: .75em;
				position: relative;
				top: -2px;
				background: inherit;
				&.top {
					.border-radius-all(0 0 0 5px);
				}
				&.bottom {
					.border-radius-all(5px 0 0 0);
				}
			}
			a:hover { color: #3FB6FF; background: #303030; }
		}
		li.right {
			display: inline-block;
			margin: 0;
			width: 85px;
			height: 30px;
			background: #3C3C3C;
			color: #fff;
			margin-right: -5px;
			position: relative;
			&.map {
				.border-radius-all(0 0 5px 0);
			}
			&.data {
				.border-radius-all(0 5px 0 0);
			}
			cursor: pointer;
			z-index: 50;
			a {
				width: 85px;
				height: 32px;
				display: inline-block;
				color: inherit;
				font-size: .75em;
				position: relative;
				top: -2px;
				background: inherit;
				&.top {
					.border-radius-all(0 0 5px 0);
				}
				&.bottom {
					.border-radius-all(0 5px 0 0);
				}
			}
			a:hover { color: #3FB6FF; background: #303030; }
		}
		li.active { background: #202020; color: #379ddb; }
	}

	div#tag-selections {
		display: none;
		position: absolute;
		left: 20%;
		top: 30%;
		width: 1100px;
		height: auto;
		background: white;
		color: black;
		.border-radius-all(1em);
		border: 1px solid black;
		z-index: 50;
		&.active {
			display: block;
		}
		#tag-window {
			min-height: 390px;
			h2 { color: #444; margin: .5em 0; text-transform: capitalize; text-align: center; }
			.top { 
				display: block; 
				margin-top: 10px;
				.left, .right { font-size: 1.2em; display: inline-block; color: #ED7A33; font-weight: 400; padding-bottom: 1px; }
				.left { width: 17%; border-right: 1px solid #C5C5C5; margin-right: -1px; }
				.right { margin-left: 14px; }
			}
		}
		#controls {
			text-align: center;
			div#dropzone { display: block; }
			button {
				.button-blue();
				margin: 10px 10px;
			}
		}
		div.tag-definition{ 
			display: none;
			h5{ color: #1E9EE0; display: inline; font-size:1em; text-transform: uppercase; margin-left: 10px; }
			span{ font-size: 0.8em; }
		}
		ul.tag-categories {
			float: left;
			width: 16%;
			height: 328px;
			border-right: 1px solid #C5C5C5;
			margin: 10px -1px 0 1%;
			li{
				cursor: pointer;
				display: inline-block;
				font-size: 1em;
				margin: 0;
				text-align: left;
				text-transform: capitalize;
				width: 100%;
				height: 28px;
				margin: 3.3px 0;
				.title { color: inherit; }
				.entypo-record { display: none; }
				span { display: block; transition:.25s; }
			}
			li:hover, li:hover span { color: #39CBFF; }
			li.active, li.active span { color: #39CBFF; font-weight: 400; }
		}
		.list-wrap {
			/* float: left; */
			/* width: 68%; */
			height: 100%;
			display: block;
		}
		ul.tags-list {
			top: 0;
			opacity: 0;
			position: absolute;
			z-index: -1;
			-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:10px;-moz-column-gap:10px;column-gap:10px;-moz-transition: 0s;-webkit-transition: 0s;-o-transition: 0s;transition: 0s;
			height: 300px;
			overflow: hidden;
			pointer-events: none;
			.red {
				color: red;
				font-weight: 600;
			}
			li {
				color: black;
				cursor: pointer;
				display: inline-block;
				font-size: 0.9em;
				margin: 7px 0;
				text-align: left;
				width: 100%;
				transition: 0s;
				text-transform: capitalize;
				height: auto;
				position: relative;
				line-height: 1.25em;
				span {
					margin: 0 10px;
					&.scored {
						min-width: 20%;
						width: 150px;
					}
					&#scoreValue {
						min-width: 5%;
					}
				}
				#scoreSlider {
					width: 70%;
					height: 1em;
					background: black;
					color: white;
					display: inline-block;
					float: right;
					margin-right: 20px;
				}
			}
			.tag:hover { color: #39CBFF; }
			.tag .checkmark{
				opacity: 0;
				display: inline-block;
				transition: 0s;
				margin-right: 6px;
				float: left;
				position: relative;
				top: -3px;
				img { 
					width: 22px;
					&.desktop { display: none; }
					&.mobile { display: inline; }
				}
			}
		}
		ul.tags-list.active {
			opacity: 1; 
			z-index: 10; 
			left: 15px; 
			position: relative;
			height: auto;
			pointer-events: all;
			.tag.active .checkmark { 
				opacity: 1;
			}
		}
		ul.tags-list#home-features, ul.tags-list#privacy, ul.tags-list#region, ul.tags-list#garage-size, ul.tags-list#community-size, ul.tags-list#climate, ul.tags-list#home-style, ul.tags-list#lifestyle {
			-webkit-column-count: 1; 
			-moz-column-count: 1; 
			column-count: 1;
			li { overflow: visible; }
		}
		ul.tags-list#home-features li { margin: 5px 0 5px 0; }
		ul.tags-list#activities {
			-webkit-column-count: 2; 
			-moz-column-count: 2; 
			column-count: 2;
			li {
				width: 50%;
			}
		}
	}

	div#gathered-div {
		//div.details {
			max-height: 700px;
			overflow-y: scroll;
			display: inline-block;
			//width: 45%;
			height: inherit;
			margin: 10px;
			color: black;
			table {
				display: inline-table;
				text-align: center;
				.manage-column {
					width: 20%;
					&.column-res-tag, &.column-res-score {
						width: 20%;
					}
					&.column-res-action {
						width: 60%;
					}
				}
				&#controls {
					border-top: 1px solid black;
				}
			}
		//}
	}

	div#reservation-map{
				float: left;
				height: 600px;
				left: 100%;
				width: 100%;
				border: 1px solid rgba(175,175,175,1);
				.infowindow-content{
					.box-sizing();
					height: 80px;
					margin: .1em;
					overflow: hidden;
					width: 100%;
					> img { float: left; }
					> li {
						display: inline-block;
						height: 80px;
						vertical-align: top;
						&.image{ padding-right: .5em; width: 80px; }
						&.meta{
							color: black;
							font-family: @sans;
							position: relative;
							text-align: left;
							h5{
								color: black;
								display: block;
								font-family: @serif;
								font-size: 1.3em;
								line-height: 1.1em;
								margin: 0;
							}
							span{ font-size: 1em; }
							a { position: absolute; left: 0; bottom: 0; }
						}
					}
				}

		}
}

section.reservations {
	//margin-top: 180px;
	#zoomInstructions {
		margin-left: 150px;
		display: none;
		border: 1px solid white;
		&.active { display: inline-block; }
		#container, #container2 {
			margin: 10px;
			display: inline-block;
			> * {
				display: block;
			}
		}
	}
}

#reservations-list-div, #ahtb-list-div {
		//overflow-y: hidden;
		width: 100%;
		&.main {
			height: 600px;
		}
		&.popup {
			height: 300px;
		}
		left: 0%;
		text-align: center;
		#all-data-div {
			display: inline-flex;
			height: inherit;
		}
		
		div.details {
			overflow-y: scroll;
			display: inline-block;
			width: 45%;
			height: inherit;
			margin: 10px;
			&.left {
				float: left;
			}
			span {
				float: left;
			}
			#outer {
				width: 100%;
				table {
					float: left;
				}
			}
			table {
				display: inline-table;
				.manage-column {
					width: 20%;
					&.column-res-id {
						width: 10%;
					}
					&.column-res-seller-id, &.column-res-author-id {
						width: 10%;
					}
					&.column-res-first, &.column-res-last, &.column-phone {
						width: 10%;
					}
					&.column-specialty-city{
						width: 70%;
					}
					&.column-specialty-tag {
						padding-left: 10px;
					}
					&.column-res-tag, &.column-res-score {
						width: 20%;
					}
					&.column-res-action {
						width: 60%;
					}
				}
				div#specialties {
					text-align: left;
				}
			}
		}
}


section.mid {
	height: 40%;
	#agent-table {
		overflow-y: scroll;
		width: 100%;
		height: 100%;
	}
}