@import '../_import/helper.less';

.column-listing{ width: 200px; }
.column-author{ width: 160px; }

body #TB_window{
	background: #373737;
	letter-spacing: .05em;
	overflow: hidden;
	.border-radius-all(5px);
	.box-shadow(0 0.5em 1em 0.25em rgba(0,0,0,0.5));
	button { .button-blue-narrow(); margin-left: .75em; margin-right: .75em; }
	#TB_title{ background: lighten(black, 16%); border-bottom: lighten(black, 25%); }
	#TB_ajaxContent {
		.box-sizing();
		padding: 0;
		position: relative;
		text-align: center;
		text-color: black!important;
		color: black!important;
		background-color: white;
		p { font-size: 1em; letter-spacing: .075em; }
		ul { overflow-y: hidden }
		.line {
			display: block;
			border: 1px solid #333;
			-webkit-border-image: linear-gradient(to right,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) 50%,rgba(0,0,0,0)) 0 0 1;
			border-image: linear-gradient(to right,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) 50%,rgba(0,0,0,0)) 0 0 1;
			margin: 0.5em 0;
		}
		#updatePasswordDiv {
			span {
				margin: 5px;
				display: block;
			}
			input {
				margin: 5px;
				width: 90%;
			}
		}
	}
}

.ui-slider {
	margin: 20px;
	margin-top: 10px;
}
.bx-wrapper{
		overflow: visible;
		z-index: 0;
		width: 210px;
		height: 120px;
		margin-left: 10px;
		margin-right: 10px;
		//margin-bottom: 10px;
		.bx-viewport {
			overflow: visible !important;
		}

		.listing-gallery {
			img {
				/* For Safari 3.1 to 6.0 */
			    -webkit-transition-property: width, height;
			    -webkit-transition-duration: 0.5s;
			    -webkit-transition-timing-function: linear;
			    -webkit-transition-delay: 0.25s;
			    /* Standard syntax */
			    transition-property: width, height;
			    transition-duration: 0.5s;
			    transition-timing-function: linear;
			    transition-delay: 0.25s;

				&:hover {
					width: 600px;
					height: 480px;
				}
			}
		}

		.bx-pager {
				position: relative;	
				z-index: 8;

				.bx-pager-item {
						display: inline;
						//margin: 0.75em;
						a {
							position: relative;
							&:before {
								content: " ";
								width: 0;
								height: 0;
								//position: absolute;
								opacity: 0;
								//top: -59px;
								//left: 43%;
								margin: 0 auto;
								.transition(.125s);
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								border-bottom: 10px solid rgba(255,255,255,.85);
							}
							img {
								border: thin solid rgba(255,255,255,.6);
								opacity: .9;
							}
						}
						.active {
							img {
								border: thin solid rgba(255,255,255,.85);
								opacity:1;
								height: auto;
								width: auto;
							}
						}
				}
		}
}

#sellerSelection{
	margin: 10px 0 10px 10px;
}

#previewDiv {
	width: auto;
	height: auto;
}

#emailStats {
	position: absolute;
	margin-left: 600px;
	margin-top: 80px;
	max-height: 300px;
	overflow-y: scroll;
	table {
		width: 600px;
	}
	td {
		text-align: center;
		span {
			display: block;
		}
	}
}

#TB_ajaxContent {
	#activity-stats {
		overflow-y: scroll;
		height: 370px;
		margin-bottom: 10px;
		#activity-table {
			th {
				padding-right: 1em;
			}
		}
	}
	#chartDiv {
	 	height: 370px;
		margin-bottom: 10px;
	}
	#controls {
		margin-bottom: 10px;
	}
}

#optionWrapper {
	display: inline;
	#activeChooser {
		display: inline-block;
		input #waiting {
			margin-top: -4px;
		}
	}

	.options {
		display: inline;
		#optionChooser {
			display: inline-block;
			margin: 5px;
			padding: 4px;
			border: thin solid rgba(0,0,0,.9);
			.optionActive {
				margin: 5px;
				margin-bottom: 5px;
			}
			#sellerOption {
				margin: 5px;
				padding: 5px;
			}
			#addressText {
				width: 40em;
			}
			#idOption {
				#idSpecifier {
					width: 90%;
					margin: 5px 0 5px 10px;
					.border-radius-all(5px);
					border: 1px solid black;
					#id-specifier {
						width: 90%;
						margin: 0 5px 0 5px;
					}
				}
			}

			table #sellerID {
				position: relative;
			}
		}
		
	}
	#createCodesDiv {
		display: inline;
	}
	.spin-wrap {
				display: inline-block;
				position: relative;
				height: 60px;
				width: 60px;
				padding-right: 10px;
				margin: 0 auto;
				visibility: visible;
				//top: -40px;
				//left: 320px;
				z-index: 10;
				.spinner { .spinner(@light-blue2, 48px); }
			}
}

#sellerListDiv {
	display: block;
}

#infoBarSeller {
	#legend {
		float: right;
	}
}

#infoBar {
	display: inline;
	position: relative;
	//top: -80px;
	width: auto;
	height: auto;
	#legend {
		position: relative;
		left: 170px;
	}
}

.widefat{
	position: relative;
	button {
		width: 120px;
	}
	//top: -80px;
}

.controls {
	width: 100%;
	display: inline;
	position: relative;
	//top: -70px;
}
