@import '../_import/helper.less';

@imgHeight: 280px; @imgWidth: 280px; // for the seller photo

body #TB_window{
	#basic-info {
		margin: 10px;
		text-align: left;
	}
}

.videoDiv {
	z-index: 12!important;
	.closeVid {
		display: none;
        top: -570px;
        left: 92%;
        background-color: #000;
   		.border-radius-all(4px);
    }
}

.videoDiv#lifestyle{
		position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -515px;
    margin-top: -350px;
}

#main-section {
	#nextStep {
		display: none;
		position: fixed;
		background: white;
		.border-radius-all(1em);
		z-index: 99999;
		top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    height: auto;
		text-align: center;
		font-family: 'Open Sans';
		font-size: 1.3em;
		&.background {
			display: none;
			background: rgba(25,25,25,.65);
			height: 100%;
			width: 100%;
			padding: 0;
			top: 0;
			border-radius: 0;
			z-index: 99998;
		}
		span {
			display: block;
			color: #666;
			margin: 0 10px;
			&#explainWhy {
				font-size: .8em;
				margin: 6px auto 12px;
				line-height: 1.44em;
				&.desktop { display: block; }
				&.mobile { display: none; }
			}
			&#message {
				color: #444;
				font-weight: 400;
				font-size: 1.4em;
				line-height: 1.1em;
				margin: 0 auto 5px;
			}
		}
		span#messageSmall { 
			color: #666;
			font-weight: 400;
			font-size: .9em;
			line-height: 1.1em;
			margin: 8px 0 25px;
			&.desktop { display: block; }
			&.mobile { display: none; }
		}
		button {
			.button-blue();
			display:inline-block;
			margin-top: 12px;
			text-transform: none;
			padding: .5em 2em;
			.border-radius-all(8px);
		}
		button#gotoDashboard {
			background: none;
			color: #28adcd;
			padding: 0;
			margin: 0;
			display: block;
			letter-spacing: 1px;
			margin: 0 auto;
			left: 14px;
			position: relative;
			margin-top: 20px;
			.border-radius-all(0);
			span {
				color: inherit;
				display: inline-block;
				position: relative;
				font-size: .75em;
				left: -5px;
				top: -2px;
			}
			&:hover { background: none; color: #47ceef; }
		}
	}
	#agent-basic-lifestyle-info {
		#top {
			background: #477baf;
			.hiddendiv {
				position: absolute;
				margin-top: 144px;
				width: 100%;
				background-color: #fff;
				height: 300px;
			}
			.text {
				.title {
					font-weight: 400;
					font-size: 2.75em;
					text-align: center;
					display: block;
					padding-top: 80px;
				}
				p {
					text-align: center;
					padding-top: 40px;
					font-weight: 400;
					font-size: 1.3em;
					width: 55%;
					margin: 0 auto;
					line-height: 1.6em;
					padding-bottom: 35px;
				}
			}
		}
		.center {
			text-align: center;
			span {
				background: black;
				color: white;
				display: block;
				font-family: 'Perpetua';
				font-size: 1.3em;
				letter-spacing: 1px;
			}
			button#exitNow {
				.button-blue();
			}
		}
		.seller-photo, #dropzone{
			display: none;
			border: 4px solid darken(white, 33%);
			.box-sizing(border-box);
			margin-top: 60px;
			position: relative;
			height: @imgHeight;
			width: @imgWidth;
			border-radius: 100%;
			margin: 0 auto 50px;
		}
		#dropzone{
			background: #666;
			padding: 30px 0;
			border-radius: 100%;
			color: #fff;
			font-weight: 400;
			font-size: .9em;
			width: 280px;
			height: 280px;
			.spin-wrap {
				height: 128px;
				width: 128px;
				position: relative;
				margin-left: 3.5em;
				top: 0;
				//left: -8px;
				z-index: 10;
				display: none;
			}
			.dz-fallback {
				input[name=file] {
					margin-left: 5em;
				}
			}
			.dz-message{
				font-size: 1.4em;
				//height: 100%;
				margin: 2em 0 0 0;
				text-align: center;
				> span {
					position: relative;
					top: -.3em;
					> * { display: block; }
					> p, > span{ .transition(.25s); }
					> p { margin: 0; }
					> span { font-size: 4.5em; line-height: 1em; margin:0 0 .1em; }
					> button { .button-blue(); background-color: #5fc1e4; font-size: .9em; margin: 0 auto; }
					> button:hover { background-color: #5fc1e4; }
				}
			}
		}
		#dropzone:hover{ color: #abdaea; }
		.seller-photo {
			> img{ height: 100%; width: 100%; border-radius: 100%; }
			.overlay{
				background: rgba(0,0,0,0.6);
				cursor: pointer;
				font-size: 1.7em;
				opacity: 0;
				position: absolute;
				height: 100%;
				left: 0;
				text-align: center;
				top: 0;
				width: 100%;
				border-radius: 100%;
				.transition(.5s);
				&:hover{ opacity: 1 }
				> a {
					display: block;
				}
					> a.edit-cropping{
						background: rgba(255,255,255,0);
						border-radius: 200px 200px 0 0;
						.transition(.25s);
						height: 140px;
						p { margin: 0; padding-top: 70px; }
					}
					> a.edit-cropping:hover{
						background: rgba(255,255,255,.2);
					}
					> a.upload-photo{
						background: rgba(255,255,255,0);
						border-radius: 0 0 200px 200px;
						.transition(.25s);
						height: 140px;
						p { margin: 0; padding-top: 42px; }
					}
					> a.upload-photo:hover{
						background: rgba(255,255,255,.2);
					}
			}
			#deleteDiv { 
				display: none;
				margin-left: 23%;
				#delete-photo {
					.button-blue-simple();
					text-transform: capitalize;
				}
			}
		}

		#agent-lifestyle-reservation {
			background: #fff;
			height: auto;
			width: 100%;
			padding-bottom: 20px;
			.top {
				width: 100%;
				display: block;
				position: relative;
				color: white;
				text-align: center;
				margin: 0 auto;
				font-family: 'Perpetua';
				padding-bottom: 15px;
				.lifestyletitle {
					color: #555;
					font-family: 'Open Sans';
					font-weight: 400;
					font-size: 1.5em;
				}
				.lifestyleinput {
					width: 434px;
					display: block;
					height: 64px;
					margin: 20px auto 16px;
					z-index: 1000000;
					.lifestyletags {
						padding: 13px 0 0 10px;
						height: 30px;
						border-radius: 4px;
						float: left;
						width: 190px;
						letter-spacing: 1px;
						color: #777;
						background: #fff;
						text-align: left;
						font: 14px Arial;
						font-size: .95em;
						cursor: pointer;
						margin-right: 30px;
						border: 1px solid #999;
						border-radius: 4px;
						.selected {
							display: block;
							height: 30px;
							margin: -13px 0 0 -10px;
							margin-top: -13px;
							margin-left: -10px;
							padding: 13px 0 0 10px;
						}
					}
					.lifestylecity {
						height: 43px;
						float: left;
						width: 200px;
						letter-spacing: 1px;
						color: #777;
						background: #fff;
						text-align: left;
						font: 14px Arial;
						font-size: .95em;
						border-radius: 4px;
						input {
							border-radius: 4px!important;
							padding: 0;
							height: 43px;
							font-size: .95em;
							float: left;
							width: 190px;
							letter-spacing: 1px;
							color: #4e4e4e;
							padding-left: 10px;
							border: 1px solid #999;
						}
					}
					.lifestyletags, .lifestylecity {
						.selectArrow {
							width: 17px;
							text-align: right;
							font-size: .85em;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-o-user-select: none;
							user-select: none;
							display: inline-block;
							background-image: url(../../_img/page-quiz-results/chosen-sprite.png);
							background-repeat: no-repeat;
							background-position: center left;
							position: relative;
							float: right;
							height: 30px;
							z-index: 1;
							margin-right: 5px;
							margin-top: -6px;
						}
						ul {
							position: relative;
							height: 210px;
							left: -10px;
							width: 200px;
							border-radius: 3px;
							overflow-y: scroll;
							background: #E4E4E4;
							padding-top: 2px;
							display: none;
							z-index: 1000000;
							margin-top: 2px;
							li{
								display:block;
								width:80%;
								line-height:20px;
								padding:5px 10%;
								color: #444;
							}
							li:hover{
								color:#fff;
								background:#4096ee;         
							} 
							li.active {
								color:blue;
								background:rgba(255,255,255,.15);  
							}
						}
					}
					input {
						border-radius: 0!important;
						padding: 0;
						//height: 43px;
						border: 0;
						font-size: 1em;
						float: left;
						//width: 251px;
						letter-spacing: 1px;
						color: #4e4e4e;
					}
					button {
						.button-blue();
						text-transform: none;
						border-radius: 0 4px 4px 0;
						background-color: #3BC5EF;
						width: 120px;
						margin: 0;
						display: inline-block;
						float: right;
						height: 43px;
						padding: 0;
					}
				}
			}
			.calltoaction {
				background: #477BAF;
				height: 100px;
				text-align: center;
				a {
					display: inline-block;
					margin-top: 35px;
					color: #fff;
					font-size: 1.8em;
					font-weight: 400;
					span { margin: 0 10px;  }
				}
			}
			#information {
				border: 1px solid rgba(200,200,200,.4);
				box-sizing: border-box;
				background: #ECECEC;
				border-radius: 3px;
				width: 75%;
				position: relative;
				margin: 35px auto 0;
				color: #333;
				bottom: 20px;
				text-align: left;
				z-index: 1;
				.title {
					padding-top: 0;
					font-size: 1.4em;
					color: #555;
					font-weight: 400;
					font-family: 'Open Sans';
					margin: 25px 0 12px;
					letter-spacing: 1px;
					display: block;
					text-align: center;
				}
				.subtitle {
					text-align: center;
					display: block;
					font-weight: 400;
					font-size: 1.1em;
					margin: -8px 0 15px 0;
					color: #444;
				}
				button {
					.button-blue-narrow();
					display: inline-block;
					text-transform: none;
					padding: .25em .85em;
					font-size: .9em;
				}
				#user-data {
					width: 90%;
					margin: 0 auto;
					#description {
						display: block;
						width: 100%;
						height: 175px;
						margin: 0 -12px;
						padding: 12px;
						line-height: 1.5em;
						font-size: 1em;
						border-radius: 4px;
						letter-spacing: 1px;
						font-family: 'Open Sans';
					}
					#counter {
						margin: 3px -12px 0 -12px;
						font-size: .95em;
					}
				}
				.activate-now {
					margin: 10px 10px 0 10px;
					text-align: center;
					#moreAction {
					margin: 10px 10px 0 10px;
						#get-leads { 
							color: #333;
							margin: 5px 0 12px;
							padding: 0 5px;
							line-height: 1.3em;
							font-size: .9em;
							font-weight: 400;
							text-align: center;
							display: block;
							#callme { padding: 0 5px; }
							a { color: #37A3D6 }
							a:hover { color: #74CAF3; }
						}
					}
					button {
						display: block;
						margin: 5px auto 0;
						.button-blue-narrow();
						background-color: #6FC0E6;
						font-size: 1em;
						font-weight: 400;
						width: 230px;
						height: 40px;
						text-transform: capitalize;
						margin-bottom: 20px;
					}
					button:hover { background-color: #85D1F5; }
				}
			}
		}
	}
}
