@import '../_import/helper.less';

#page-explore-the-area{
	overflow: hidden;
	position: relative;
	width: 100%;
	header{
        top: -1px;
		padding: 0;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
        section.sub-nav {
            position: relative;
            width: 100%;
            color: #d7d7d7;
            font-size: .8em;
            background: #363636;
            height: 32px;
            .left {
                display: inline-block;
                margin-left: 12px;
                margin-top: 3px;
                letter-spacing: .05em;
                a{ color: #d7d7d7; }
                a:hover{ color: #fff; }
                span {
                    margin: 0 10px;
                    font-size: .7em;
                }
            }
            .right {
                display: inline-block;
                float: right;
                margin-right: 12px;
                margin-top: 3px;
                letter-spacing: .05em;
                a{
                    margin-left: 30px;
                    color: #d7d7d7;
                }
                a:hover{ color: #fff; }
            }
        }
		section.banner{
			clear: both;
			position: relative;
			overflow: hidden;
			ul {
				background: rgba(250,249,249,.9);
                border-top: 1px solid rgba(52,52,52,.8);
                border-bottom: 1px solid rgba(52,52,52,.4);
                font-weight: 400;
                height: 48px;
                font-size: 1.2em;
                letter-spacing: .05em;
                overflow: auto;
                padding: 0;
                position: absolute;
                bottom: 7px;
				width: 100%;
				margin: 0;
				text-align: center;
				li {
					color: #758892;
                    cursor: pointer;
                    display: inline-block;
                    padding: 0;
                    margin: 11px 3em;
					.transition(.1s);
					&.selected{ color: #041721; }
					&:hover{ color: #041721; }
				}
			}
			img {width: 100%;}
		}
	}
	div.content-wrap{
		height: 800px;
		overflow: hidden;
		position: relative;
		width: 100%;
        background: white;
        top: -8px;
		> section{
			position: absolute;
			top: 0;
			width: 100%;
			&#view-map, &#view-area-guides{ /*left: 100%;*/ }
			&#view-intro{
				.left{
					float: left;
					width: 55%;
                    margin-left: 50px;
                    margin-top: 30px;
                    color: #777777;
                    font-size: 1.15em;
                    line-height: 2em;
                    letter-spacing: .04em;
                    font-weight: 400;
				}
				.right{
					float: right;
					width: 40%;
				}
			}
			&#view-map{
				#places-wrap{
						color: black;
						margin: 0;
						position: relative;
						text-align: center;
						width: 100%;
						z-index: 30;		>p { margin: 0; padding: 1em; }
						>ul#places-menu{
							background: url(../../_img/page-explore-the-area/bg_map_categories.jpg) no-repeat;
							background-size: cover;
							height: 70px;
							padding: 0;
              margin: 0 auto;
              position: relative;
              width: 100%;
							> li {
								background: rgba(255,255,255,0);
								border-right: 1px solid rgba(255,255,255,.2);
								cursor: pointer;
								font-size: 1em;
								display: inline-block;
								height: 100%;
								padding: 0;
								position: relative;
								margin: 0 -1px 0 0;
								width: 14%;
								float: left;
								vertical-align: middle;
								.transition(.25s);
								&:first-child{ width: 15%; }
								&:last-child{ border-right: none; width: 15%; }
								img { position: absolute; margin: 0 auto; left: 0; top: 12px; right: 0; }
								a { 
									display: block;
									margin-top: 37px;
									color: white;
								}
								&:hover{
									z-index: 50;
									background: url(../../_img/page-explore-the-area/bg_map_categories_on.jpg) no-repeat;
									background-size: cover;
								}
								&.selected{
									z-index: 50;
									background: url(../../_img/page-explore-the-area/bg_map_categories_on.jpg) no-repeat;
									background-size: cover;
								}
							}
						}
					}
			}
			&#view-area-guides{
				
			}
		}
	}
	
	
	#map-wrap{
		position: relative;
		z-index: 20;
		.grad {
			height: 25px;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			.grad-vertical(@color1: rgba(0,0,0,0.4); @color2: transparent);
			z-index: 20;
		}
		#map-canvas{
			height: 730px;
			position: relative;
			width: 100%;
			z-index: 10;
			.map-infowindow {
				color: black;
				line-height: 1.1em;
				.address { font-size: 0.8em; }
			}	
		}	
		#places-list{
			background: rgba(0,0,0,0.8);
			height: 100%;
			margin: 0;
			overflow: hidden;
			overflow-y: scroll;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 30%;
			z-index: 20;
			// > li {
			// 	opacity: 0;
			// 	height: 0;
			// 	.transition(500ms);
			// 	&.selected{ height: auto; opacity: 1; }
			// }
			> li > ul > li.title{
				color: @light-blue;
				font-size: 2em;
				letter-spacing: 0.1em;
				padding: 1em 0;
				text-transform: uppercase;
				text-align: center;
			}
			li.place {
				clear: both;
				cursor: pointer;
				display: block;
				font-size: 0.8em;
				line-height: 1.2em;
				margin: 0 0 1em;
				padding: 0.25em 1.5em;
				.transition();
				> div.image { display: inline-block; float: left; height: 100%; width: 10%; margin-right: 1em; > img { width: 100%; } }
				> span { 
					display: block; 
					&.name { font-weight: bold; }
					&.address { }
					&.distance { }
				}
				&:hover {
					background: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}