@import '../_import/helper.less';

.intro-transition(@time: 2.5s){
	-moz-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	-webkit-transition-property: -webkit-transform,opacity;
	-webkit-transition-duration: 2.5s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: transform,opacity;
	transition-duration: 2.5s;
	transition-timing-function: ease-in-out;
}

.videoDiv {
	top: 35%;
	left: 14%;
	z-index: 100!important;
	.closeVid {
		display: none;
        top: 33px;
        left: 45.5%;
        background-color: #000;
   		.border-radius-all(4px);
    }
}

.listing-agent .mobilespace { display: none; }
.listing-agent .phone.mobile { display: none; }


.listing {
		position: relative;
		width: 100%;
		> a.exit-page{
				background: url(../../_img/page-listings/return-gray.png) no-repeat;
				background-position: 0 0;
  			height: 40px;
    		width: 412px;
  			left: 0;
  			letter-spacing: 0.1em;
  			line-height: 40px;
  			margin: 0;
  			position: absolute;
  			top: 0;
  			z-index: 50;
				.transition(0s); 
				color: #a3c0d3;
				.mobile { display: none; }
				p{
					font-size: 1em;
					font-family: 'Open Sans';
					position: absolute;
					left: 7px;
					top: 0;
					margin: 0;
					width: 382px;
					height: 40px;
					text-align: center;
				}
		}
		> a.exit-page:hover{ background-position: -412px 0; color: #4FD7FF; }
		.gallery-full {
				height: 65px;
				width: 225px;
				position: absolute;
				right: 50px;
				bottom: 20px;
				background: rgba(21,21,21,0.6);
				color: white;
				.border-radius-all(20px);
				z-index: 50;
				text-align: center;
				.entypo-resize-full {
						position: absolute;
						font-size: 2em;
						font-weight: 100;
						top: 20px;
						left: 18px;
				}
				p {
						margin: 12px 0 -5px 60px;
						font-size: 1.6em;
						font-weight: 300;
						letter-spacing: .05em;
				}
				.subtitle {
					font-size: 1em;
					position: relative;
					top: 7px;
				}
			.entypo-right-open-big {
				font-size: .75em;
				position: relative;
				top: 7px;
			}
		}
		.gallery-full:hover {
				background: rgba(21,21,21,.72);
				color: #C5E8FF;
		}
		.mobile-listing-title {
			display: none;
			background: #e4486b;
			padding: 10px 0;
			text-align: center;
			width: 100%;
			.mobileinfo div {
				display: inline-block;
				&.slash { margin: 0 15px; }
			}
		}
		> section{
				margin: 0 auto;
				@slideHeight: 595px;
				position: relative;
				width: 100%;
				.listing-menu{
						background: url(../../_img/page-listings/mid_images.png) no-repeat;
						bottom: 0;
						height: 76px;
						left: 0;
						margin: 0;
						position: absolute;
						width: 100%;
						z-index: 45;
						> img{
								height: 76px;
								position: relative;
								margin: 0;
								width: 100%;
						}
						li {
								display: inline-block;
								height: 100%;
								width: 25%;
								&:nth-child(1){ width: 360px; }
								&:nth-child(2){ width: 355px; }
								&:nth-child(3){ width: 360px; }
								a {
										border-top: 0;
										border-bottom: 0;
										display: block;
										height: 100%;
										width: 100%;
								}
						}
				}
				.listing-meta{
						background: #2d2d2d;
						height: 555px;
						padding-top: 40px;
						position: absolute;
						top: 0px;
						width: 382px;
						z-index: 40;
						font-weight: 400;
						overflow-x: hidden;
						#shareDiv {
							background: #363636;
							font-family: 'open sans';
							font-size: 1em;
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							font-weight: 400;
							color: #888;
							text-align: center;
							margin: 0 auto;
							padding: 1em 0;
							.title {
								color: #aeaeae;
								display: block;
								margin: 0;
								font-size: .95em;
							}
							.icons {
								margin: 0 0 5px;
								a {
									display: inline;
									margin: 0 4px; 
								}
							}
							#client-share {
								color: #37B7E8;
								font-weight: 400;
								display: block;
								&:hover { color: #68D1F9; }
							}
						}
						
						> table {
								font-family: @sans; 
								font-size: .85em;
								margin: 4.5em 0 0 1.2em;
								text-align: left;
								width: 90%;
								letter-spacing: 1px;
								th, td { line-height: 1.2em; vertical-align: top; }
								th{ color: #fff; font-size: 1.1em; font-weight: 400; padding-bottom: 1.1em; float: left; }
								.street_address { font-size: 1.8em; margin-bottom: 6px; }
								.city-state { font-size: 1.3em; margin-top: -2px; font-style: italic; margin-bottom: 6px; }
								td{ 	
										font-weight: 100;
										padding-bottom: 0.25em; 
										padding-left: 0.2em; 
										font-size: 1.2em; 
										text-align: center;
										letter-spacing: .05em;
										line-height: 1em;
										margin: 0 0 15px;
										display: block;
										.slash { color: #e4486b; display: inline-block; margin: 0 4px; }
										sup { position:relative; top: -2px; font-size: .6em; }
										&#price {
											font-size: 2.4em;
											padding-top: 2em;
											padding-bottom: .25em;
										}
										&.title{
												font-family: @serif;
												font-size:1.8em;
												letter-spacing: .1em;
												font-weight: 100;
												padding-bottom: 0;
												text-align: center;
												text-transform: uppercase;
										}
								}
						}
				}
				.mobile-listing-meta{
					display: none;
					background: #363940;
					height: auto;
					padding-top: 0;
					position: relative;
					top: 0px;
					width: 100%;
					z-index: 40;
					font-weight: 400;
					display: none;
					margin: 0 auto;
					.mobileinfo {
						.street_address {
							text-align: center;
							padding-top: 16px;
							font-family: 'perpetua';
							font-size: 1.6em;
							letter-spacing: 1px;
							word-spacing: 1px;
						}
						.city {
							text-align: center;
							font-style: italic;
							font-family: 'perpetua';
							font-size: 1.4em;
							letter-spacing: .5px;
							word-spacing: 1px;
							margin-top: -1px;
						}
						.price {
							text-align: center;
							color: #fff;
							padding-top: 25px;
							font-size: 1.75em;
							font-family: 'open sans';
							letter-spacing: 1px;
							font-weight: 300;
						}
						.bottominfo {
							margin: .75em auto;
							overflow: hidden;
							text-align: center;
							font-weight: 300;
							font-size: 1.2em;
							p { display: inline-block; margin: 0; }
							.slash {
								display: inline-block;
								margin: 0 15px;
								color: #e4486b;
								font-weight: 400;
							}
						}
					}
					#shareDiv {
						text-align: center;
						padding-bottom: 15px;
						a img {
							width: 40px;
							height: 40px;
							vertical-align: sub;
							.border-radius-all(100%);
							margin: 10px 5px;
						}
						#client-share {
							display: table;
							margin: 0 auto;
							color: #5CB6EC;
						}
						#client-share:hover { color: #77C8F9; }
					}
					.seemore {
						text-align: center;
						position: absolute;
						left: 0;
						right: 0;
						cursor: pointer;
						width: 150px;
						margin: 0 auto;
						text-transform: capitalize;
						margin-top: 67px;
						font-size: 1.1em;
						text-shadow: 0 0 50px #111;
						z-index: 10;
						span {
							display: block;
							font-size: .8em;
							margin-top: -5px;
						}
					}
					.seeless {
						position: relative;
						margin-top: 0px;
						text-align: center;
						left: 0;
						right: 0;
						cursor: pointer;
						width: 150px;
						margin: 0 auto;
						text-transform: capitalize;
						font-size: 1.1em;
						text-shadow: 0 0 50px #111;
						z-index: 10;
						span {
							display: block;
							font-size: .8em;
							margin-bottom: -5px;
						}
					}
					.abouttexthidden {
						background: #3F90CA;
						height: 110px;
						margin: 0 auto;
						padding: 10px 2% 0;
						font-weight: 300;
						width: 96%;
						span {
							height: 75px;
							display: block;
							overflow: hidden;
							-webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,0)));
							cursor: default;
						}
					}
					.abouttext {
						background: #3F90CA;
						height: auto;
						margin: 0 auto;
						padding: 10px 2% 12px;
						font-weight: 300;
						width: 96%;
						span {
							height: auto;
							display: block;
						}
					}
				}
				.listing-gallery{
						height: @slideHeight;
						margin: 0;
						position: relative;
						z-index: 40;
						width: 100%;
						> li {
							height: @slideHeight;
							position: relative;
							width: 100%!important;
							> img{ height: 100%; width: 100%; }
						}
				}
				.bx-wrapper{
						position: relative;
						margin: 0 0 0 auto;
						overflow: auto;
						padding: 0;
						margin-left: 382px;
						max-width: none!important;
						*zoom: 1;
						.bx-controls-direction{display:none;}
						.bx-controls{
							text-align: center;
							z-index: 9999;
							pointer-events: none;
							height: 65px;
							width: 225px;
							position: absolute;
							right: 50px;
							bottom: 20px;
						}
						.bx-pager{
							font-size: .85em;
							max-width: 150px;
							width: auto;
							position: absolute;
							height: 22px;
							left: 0;
							right: 0;
							bottom: 4px;
							overflow: hidden;
							pointer-events: all;
							margin: 0 auto;
						}
						.bx-controls-auto .bx-controls-auto-item,.bx-pager .bx-pager-item{display:inline-block;font-size:0;*zoom:1;*display:inline;}
						.bx-pager.bx-default-pager a{background:#fff;text-indent:-9999px;display:block;width:12px;height:12px;margin:0 5px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
						.bx-pager.bx-default-pager a.active,.bx-pager.bx-default-pager a:hover{background:#69c5ff;}
				}
		}
		.listing-info{
	  			background: white;
	  			color: black;
	  			margin-bottom: 1.5em;
	  			overflow: hidden;
				position: relative;
				.listing-about{
						padding: 0 0 25px 0; 
						position: relative;
						width: 70%;		
						height: 360px;
						display: inline-block;
						vertical-align: top;
						.video#listing {
							cursor: pointer;
							font-size: .55em;
							font-weight: 400;
							letter-spacing: .05em;
							line-height: 1em;
							color: #3FC3EA;
							font-style: normal;
							margin-top: 6px;
							display: block;
						}
						.video#listing:hover { color: #6CD5F5; }
						
						.favorite{
								cursor: default;
								color: #EB8328;  
								font-size: 1.4em;
								font-weight: 400;  
								left: 780px;
								letter-spacing: .05em;
								line-height: 1em;
								position: absolute;
								top: .9em;
								img {
									position: absolute;
									right: -35px;
									top: 0;
									.transition(.2s); 
									&.top:hover {
										opacity: 0;
									}
								}
						}
						.discover-this-listing{
								cursor: default;
								color: #404040;
								font-size: 2.4em;
								font-weight: 400;
								letter-spacing: 4px;
								font-style: italic;
								width: 100%;
								text-align: center;
								margin: 1em auto .5em;
								span{ 
									font-family: @sans; 
									font-weight: normal; 
									letter-spacing: 1px; 
									line-height: 1em;
									margin: 0;
								}
								.title {
									color: #e4486b; 
								}
								.subtitle1 { color: #666; }
								.subtitle2 {
									letter-spacing: .08em;
									top: 33px;
									position: absolute;
								}
								#video-view {
									font-size: 1em;
									display: block;
								}
						}
						.text{ 
								max-height: 295px;
								min-height: 100px;
								overflow-y: auto;
								height: auto;
								position: relative;
								font-size: 1em;
								line-height: 2em;
								color: #777;
								letter-spacing: .05em;
								font-weight: 400;
								display: block;
								margin: 0 0 0 7%;
						}
				}
				#mobile-disclaimer {
					position: absolute;
					top: 15px;
					right: 15px;
					z-index: 99;
					font-family: 'Open Sans',sans-serif;
					font-size: .85em;
					font-weight: normal;
					font-style: italic;
					letter-spacing: .5px;
					line-height: 1em;
					margin: 0;
					color: #888;
					display: none;
				}
				.mapIt {
					position: relative;
					display: inline-block;
					text-align: center;
					width: 30%;
					height: 360px;
					margin: 2em -10px .5em 0;
					.explore {
						margin: 0 auto;
						position: absolute;
						width: 100%;
						color: #4e9cc0;
						text-align: center;
						font-size: 1em;
						div {
							position: relative;
							text-align: center;
							width: 310px;
							height: 310px;
							line-height: 310px;
							margin: 0 auto;
							font-weight: 400;
							display: block;
							color: #fff;
							.border-radius-all(100%);
							p {
								margin: 0 auto;
								width: 85%;
								line-height: 1.5em;
								display: inline-block;
								vertical-align: middle;
							}
							&.geo-failed { background: #DBDBDB; }
							&.geo-listing-failed { background: rgba(50,50,50,.5); z-index: 99; pointer-events: none; }
						}
					}
					#container {
						position: relative;
						left: 0%;
						width: 100%;
						height: 100%;
						display: block;
						padding: 0;
						opacity: 0;
						#go-explore {
							pointer-events: all;
							.blue-button();
							background: none;
							border: 1px solid #65B5E4;
							color: #65B5E4;
							position: relative;
							display: block;
							padding: .45em 1.5em;
							.border-radius-all(8px);
							text-transform: none;
							font-size: 1.1em;
							position: relative;
							margin: 0 auto;
							bottom: 40px;
							&:hover {
								color: #e4486b;
								border-color: #e4486b; 
								background: none;
							}
						}
							#listing-map {
								pointer-events: all;
								position: relative;
								left: 0;
								width: 100%;
								height: 100%;
								display: inline-block;
								-webkit-clip-path: circle(155px at 50% 155px);
								clip-path: circle(155px at 50% 155px);
								.infowindow-content{
									.box-sizing();
									height: 70px;
									margin: .1em;
									//overflow: hidden;
									width: 130px;
									display: inline-flex;
									> img { float: left; }
									> li {
										display: inline-block;
										height: 70px;
										vertical-align: top;
										&.image{ padding-right: .5em; width: 80px; }
										&.meta{
											color: black;
											font-family: @sans;
											position: relative;
											text-align: left;
											h5{
												color: black;
												display: block;
												font-family: @serif;
												font-size: 1em;
												line-height: 1em;
												margin: 0;
											}
											span{ font-size: 0.8em; }
											a { position: absolute; left: 0; bottom: -7px; }
										}
									}
								}
							}
						}
						span#disclaimer{
							font-family: @sans; 
							font-size: .8em;
							font-weight: 400;
							font-style: italic;
							letter-spacing: .5px;
							color: #888;
							position: relative;
							margin: 2.5em 0 0;
							bottom: 1.5em;
							display: block;
							cursor: default;
						}
					}
				.explore:hover{ background-position: -263px 0; }
				.listing-agent {
					position: relative;
					text-align: center;
					width: 100%;
					height: auto;
					background: #ebebeb;
					display: block;
					padding: .75em 0 1.5em;
						#info {
							position: relative;
							width: 53%;
							left: 47%;
						}
						h3{  
							color: #777;
							letter-spacing: .05em;
							margin: 1em 0 .5em;
							text-transform: capitalize;
							font-family: 'open sans';
							font-weight: 400;
							font-size: .85em;
							text-align: left;
							font-style: italic;
						}
						img { 
							.border-radius-all(50%); 
							width: 55px;
							height: 55px;
							border: 2px solid #888;
							position: absolute;
							left: -80px;
							margin-top: 39px;
						}
						.meta {
								display: inline;
								text-align: left;
								h4 {
									color: #404040;
									font-family: 'open sans';
									font-size: .95em;
									font-variant: normal;
									font-weight: 500;
									letter-spacing: .05em;
									margin: 0 0 3px;
								}
								> span {
									color: #333;
									display: block;
									font-family: 'open sans';
									font-size: .9em;
									margin-top: -12px;
								}
								.slash {
									display: inline-block;
									margin: 0 6px;
								}
								.phone{ 
									font-size: 1em; 
									display: inline-block;
									font-weight: 400;
								}
								.company{
									font-size: .95em;
									letter-spacing: .075em;
									margin: -6px 0 14px;
									font-family: 'open sans';
									font-variant: normal;
									display: block;
									font-weight: 400;
								}
								.contact-button {
									font-size: 1em;
									display: inline-block;
								}
								a {
									color: #208ED0;
									&:hover { color: #208ED0; }
								}
						}
				}
				.premier-agent{
						background: url(../../_img/page-listings/portal-agent-bg.jpg) no-repeat;
						background-size: cover;
						display: none;
						position: relative;
						text-align: center;
						width: 100%;
						height: 280px;
						margin: 0 4% 0 0;
						#intro {
							right: 64%;
							width: 33%;
							position: absolute;
							display: inline-block;
							float: left;
							margin-top: 50px;
							color: #444;
							h3{  
								font-family: @sans;
								color: #555;
								font-size: 2.2em;
								font-weight: 400;
								letter-spacing: 1px;
								margin: .5em 0 0;
							}
							p {
								font-family: @sans;
								font-weight: 400;
								font-size: .9em;
								line-height: 1.7em;
								width: 75%;
								margin: 15px auto 0;
							}
						}
						a {
							img { 
								.border-radius-all(50%); 
								height: 250px; 
								border: 3px solid white;
								margin-top: 15px;
							}
						}
						.meta {
							position: absolute;
							left: 64%;
							top: 40px;
							font-family: @sans;
							margin-bottom: 1em;
							height: 80%;
							h4 {
								color: #EF5D7D;
								font-style: italic;
								font-size: 2.5em;
								font-weight: 500;
								letter-spacing: 1px;
								margin: 0;
								font-family: 'open sans';
								line-height: .9em;
							}
							#tip {
								display: block;
								margin-top: 20px;
								img {
									width: 20px;
									height: 20px;
									display: inline;
									vertical-align: -webkit-baseline-middle;
								}
								> span { 
									color: #555;
									display: inline-block;
									font-size: 1.7em;
									font-weight: 400;
								}
							}
							.phone{ font-size: 1.6em; margin-bottom: .5em; }
							.company{
								font-size: 1.2em;
								margin-bottom: .1em;
								font-weight: 400;
								color: #444;
								display: block;
								margin-top: 14px;
							}
							.contact-button {
								.button-blue-simple();
								padding: .6em 2.5em;
								background-color: #4ca0d3;
								position: relative;
								display: inline-block;
								text-transform: none;
								margin-top: 15px;
								font-size: 1.2em;
								&:hover{ background-color: #5CB4E8; }
							}
							.go-profile {
						  		pointer-events: all;
						  		.blue-button();
						  		background: rgba(255,255,255,.5);
						  		border: 1px solid #4CA0D3;
						  		color: #4CA0D3;
									padding: .55em 2.5em;
									position: relative;
									display: inline-block;
									text-transform: none;
									margin-top: 15px;
									font-size: 1.2em;
									margin-left: 12px;
									font-weight: 400;
									&:hover { color: #EF5D7D; border-color: #EF5D7D; background: rgba(255,255,255,.5); }
						  	}
						}
						
				}
				#header {
					.premier-agent-label {
						position: relative;
						top: 0;
						font-size: 2.2em;
						font-weight: 300;
						letter-spacing: .05em;
						padding-top: 20px;
						display: block;
						color: #F29542;
						margin: .68em 0 0 0;
						.line1 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display: inline-block;
							position:absolute;
							margin:13px 0 0 13px;
							top:20px;
							border-image:linear-gradient(to left, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.line2 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display:inline-block;
							position:absolute;
							margin:13px 13px 0 0;
							right:0;
							top:20px;
							border-image: linear-gradient(to right, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.title {
							margin:0;
							display:block;
							text-transform:uppercase;
							font-family:'Perpetua';
							font-weight:300;
							color:#555;
							text-align:center;
							letter-spacing:.4em;
							font-size:.85em;
						}
					}
					.sortlanguage {
						position: absolute;
						font-family: 'Perpetua';
						font-size: 1.2em;
						color: #444;
						text-transform: capitalize;
						right: 0;
					}
					#agents-header {
						 color:#555;
						font-size:1.15em;
						letter-spacing:2px;
						display:block;
						font-weight:400;
						text-transform:uppercase;
						font-family:'Perpetua';
						text-align:center;
						margin-top:5px;
						margin-bottom: 1.5em;
					}
				}
				#mobileheader {
					display: none!important;
					.premier-agent-label {
						position: relative;
						top: 0;
						font-size: 2.2em;
						font-weight: 300;
						letter-spacing: .05em;
						padding-top: 20px;
						display: block;
						color: #F29542;
						margin: .68em 0 0 0;
						.line1 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display: inline-block;
							position:absolute;
							margin:13px 0 0 13px;
							top:20px;
							border-image:linear-gradient(to left, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.line2 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display:inline-block;
							position:absolute;
							margin:13px 13px 0 0;
							right:0;
							top:20px;
							border-image: linear-gradient(to right, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.title {
							margin:0;
							display:block;
							text-transform:uppercase;
							font-family:'Perpetua';
							font-weight:300;
							color:#555;
							text-align:center;
							letter-spacing:.4em;
							font-size:.85em;
						}
					}
					.sortlanguage {
						position: absolute;
						font-family: 'Perpetua';
						font-size: 1.2em;
						color: #444;
						text-transform: capitalize;
						right: 0;
					}
					#agents-header {
						 color:#555;
						font-size:1.15em;
						letter-spacing:2px;
						display:block;
						font-weight:400;
						text-transform:uppercase;
						font-family:'Perpetua';
						text-align:center;
						margin-top:5px;
						margin-bottom: 1.5em;
					}
				}
				.more-agents {
					display: block;
					position: relative;
					width: 100%;
					padding: 15px 0 14px;
					text-align: center;
					background: #f5f5f5;
					#more {
						.button-blue();
							.blue-button();
							background: none;
							border: 1px solid #65B5E4;
							color: #65B5E4;
							position: relative;
							display: table;
							margin: 0 auto;
							padding: .45em 2em;
							.border-radius-all(8px);
							text-transform: none;
							font-size: 1.1em;
							span {
								position: relative;
								font-size: .75em;
								top: -1px;
							}
							&:hover {
								color: #e4486b;
								border-color: #e4486b; 
								background: none;
							}
					}
				}
				.premier-agents {
					position: relative;
					top: 0;
					width: 100%;
					padding: 0 0 0 0;
					height: 100%;
					display: block;
					#banner {
						width: 100%;
						height: 200px;
						background: #eff4fa;
						display: block;
						.imageDiv {
							position: absolute;
							right: 63%;
							height: 175px;
							width: 300px;
							top: 14px;
							.image1, .image2, .image3, .image4 {
								position: absolute;
								opacity: 0;
								-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
								transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
								.intro-transition(2.5s);
								height: 111px;
								.border-radius-all(100%);
								border: 1px solid #999;
								img { height: 100%; .border-radius-all(100%); }
								&.animate {
									opacity: 1;
									-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
									transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
									.intro-transition(2.5s);
								}
							}
							.image1 {
								z-index: 9;
								right: 0;
								-webkit-transform: scale(.8) rotate(90deg) translate(50px) rotate(-85deg);
								transform: scale(.8) rotate(90deg) translate(50px) rotate(-85deg);
								&.animate {
									-webkit-transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
									transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
								}
							}
							.image2 {
								z-index: 8;
								right: 82px;
								top: -7px;
								height: 94px;
								-webkit-transform: scale(.8) rotate(90deg) translate(30px) rotate(-85deg);
								transform: scale(.8) rotate(90deg) translate(30px) rotate(-85deg);
								&.animate {
									-webkit-transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
									transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
								}
							}
							.image3 {
								z-index: 7;
								right: 130px;
								top: 50px;
								height: 84px;
								-webkit-transform: scale(.8) rotate(90deg) translate(-50px) rotate(-85deg);
								transform: scale(.8) rotate(90deg) translate(-50px) rotate(-85deg);
								&.animate {
									-webkit-transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
									transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
								}
							}
							.image4 {
								z-index: 6;
								right: 66px;
								top: 91px;
								height: 82px;
								-webkit-transform: scale(.8) rotate(90deg) translate(-45px)rotate(-85deg);
								transform:scale(.8) rotate(90deg) translate(-45px)rotate(-85deg);
								&.animate {
									-webkit-transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
									transform: scale(1) rotate(0deg) translate(0) rotate(0deg);
								}
							}
						}
						.logoDiv {
							position: relative;
							left: 42%;
							top: 74px;
							opacity: 0;
							-webkit-transform: translate3d(-15px, 0, 0);
							transform: translate3d(-15px, 0, 0);
							-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
							transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
							.intro-transition(2s);
							&.animate {
								opacity: 1;
								-webkit-transform: translate3d(0, 0, 0);
								transform: translate3d(0, 0, 0);
								-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
								transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
								.intro-transition(2s);
							}
							.title {
								display:inline-block;
								color: #555;
								font-size: 3.25em;
								.life, .agents { color: #29abff; }
							}
							.subtitle {
								font-size: 1em;
								display: block;
								color: #555;
								margin-top: 3px;
							}
						}
					}
					.agent-list {
								ul { 
								 	li{
										.agent-li {
											text-align: center;
											width: 94%;
											padding: 2% 3%;
											height: 310px;
											display: block;
											font-family: 'Open Sans',sans-serif;
											border-top: 1px solid #ebebeb;
											.tag-icons {
												position: relative;
												display: inline-block;
												left: 0;
												width: 35%;
												overflow: hidden;
												float: left;
												margin: 0;
												top: 60px;
												.tag-group {
													height: 150px;
													overflow: hidden;
													float: left;
													max-width: 387px;
													overflow: hidden;
													.tag {
														width: 120px;
														height: 130px;
														background: #e4e4ff;
														display: inline-block;
														text-align: center;
														text-transform: capitalize;
														cursor: default;
														.border-radius-all(10px);
														position: relative;
														border: 2px solid #fff;
														margin: 0 5px 16px 0;
														#tagWrapper {
															overflow: hidden;
														}
														&.active {
															background: #ebf5ff;
															.transition(.1s);
															&:hover {
																border: 2px solid #CBE6F7;
																.transition(.1s);
															}
														}
														&.selected {
															border-color: #A2D2F1;
															background: #ebf5ff;
															&:hover {
																border-color: #A2D2F1;
															}
															&:after, &:before {
																top: 100%;
																left: 50%;
																border: solid transparent;
																content: " ";
																height: 0;
																width: 0;
																position: absolute;
																pointer-events: none;
															}
															&:after {
																border-color: rgba(136, 183, 213, 0);
																border-top-color: #ebf5ff;
																border-width: 13px;
																margin-left: -13px;
															}
															&:before {
																border-color: rgba(194, 225, 245, 0);
																border-top-color: #A2D2F1;
																border-width: 16px;
																margin-left: -16px;
															}
														}
														a {
															display: block;
															margin-top: 15px;
															height: 115px;
															img {
																width:68px;
																height:auto;
															}
														}
														span {
															font-size: 1.15em;
															font-weight: 400;
															color: #444;
															line-height: .95em;
															display: block;
															position: absolute;
															width: 120px;
															margin-top: -39px;
															pointer-events: none;
														}
													}
												}
												.text {
													margin: 5px 0 0 0;
													width: 90%;
													height: 110px;
													overflow-y: auto;
													font-size: 1em;
													line-height: 1.5em;
													color: #777;
													letter-spacing: .5px;
													font-weight: 400;
													text-align: left;
												}

											}
											.agent-li-contact {
												position: relative;
												text-align: center;
												display: inline-block;
												width: 30%;
												float: left;
												span {
													display: block;
												}
												#meetMe {
													font-style: italic;
													font-size: 2em;
													color: #EF5D7D;
													font-weight: 400;
													position: relative;
													width: 200%;
													right: 50%;
												}
												#tagline {
													color: #555;
													font-style: italic;
													font-size: .95em;
												}
												#img-holder {
													width: 100%;
													margin: 30px 0 10px;
												}
												img { .border-radius-all(50%); height: 175px; width: 175px; display: block; margin: 0 auto 10px; border: 2px solid #D2D2D2; }
												.mobile-tag-icons { display: none; }
												.text#mobile-text { display: none; }
												button {
													.button-blue(); 
													padding: .75em 2em; 
													margin: 5px; 
													background-color: #2d8bce; 
													text-transform: capitalize;
													font-size: 1em;
													.border-radius-all(8px);
													&:hover { background-color: #399cbf; }
												}
												.view-profile {
													background: none;
													border: 1px solid #2d8bce;
													color: #2d8bce;
													&:hover { color: #EF5D7D; border-color: #EF5D7D; background: none; }
												}
											}
											.mobile-buttons {
												display: none;
												button {
													.button-blue(); 
													padding: .75em 2em; 
													margin: 5px; 
													background-color: #2d8bce; 
													text-transform: capitalize;
													font-size: 1em;
													.border-radius-all(8px);
													&:hover { background-color: #399cbf; }
												}
												.view-profile {
													background: none;
													border: 1px solid #2d8bce;
													color: #2d8bce;
													padding: .7em 2em;
													&:hover { color: #EF5D7D; border-color: #EF5D7D; background: none; }
												}
											}
											.info {
												position: relative;
												display: inline-block;
												width: 35%;
												.meta {
													background: #eff4fa;
													height: auto;
													text-align: left;
													text-transform: none;
													position: relative;
													max-width: 300px;
													margin: 0;
													display: inline-block;
													padding: 1.5em;
													.border-radius-all(20px);
													color: #666;
													top: 56px;
													left: 15px;
													#title-first, #title-second {
														font-size: 2em;
														font-weight: 100;
													}
													#title-second {
														font-weight: 400;
														letter-spacing: 0.07em;
													}
													#agent-desc {
														font-size: 1em;
														display: block;
													}
												}
											}
										}
									}
								}
							}
					> tr {
						overflow-x: hidden;
						>td {
							.leftArrow {
								width: 40px;
								height: 40px;
								-ms-transform: rotate(180deg); /* IE 9 */
								-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
								-o-transform: rotate(180deg);
								-moz-transform: rotate(180deg);
								transform: rotate(180deg);
								span {
									width: 40px;
									height: 40px;
									-ms-transform: rotate(180deg); 
									-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
									-o-transform: rotate(180deg);
									-moz-transform: rotate(180deg);
									transform: rotate(180deg);
								}
							}
							.rightArrow {
								width: 40px;
								height: 40px;
								span {
									width: 40px;
									height: 40px;
								}
							}
							
						}
					}
				}
				/*
				.explore {
						background: url(../../_img/page-listings/explore.jpg) no-repeat;
						background-size: cover;
						background-repeat: no-repeat;
						float: left;
						position: relative;
						width: 100%;
						height: 403px;
						overflow-x: hidden;
						#container {
							position: absolute;
							opacity: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							#listing-map {
								width: 40%;
								height: 100%;
								float: left;
								border: 1px solid rgba(175,175,175,1);
								.infowindow-content{
									.box-sizing();
									height: 80px;
									margin: .1em;
									overflow: hidden;
									width: 100%;
									display: inline-flex;
									> img { float: left; }
									> li {
										display: inline-block;
										height: 80px;
										vertical-align: top;
										&.image{ padding-right: .5em; width: 80px; }
										&.meta{
											color: black;
											font-family: @sans;
											position: relative;
											text-align: left;
											h5{
												color: black;
												display: block;
												font-family: @serif;
												font-size: 1.3em;
												line-height: 1.1em;
												margin: 0;
											}
											span{ font-size: 1em; }
											a { position: absolute; left: 0; bottom: 0; }
										}
									}
								}
							}
							.text {
									position: relative;
									margin-right: 5%;
									float: right;
									top: 13%;
									text-align: center;
									font-family: @serif;
									font-size: 1.5em;
									letter-spacing: .05em;
									line-height: .35em;
							}
						}
						.title { z-index: 4; color: white; text-transform: uppercase; display: block; font-size: 1.5em; padding-top: 35px; padding-bottom: 5px; }
						p { z-index: 4; color: white; }
						img { z-index: 2; }
						.transition(.5s); 
						&:hover{ opacity:.8; }

				}
				*/
				.tags{
						background: url(../../_img/page-listings/bg-tags.jpg) no-repeat;
						background-size: cover;
						background-color: #4196C7;
						position: relative;
						width: 60%;
						padding: 0 20%;
						text-align: center;
						.titleListings {
								color: #fff;
								font-family: 'open sans';
								font-size: 2em;
								text-transform: none;
								letter-spacing: 2px;
								position: relative;
								font-weight: 400;
								padding: 1.25em 0 .25em;
						}
						.titleCity {
								color: #fff;
								font-family: 'open sans';
								font-size: 2em;
								text-transform: none;
								letter-spacing: 2px;
								position: relative;
								font-weight: 400;
								padding: 1em 0 .25em;
						}
						ul {
								position: relative;
								list-style: none;
								width: 100%;
								letter-spacing: 1px;
								overflow: hidden;
								margin: 0;
								> li{
										display: inline-block;
										font-size: 1em;
										font-weight: 400;
										text-transform: uppercase;
										//width: 25%;
										line-height: 2.25em;
										margin: 10px;
										> span{ 
											color: white; 
											border: 1px solid white;
											.border-radius-all(2em);
											padding: .6em 2em;
											text-transform: capitalize;
										}
								}
						}
						.showTagsListings {
							margin-top: 10px;
							padding-bottom: .5em;
							border-bottom: 1px solid white;
						}
						.showTagsCity {
							margin-top: 10px;
							padding-bottom: 2em;
						}
				}

		}

		.adminControl {
			//	display: inline;
			//.add-tags {
			//	float: left;
			//}

			height: 520px;

			button {
				.button-blue-simple();
				padding:.2em .5em;
				margin-top:.65em;
			}

			.transferControl {
				position: absolute;
				top: 90%;
		    	right: 2em;
		    	margin: 1em;
		    	span {
		    		margin: 5px;
		    	}
			}

			.bedBathControl {
				position: absolute;
				left: 79.5%;
				top: 83%;
		    	right: 2em;
		    	width: 25%;
		    	margin: 1em;
		    	span {
		    		margin: 5px;
		    	}
		    	input {
		    		width: 4em;
		    	}
			}
		
			.improvementBySeller {
				position: absolute;
				left: 80%;
				top: 18%;
		    	right: 2em;
		    	width: 25%;
		    	margin: 1em;
		    	height: 70%;
		    	label h1{
		    		margin-top: 2px;
		    		margin-bottom: 2px;
		    	}
			} 

			.imageEditControl {
				position: absolute;
				left: 80%;
				top: 0%;
				right: 2em;
				//margin: 1em;
				//padding-bottom: 5px;
				
				.buttonContainer {
					padding-bottom: 10px;
					border-bottom: thin solid rgba(255,255,255,1);
					display: inline-block;
					.blackout {
						margin-right: 10px;
					}
					.spin-wrap {
						height: 30px;
						width: 30px;
						padding-right: 10px;
						float: right;
						//right: -100px;
						//position: relative;
						margin: 0 auto;
						//top: 45%;
						//left: -8px;
						z-index: 10;
						//.spinner { .spinner(@light-blue2, 16px); }
					}
				}
				h1{
		    		margin-top: 2px;
		    		margin-bottom: 2px;
		    	}
			}
			.add-tags {
				//width: 90%;
			}
			#tag-window{
				display: inline;
				text-align: center;
				position: relative;
				overflow: auto;
				color: white;
				.tag-definition{
	        	float: left;
	        	margin: 0 0 0 3.4em;
					h5{ 
			          font-weight:400;
			          font-size:.95em;
			          font-family:@sans;
			          display: inline;
			          letter-spacing: 1px;
			          padding-right: 7px;
			        }
			        span{ font-weight: 100; }
				}
				.tag-categories{
			        margin-top:2.5em;
			        margin-left:-18em;
			        &:after{ .h2-after(); width: 60%; }
					> li {
	         			text-transform: uppercase;
						cursor: pointer;
				        font-weight:400;
				        font-size:15px;
				        letter-spacing:1px;
						display: inline-block;
						margin-right: 1em;
						.transition(0.25s);
						.entypo-record{ display: block; }
						&.selected{  color: #21c1e7; }
					}
				}
				.tag-next{
					//width: 120px;				
					position: absolute;
					left: 67%;
					top: 30%;
					z-index: 8;
					//display: inline-block;
					//figure {
					//	//diaplay: inline;
					//}
					button {
						//z-index: 8;
						//width: 60px;
						//height: 60px;
						//ont-size: 3em;
						//font-weight: 400;
						.button-blue();
						font-size: 1.2em; 
						background: transparent;
						padding: 3px;
						border: 2px;
						.text{
							padding-left: 0.5ex;
							padding-right: 0;
						}
					}
				}
				.tags-list{
			        margin-top: 3.5em;
			        line-height: 2.5em;
			        margin-left: 3.4em;
					position: relative;
					text-align: left;
					li.tag {
						cursor: pointer;
						display: inline-block;
						position: relative;
	          			text-transform: lowercase;
						width: 250px;
						.text{
							position: relative;
							.transition();
							span.checkmark { 
								color: #21c1e7;
								left: -1.5em;
								opacity: 0;
								position: absolute;
								.transition();
								img { height: 17px*0.75; width: 22px*0.75; }
							}
						}
						&.matched { 
							span.checkmark {opacity: 1;} 
						}
						&:hover{ color:#21c1e7; }
					}
				}				
				.main-info{
					background: url(../../_img/_sellers/tags.png) no-repeat top center;
					padding-top: 8em;
			    	position: absolute;
			    	right: 2em;
			    	width: 25%;
			    }	
			    .tag-confirm{
			    	position: absolute;
			    	left: 74%;
			    	top: 85%;
			    	//font-weight:400;
			    	button {
			    		background-color: rgba(0,0,0,0);
			    		color: white;
				        font-size: 0.8em;
				        font-family:@sans;
				    }
			    }
			}
		}
}

.open-gallery{
	margin: 0;
	position: absolute;
	width: 100%;
	height: 375px;
	display: none;
}

.bxslider-nav{
	margin-left: 382px;
	position: absolute;
	height: 595px;
	width: calc(~'100% - 382px');
	span.nav {
		z-index: 100;
		position: absolute;
		top: 49%;
		margin: 0 1em;
		font-size: 2.2em; 
		&.right { right: 0; }
		a { color: rgba(255,255,255,.8); }
		a:hover { color: rgba(255,255,255,1); }
		.left-control, .right-control { font-size: 2em; }
	}
}

.imageGalleryDiv {
	position: absolute;
	z-index: 11000;
	opacity: 0;
	.gallery-bg {
		position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 90;
    background: #111;
    opacity: .75;
	}
}
.gallery-window {
	.box-sizing();
	position: relative;
	text-align: left;
	background-color: #222;
	width: 90%;
	height: 92%;
	position: fixed;
	display: block;
	margin-top: 0 !important;
	margin: 0 auto;
	top: 4%;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 99;
	.gallery-header {
		background: #525252;
		.listing-details {
			color: #D4D4D4;
			padding: 14px 10px;
			cursor: default;
			span {
				padding: 0 15px;
				border-right: 1px solid #888888;
				&.baths { border-right: none; }
			}
		}
		.gallery-close{
			cursor: pointer;
			font-size: 1.2em;
			position: absolute;
			color: #fff;
			z-index: 25;
			top: 14px;
			right: 25px;
			.close {
				display: inline-block;
				margin-right: 5px;
			}
			&:hover{ color: white; }
		}
	}
	section.top{
		.box-sizing();
		clear: both;
		overflow: auto;
		position: relative;
		width: 100%;
		height: calc(~'100% - 54px');
		> div { float: left; }
		.gallery-image {
			//width: 1030px!important;
			//height: 550px!important;
			background: fade(white, 2.5%);
			overflow: auto;
			position: relative;
			height: 100%;
			float: left;
			width: 78%;
			.image{
				height: 100%;
				overflow: hidden;
				position: relative;
				width: 100%;
				z-index: 10;
				margin: 0 auto;
				.image-scale {
					cursor: default;
					width: 100%;
					height: 100%;
					position: relative;
					background-size: contain!important;
					background-position: 50% 50%!important;
					background-repeat: no-repeat!important;
					
				}
			}
			.controls {
				position: absolute;
				top: 45%;
				width: 100%;
				z-index: 20;
				> a {
					background: rgba(255,255,255,.8);
					font-size: 2em;
					opacity: 0;
					padding: .5em .75em;
					position: relative;
					&:hover{ opacity: 1; }
				}
				.prev{ float: left; }
				.next{ float: right; }
			}
			.spin-wrap {
				height: 128px;
				width: 128px;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 42%;
				z-index: 10;
			}
		}
		.gallery-meta {
			.box-sizing();
			height: 100%;
			padding: 0;
			position: relative;
			width: 22%;
			background: #F7F7F7;
			.image-counter{
				display: block;
				font-size: 0.75em;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 2.5em;
			}
		}
	}
	.gallery-nav{
		position: absolute;
    margin-top: 54px;
    top: 0;
    left: 0;
    height: calc(~'100% - 54px');
    width: 78%;
		z-index: 99;
		pointer-events: none;
		a {
			color: rgba(255,255,255,0.8);
			font-size: 1em;
			position: absolute;
			top: 50%;
			margin: 0 20px;
			pointer-events: all;
			&.prev { left: 0; }
			&.next { right: 0; }
			&:hover{ color: white; }
			span { font-size: 4em; position: relative; }
		}
		.image-counter {
			position: absolute;
			right: 0;
			top: 0;
			height: 30px;
			.border-radius-all(0 0 0 6px);
			padding: 5px 0 2px;
			background: rgba(39,39,39,.5);
			span { 
				padding: 0 20px;
				&.bold { padding: 0; color: #e4486b; font-weight: 800; }
			}
		}
	}
	.gallery-thumbnails-wrap{
		position: relative;
		width: 100%;
		height: 100%;
		> #gallery-thumbnails{
			overflow-y: scroll!important;
			width: 100%;
			height: 100%;
			> ul {
				overflow-y: scroll;
				height: 94%;
				padding: 0 4%;
				margin: 4% 0 2%;
				width: 92% !important;
				transform: initial !important;
				> li.gallery-thumb {
					background: fade(white, 2.5%);
					border: 2px solid transparent;
					cursor: pointer;
					float: left;
					height: 120px!important;
					padding: 0;
					position: relative;
					margin: 2px;
					width: calc(~'50% - 8px') !important;
					.image{
						height: 120px!important;
						left: 0;
						overflow: hidden;
						position: absolute;
						top: 0;
						width: 100%!important;
						img { height: 120px; width: 100%; }
					}
					.spin-wrap {
						height: 30px;
						width: 30px;
						position: relative;
						margin: 0 auto;
						top: 33%;
						left: -4px;
						z-index: 10;
						//.spinner { .spinner(darken(@light-blue2, 10%), 16px, 1.3); }
						.spinner { width: 30px; height: 30px; }
					}
					&.active{ border-color: #e4486b; }
				}
			}
		}
	}
}

.agent-squeeze{
		display: block!important;
		float: right;
		position: relative;
		width: 27.5%;
		display: inline;
		h3{  
			display: block!important;
			left: 0;
			float: left;
			width: 100%;
			color: lighten(black, 25%);
			font-size: 1.0em;
			font-weight: 100;
			letter-spacing: .04em;
			margin: .5em 0 0!important;
			text-transform: uppercase;
			display: inline;
		}
		img { width: 50px!important; height: 50px!important; border: 2px solid #888!important; display: block; position: relative; float: left; margin-top: 10px; margin-right: 20px;   margin-bottom: 30px; .border-radius-all(50%); }
		.meta {
			display: inline;
			position: relative;
			float: left;
			text-align: left;
			width: 100%;
			h4 {
				display: block;
				color: lighten(black, 25%);
				font-size: 1em!important;
				font-variant: small-caps;
				font-weight: 100;
				letter-spacing: .04em;
				margin: 10px 0 0 !important;
				line-height: 1em;
			}
			> span { color: lighten(black, 25%); font-variant: small-caps; }
			.phone{ font-size: 1.2em!important; display: inline!important; position: relative; top: -7px; }
			.company{ font-size: .8em!important; margin-top: 6px!important; display: block!important; position: relative; margin-bottom: 0!important; line-height: 1em; }
			.contact-button {
				border: 0!important;
				background: none!important;
				.border-radius-all(0);
				font-family: 'open sans'!important;
				text-transform: none!important;
				padding: 0!important;
				color: #4ca0d3!important;
				font-size: 1.1em!important;
				position: relative;
				font-weight: 400!important;
			}
			.contact-button:hover {color:#6fc2f4!important;background-color:none!important}
		}
}

