@import '../_import/helper.less';

.videoDiv {
	z-index: 12!important;
	.closeVid {
		display: none;
        top: -570px;
        left: 92%;
        background-color: #000;
   		.border-radius-all(4px);
    }
}

.videoDiv#portal{
		position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -515px;
    margin-top: -350px;
}

#agent-portal-reservation {
	background: #fff;
	height: auto;
	width: 100%;
	margin-bottom: -6px;
	.top {
		width: 100%;
		display: block;
		position: relative;
		background: #477BAF;
		color: white;
		text-align: center;
		margin: 0 auto;
		font-family: 'Perpetua';
		padding-bottom: 15px;
		.title {
			padding-top: 60px;
			font-family: 'Open sans';
			font-size: 1.6em;
			letter-spacing: 1.5px;
		}
		.subtitle {
			font-size: 1.3em;
			letter-spacing: 1px;
			color: #DCDCDC;
			margin: 4px 0;
		}
		.portalinput {
			width: 600px;
			display: block;
			height: 44px;
			margin: 20px auto 40px;
			.urlinput {
				padding: 13px 0 0 10px;
				height: 30px;
				.border-radius-all(4px 0 0 4px);
				float: left;
				width: 219px;
				letter-spacing: 1px;
				color: #4e4e4e;
				background: white;
				text-align: left;
				font: 14px Arial;
				font-size: 1em;
			}
			input {
				.border-radius-all(~'0!important');
				padding: 0;
				height: 43px;
				border: 0;
				font-size: 1em;
				float: left;
				width: 251px;
				letter-spacing: 1px;
				color: #4e4e4e;
			}
			button {
				.button-blue();
				text-transform: none;
				border-radius: 0 4px 4px 0;
				background-color: #3BC5EF;
				width: 120px;
				margin: 0;
				display: inline-block;
				float: right;
				height: 43px;
				padding: 0;
			}
		}
		.portalinputmobile {
			width: 395px;
			display: none;
			height: 44px;
			margin: 20px auto 16px;
			font-size: .95em;
			.urlinput {
				padding: 13px 0 0 10px;
				height: 30px;
                .border-radius-all(4px 0 0 4px);
   				float: left;
				width: 141px;
				letter-spacing: 0;
				color: #4e4e4e;
				background: white;
				text-align: left;
				font: 14px Arial;
				font-size: 1em;
			}
			input {
				.border-radius-all(~'0!important');
				padding: 0;
				height: 43px;
				border: 0;
				font-size: 1em;
				float: left;
				width: 155px;
				letter-spacing: 0;
				color: #4e4e4e;
			}
			button {
				.button-blue();
				text-transform: none;
				.border-radius-all(0 4px 4px 0);
				background-color: #3BC5EF;
				width: 89px;
				margin: 0;
				display: inline-block;
				float: right;
				height: 43px;
				padding: 0;
				letter-spacing: 2px;
			}
		}
		.hiddendiv {
			width: 100%;
			height: 15px;
		}
		.more { 
			font-size: 1.4em;
			letter-spacing: 1px;
			cursor: pointer;
			color: #dcdcdc;
			width: 125px;
			margin: 0 auto;
			div { font-size: 1.1em; margin-top: -5px; }
		}
		.less { 
			font-size: 1.4em;
			letter-spacing: 1px;
			cursor: pointer;
			color: #dcdcdc;
			width: 125px;
			margin: 0 auto;
			div { font-size: 1.1em; margin-top: -5px; }
		}
		.whatisportal {
			margin: 20px 0 40px;
			.left {
				width: 50%;
				display: inline-block;
				float: left;
			}
			.right {
				width: 50%;
				display: inline-block;
				text-align: left;
				margin: 30px 0 25px;
				font-size: .9em;
				.title {
					padding-top: 0;
					padding-left: 5%;
					font-weight: 400;
					font-size: 3em;
				}
				p {
					padding: 0;
					padding-left: 5%;
					font-size: 1.4em;
					font-family: 'Open Sans';
					width: 70%;
					line-height: 1.5em;
					font-weight: 400;
				}
			}
		}
	}
	.mid {
		width: 100%;
		display: inline-block;
		.title {
			color: #333;
			font-size: 1.5em;
			font-family: 'Open Sans';
		}
		p {
			color: #333;
			font-size: 1em;
			font-family: 'Open Sans';
		}
		.left {
			width: 50%;
			display: inline-block;
			float: left;
			padding-bottom: 115px;
			.title {
					color: #333;
					font-size: 1.8em;
					font-family: 'Open Sans';
					padding: 0 14%;
					display: block;
					margin-top: 2.5em;
					font-weight: 400;
				}
				p {
					color: #333;
					font-size: 1em;
					font-family: 'Open Sans';
					padding: 0 18% 0 14%;
					font-weight: 600;
				}
		}
		.right {
			width: 50%;
			display: inline-block;
			.title {
					color: #333;
					font-size: 1.8em;
					font-family: 'Open Sans';
					padding: 0 14%;
					display: block;
					margin-top: 2.5em;
					font-weight: 400;
				}
				p {
					color: #333;
					font-size: 1em;
					font-family: 'Open Sans';
					padding: 0 18% 0 14%;
					font-weight: 600;
				}
		}
		.mobilefree { 
			display: none;
			font-size: .95em;
			padding-bottom: 110px;
			width: 100%;
			background-color: #F1F1F1;
			.title {
					color: #333;
					font-size: 1.8em;
					font-family: 'Open Sans';
					padding: 40px 8% 0;
					display: block;
					margin-top: 0;
					font-weight: 400;
				}
				p {
					color: #333;
					font-size: 1em;
					font-family: 'Open Sans';
					padding: 0 8%;
					font-weight: 600;
				}
		}
		.divider {
			position: absolute;
			margin: 0 auto;
			width: 100%;
			.line1 {
				height: 165px;
				width: 1px;
				top: 20px;
				position: absolute;
				background: #CECECE;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
			.line2 {
				height: 165px;
				width: 1px;
				top: 235px;
				position: absolute;
				background: #CECECE;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
			span {
				color: #CECECE;
				font-size: 3em;
				font-weight: 100;
				margin: 0 auto;
				left: 0;
				right: 0;
				position: absolute;
				width: 40px;
				text-align: center;
				top: 195px;
			}
		}
	}
	.circle {
		background: #dc4d78;
    color: #fff;
    height: 400px;
    width: 400px;
    left: 0;
    right: 0;
    margin: -120px auto 0;
    position: absolute;
    z-index: 10;
    .border-radius-all(100%);
    text-align: center;
		.title {
			font-size: 2.5em;
			line-height: 1.3em;
			font-weight: 400;
			margin-top: 50px;
			display: block;
			padding: 0 75px;
		}
		p {
			line-height: 1.65em;
			font-weight: 400;
			width: 90%;
			margin: 30px auto;
		}
	}
	.bottom {
		background: url(../../_img/page-agent-reservation/background-new.jpg) no-repeat;
		height: 865px;
		background-size: 100%;
		width: 100%;
		.sidetext {
			position: absolute;
			right: 100px;
			color: #333;
			width: 25%;
			margin-top: -25px;
			.title {
				font-size: 2.5em;
				color: #dc4d78;
				font-weight: 400;
			}
			p {
				font-weight: 400;
				font-size: 1.25em;
				width: 80%;
				line-height: 1.5em;
				margin-top: .5em;
			}
		}
		.pointer {
			background: url(../../_img/page-agent-reservation/purple-popup.png) no-repeat;
			position: absolute;
			width: 381px;
			height: 79px;
			right: 100px;
			margin-top: 550px;
			color: #fff;
			p {
				padding-left: 90px;
				font-weight: 400;
				font-size: 1.4em;
				margin-top: .5em;
				line-height: 1.25em;
			}
		}
	}
	.calltoaction {
		background: #477BAF;
		height: 100px;
		text-align: center;
		a {
			display: inline-block;
			margin-top: 35px;
			color: #fff;
			font-size: 1.8em;
			font-weight: 400;
			span { margin: 0 10px;  }
		}
	}
	#warn-email-usage {
		color: #1A4663;
		font-family: 'Perpetua';
		font-weight: 300;
		line-height: 100%;
		font-size: 1.0em;
		padding: 1em;
		text-align: center;
		div#opt-in {
			margin-top: 5px;
		}
	}
	#information {
		box-shadow: 0 2px 5px rgba(0,0,0,.15);
    border: 1px solid rgba(200,200,200,.4);
    box-sizing: border-box;
    background: #ECECEC;
    .border-radius-all(3px);
    width: 75%;
    position: relative;
    margin: 35px auto 0;
    color: #333;
    bottom: 20px;
    text-align: left;
		.title {
				padding-top: 0;
				font-size: 1.5em;
				color: #555;
				font-weight: 400;
				font-family: 'Perpetua';
				margin: 25px 0 12px;
				letter-spacing: 1px;
				display: block;
				text-align: center;
		}
		button {
				.button-blue-narrow();
				display: inline-block;
				text-transform: none;
				padding: .25em .85em;
				font-size: .9em;
		}
		.left {
			float: left;
			width: 50%;
			.names {
				padding: 0 12px;
				width: 56%;
				height: 38px;
				display: block;
				margin: 10px auto;
			}
		}
		.right {
			float: left;
			width: 50%;
		}
		#user-data {
			width: 96%;
			margin: 0 auto;
			input, .states {
				select {
					display: inline;
					max-width: 80%;
				}
				background: white;
				padding: 8px 12px;
				width: 56%;
				height: 20px;
				display: block;
				margin: 10px auto;
				.border-radius-all(2px);
				border: 1px solid #dcdcdc;
				font-size: .8em;
				letter-spacing: .5px;
				color: #333;
				font-weight: 400;
				font-family: 'Open Sans';
			} 
			input::-webkit-input-placeholder {
				font-weight: 300;
				letter-spacing: 1px;
			}
			input:-moz-placeholder { /* Firefox 18- */
				font-weight: 300;  
				letter-spacing: 1px;
			}
			input::-moz-placeholder {  /* Firefox 19+ */
				font-weight: 300;
				letter-spacing: 1px;
			}
			input:-ms-input-placeholder {  
				font-weight: 300;
				letter-spacing: 1px;
			}
			input:focus { border: 1px solid #7CBDDC; }
			input#first_name {
					display: inline-block;
					width: 45%;
					margin: 0 0 0 -12px;
					float: left;
				}
			input#last_name {
					display: inline-block;
					width: 45%;
					margin: 0 -12px 0 0;
					float: right;
				}
		}
		#lifestyles {
			select{
				color: #333;
				border: 1px solid #777;
				.border-radius-all(3px);
				display: block;
				margin: 7px auto;
				padding: 6px 60px 6px 8px;
				height: 31px;
				width: 200px;
			}
		}
		#city {
			margin-left: 20px;
			label {
				display: inline;
				margin-left: 10px;
			}
		}
		.reserve-now {
			margin: 10px 10px 0 10px;
			.reserveportal{
				display: block;
				color: #333;
				font-weight: 400;
				padding: 0 12%;
				margin-top: 10px;
				line-height: 1.4em;
				margin-bottom: 25px;
				a{
					color: #00A8FF;
				}
				a:hover{
					color: #25B5FF;
				}
				input{
					margin: 0 6px 0 0;
				}
			}
			#disclaimer { 
				color: #333;
				margin-top: 10px;
				display: block;
				padding: 0 5%;
				line-height: 1.3em;
				font-size: .7em;
				font-weight: 400;
				text-align: left;
			}
			button {
				display: block;
				margin: 5px auto 0;
				.button-blue-narrow();
				background-color: #6FC0E6;
				font-size: 1em;
				font-weight: 400;
				width: 225px;
				height: 40px;
				text-transform: capitalize;
			}
			button:hover { background-color: #85D1F5; }
			span {
				font-size: .8em;
			}
		}
		.reserveportal{
			color: #333;
			font-size: .9em;
			padding: 1em 10%;
			margin: 0 auto 1em;
			display: block;
			font-weight: 400;
			line-height: 1.4em;
			input{
				display: inline-block;
				margin-bottom: 40px;
				float: left;
			}
			a{ color: #00a8ff }
			a:hover{ color: #25b5ff }
		}
	}

	#marker {
        display: inline;
        padding-left: 10px;
        color: red;
				position: absolute;
				right: 0;
				margin-right: 12.5%;
				margin-top: -44px;
    }
}
