@import '../_import/helper.less';

#page-register{
    overflow: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    font-weight: 400;
    section{
        position: relative;
        .calltoaction{
            position: fixed;
            z-index: 9999;
            background: rgba(255,255,255,0.85);
            height: 88px;
            width: 1440px;
            cursor: pointer;
            .transition(0.25s);
            display: none;
            &:hover{background:rgba(225,225,225,.85);}
        }
        .top{
            background: url(../../_img/page-register/background.jpg) no-repeat;
            background-size: 100% 100%; overflow: hidden;
            position: relative;
            height: auto;
            width: 100%;
            .right-col{
                width: 24%;
								margin: 2% 8% 1% 8%;
                display: inline-block;
                overflow: hidden;
                position: relative;
								border-radius: 3px 3px 0 0;
								box-shadow: 0 2px 5px rgba(0,0,0,0.15);
								border: 1px solid rgba(200,200,200,0.4);
								box-sizing: border-box;
								background: #ececec;
                h2{
										.default-text();
										margin: 1.5em 0 1em 0;
										text-align: center;
										font-family: @serif;
										font-size: 1.6em;
										line-height: .2em;
										color: #222;
                }
                #login-form {
										label { display: none; }
                    input {
												background: white;
												padding: 8px 12px;
												width: 74%;
												height: 20px;
												display: block;
												margin: 10px auto;
												border-radius: 2px;
												border: 1px solid #dcdcdc;
												font-size: .8em;
												letter-spacing: .5px;
												color: #333;
												font-weight: 400;
												font-family: 'Open Sans';
                    }
										input::-webkit-input-placeholder {
											font-weight: 300;
											letter-spacing: 1px;
										}
										input:-moz-placeholder { /* Firefox 18- */
											font-weight: 300;  
											letter-spacing: 1px;
										}
										input::-moz-placeholder {  /* Firefox 19+ */
											font-weight: 300;
											letter-spacing: 1px;
										}
										input:-ms-input-placeholder {  
											font-weight: 300;
											letter-spacing: 1px;
										}
										input:focus { border: 1px solid #7CBDDC; }
										#login-button{
											.ll-light-blue-button();
											padding: 0;
											height: 32px;
											width: 150px;
											margin: 5px auto 0;
											display: block;
										}
                }
                #register{
                    input {
												background: white;
												padding: 8px 12px;
												width: 74%;
												height: 20px;
												display: block;
												margin: 10px auto;
												border-radius: 2px;
												border: 1px solid #dcdcdc;
												font-size: .8em;
												letter-spacing: .5px;
												color: #333;
												font-weight: 400;
												font-family: 'Open Sans';
                    }
										#submitbtn{
												.ll-light-blue-button();
												height: 32px;
												width: 150px;
												margin: 1em auto 0;
												display: block;
												padding: 0;
										}
                    div#opt-in {
                        color: #1A4663;
                        font-family: 'Perpetua';
                        font-weight: 300;
                        line-height: 100%;
                        font-size: 1.0em;
                        padding: .5em;
                        text-align: center;
                        margin-top: 5px;
                        input {
                            width: auto;
                            display: inline-block;
														top: 7px;
														right: 1px;
														position: relative;
                        }
                    }
					input::-webkit-input-placeholder {
						font-weight: 300;
						letter-spacing: 1px;
					}
					input:-moz-placeholder { /* Firefox 18- */
						font-weight: 300;  
						letter-spacing: 1px;
					}
					input::-moz-placeholder {  /* Firefox 19+ */
						font-weight: 300;
						letter-spacing: 1px;
					}
					input:-ms-input-placeholder {  
						font-weight: 300;
						letter-spacing: 1px;
					}
					input:focus { border: 1px solid #7CBDDC; }
					input#first_name {
						display: inline-block;
						width: 45%;
						margin: 0 0 0 -12px;
						float: left;
					}
					input#last_name {
						display: inline-block;
						width: 45%;
						margin: 0 -12px 0 0;
						float: right;
					}
					#name {
						text-align: center;
						input { 
							width: 33%;
							display: inline-block;
							margin: 0;
						}
					}
									#verifyDiv {
										.check-pass {
											position: absolute;
											padding: 9px 12px;
											width: 74%;
											height: 20px;
											margin: 0 auto;
											left: 0;
											right: 0;
											pointer-events: none;
											#marker {
												display: inline;
												color: red;
												top: -2px;
												position: relative;
												float: right;
											}
										}
									}
									#professional {
										#realtor {
											display: inline-block;
											width: 14px;
											bottom: -5px;
											margin: 0 .25em 0 10%;
											position: relative;
										}
										span {
											position: relative;
											display: inline-block;
											color: @ll-dark-text;
											font-size: .95em;
										}
									}
                    #profData {
                        display: none;
                    }
                    #bre {
                        display: block; 
                        margin-bottom: 5px;
                        #invite {
                            margin-left: 41px;
														margin-right: 20px;
														display: inline-block;
                        }
												.statescode {
													text-align: center;
													select {
														width: 31.5%;
														display: inline-block;
														margin: 0;
														height: 38px;
														border: 1px solid #dcdcdc;
														color: @ll-dark-text!important;
														padding-left: 8px;
														border-radius: 2px;
													}
													input {
														width: 41%;
														display: inline-block;
														margin: 0;
													}
													input:focus { border: 1px solid #7CBDDC; }
												}
                    }
                }
                .login-box{
                    margin-top: 2em;
                    margin-bottom: 1.5em;
                    position: relative;
                    left: 35px;
                    width: 50%;
                }
                #login-form {
					color: #111;
					line-height: 1em;
					margin: 0 auto;
					position: relative;
					text-align: left;
					width: 100%;
    				* { .transition(); }
    				p {
    				 	&.login-submit{ display:none; }
    				 	> label{
    				 		line-height: 2.1em;
    				 		position: absolute;
    				 		left: -100px;
    				 		width: 100px;
    				 	}
    				}
    				.forgot-password{
							font-size: .75em;
							line-height: 0;
							letter-spacing: 0;
							margin: 0 0 2em 10%;
							a { font-weight: 400; color: #18A3D7; }
							a:hover { color: #1c82c6; }
    				}
    				.login-button{
							padding: 1.3em .5em;
							position: absolute;
							right: -65px;
							top: -2px;
    					.border-radius-all(40px);
    				  	span{
    				  		color: white;
    				  		padding: 0.25em 0.6em;
    				  		background: -moz-linear-gradient(
    				  			top,
    				  			#039ed1 0%,
    				  			#0b7b97);
    				  		background: -webkit-gradient(
    				  			linear, left top, left bottom,
    				  			from(#039ed1),
    				  			to(#0b7b97));
    				  		.border-radius-all(20px);
    				  		border: 6px solid #282828;
    				  		position: relative;
    				  		left: 1px;
    				  	}
    				  	&:hover span{
    				  		cursor:pointer;
    				  		background: -moz-linear-gradient(
    				  			top,
    				  			#0b7b97 0%,
    				  			lighten(#039ed1, 15%));
    				  		background: -webkit-gradient(
    				  			linear, left top, left bottom,
    				  			from(#0b7b97),
    				  			to(lighten(#039ed1, 15%)));
    				  	}
    				}
    			}
                #result {
                    margin-left: 40%;
                    color: red;
                }
                }
                .left-col {
                    float: left;
                    padding-top: 70px;
                    padding-left: 7%;
                    width: 53%;
                    display: inline-block;
                    .text {
                        font-size: 2em;
                        font-family: 'Open Sans';
                        line-height: 1.3em;
                        text-align: left;
												cursor: default;
                        p {
                            display: block;
                            width: 100%;
                            margin: 0;
                        }
                        .small {
														width: 78%;
														padding-top: .25em;
														line-height: 1.25em;
														font-size: .7em;
														font-weight: 300;
                        }
                        .sub-title {
                            padding: .5em 0 .25em;
                            line-height: 1em;
                            font-size: 1.4em;
														font-weight: 300;
                        }
                        .matchtitle {
                            font-size: 2.25em;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
                    .video {
                        position: relative;
                        clear: both;
												letter-spacing: .1em;
												display: inline-block;
												margin: 5px auto 0;
												color: #114E6B;
												font-family: 'Open Sans';
												font-size: 1.5em;
												left: 27%;
                    }
                }
                .take-time{
                    text-align:center;
                    background:rgba(0,0,0,.7);
                    height:98px;
                    width:100%;
                    position:absolute;
                    bottom:0;
                    cursor:pointer;
                    .transition(0.25s);
                    &:hover{background: rgba(50,50,50,.7);}
                }
        }
    }
}