@import '../_import/helper.less';

@blue-two: #4386ad;

@color-default: #fff; // default color
@color-default-light: #DDDDDD; // default color light
@color-active: #FFFFFF; // color when active or checked
@color-active-light: #00D24A; // active color light
@color-focus: #6FB5FB; // color when focused

@margin-el: 7px; // default margin for our custom inputs

.main{padding-bottom: 20px;}
a.profilelogo{ position: absolute; z-index: 25; margin: 1em 0 0 1em; }

.red .ui-slider-range {
    background: #AFCDF0!important;
}
.green .ui-slider-range  {
    background: #7CB8FF!important;
}
.blue .ui-slider-range {
    background: #499fff!important;
}

.fh-switch {
    position: relative;
}
.fh-switch > [type="checkbox"]:checked,
.fh-switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    &:checked + label:after {
        background-color: @color-active-light;
    }
    &:not(:checked) + label:after {
        background-color: @color-default-light;
    }
    &:checked + label + .fh-switch-knob {
        right:9px;
        background-color: @color-active;
    }
    &:not(:checked) + label + .fh-switch-knob {
        right: 25px;
        background-color: @color-default;
    }
    &:focus + label:after,
    &:focus + label + .fh-switch-knob {
        box-shadow: 0 0 6px 0 @color-focus;
    }
    &[disabled] {
        & + label,
        & + label:after,
        & + label + .fh-switch-knob {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
    & + label {
        cursor: pointer;
        display: inline-block;
        margin-right: @margin-el;
        margin-top: @margin-el;
        margin-bottom: @margin-el;
        // apply padding so the switch fits inside the label
        //padding-right: 60px;
        &:after {
            content: "";
            top: 0;
            right: 10px;
            width: 33px;
            height: 17px;
            // use absolute for better positioning
            position: absolute;
            .border-radius-all(30px);
        }
        &+ .fh-switch-knob {
            top: 1px;
            width: 15px;
            height: 15px;
						box-shadow: 0px 1px 2px rgba(0,0,0,.5);
						margin-right: 2px;
            .border-radius-all(30px);
            display: inline-block;
            position: absolute;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: right .1s ease-in, background-color .1s ease-in;
            -moz-transition: right .1s ease-in, background-color .1s ease-in;
            -o-transition: right .1s ease-in, background-color .1s ease-in;
            -ms-transition: right .1s ease-in, background-color .1s ease-in;
        }
    }
}

/* The whole custom context menu */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

#quiz-results{
		width: 100%;
		background: #444;
		article { overflow: auto; position: relative; }
		//---- Mobile Layout ---- //
		article .mobile-nav{
			display: none;
			color: #fff;
			padding: 0;
			font-size: 1.2em;
			background: #424242;
			font-weight: 300;
			letter-spacing: 1px;
			z-index: 999;
			height: 45px;
			position: relative;
			.mobile-nav-header {
				height: 45px;
				z-index: 999;
				background: #424242;
			}
			.centerarrow {
				position: absolute;
				left: 0;
				right: 0;
				top: 2px;
				text-align: center;
				width: 120px;
				margin: 0 auto;
				display: block;
				font-size: .8em;
				cursor: pointer;
				.title { position: relative; top: 0; }
				.arrow {
					height: 26px;
					-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					-webkit-transform: translateY(10%);
					-ms-transform: translateY(10%);
					transform: translateY(10%);
					display: block;
					margin-top: -11px;
					.click {
						padding: 0 1em .5em;
						display: inline-block;
					}
					&.active {
						-webkit-transform: translateY(-10%);
						-ms-transform: translateY(-10%);
						transform: translateY(-10%);
					}
					.left, .right {
						background: #fff;
						height: 1px;
						width: 11px;
						display: inline-block;
						pointer-events: auto;
						-webkit-backface-visibility: hidden;
						-ms-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						backface-visibility: hidden;
						outline: 1px solid transparent;
					}
					.left {
						-webkit-transform-origin: 100% 100%;
						-ms-transform-origin: 100% 100%;
						transform-origin: 100% 100%;
						-webkit-transform: rotate(40deg);
						-ms-transform: rotate(40deg);
						transform: rotate(40deg);
						-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						&.active {
							-webkit-transform-origin: 100% 0%;
							-ms-transform-origin: 100% 0%;
							transform-origin: 100% 0%;
							-webkit-transform: rotate(-40deg);
							-ms-transform: rotate(-40deg);
							transform: rotate(-40deg);
						}
					}
					.right {
						-webkit-transform-origin: 0% 100%;
						-ms-transform-origin: 0% 100%;
						transform-origin: 0% 100%;
						-webkit-transform: rotate(-40deg);
						-ms-transform: rotate(-40deg);
						transform: rotate(-40deg);
						-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						&.active {
							-webkit-transform-origin: 0% 0%;
							-ms-transform-origin: 0% 0%;
							transform-origin: 0% 0%;
							-webkit-transform: rotate(40deg);
							-ms-transform: rotate(40deg);
							transform: rotate(40deg);
						}
					}
				}
			}
			.backbutton {
				margin: 0;
				font-size: .9em;
				position: absolute;
				left: 10px;
				top: 9px;
				a {
					display: block;
					color: #3d9ee2;
					font-size: .9em;
					letter-spacing: 1px;
					font-weight: 400;
					span {
						font-size: .8em;
						position: relative;
						top: -2px;
						margin-right: 1px;
					}
				}
				a:hover { color: #58B2F1 }
			}
			div.view-selector .smallmobile { display: none; }
			ul.view-selector {
				margin: 0; 
				font-size: .9em; 
				position: absolute;
				right: 10px;
				top: 9px;
				a { color: #3d9ee2; font-size: .9em; letter-spacing: .5px; font-weight: 400; }
				a:hover { color: #58B2F1 }
				li.active { display: none; }
			}
			ul.resultsnav {
				margin: 0;
				display: block; 
				z-index: -1; 
				position: relative; 
				top: -335px;
				height: auto; 
				.transition(.75s); 
				padding-top: 4px; 
				padding-bottom: 10px;
				background: #424242;
				width: 100%;
				&.animatedown {
					-webkit-transform: translate3d(0,335px,0); 
					-moz-transform: translate3d(0,335px,0); 
					-o-transform: translate3d(0,335px,0); 
					-ms-transform: translate3d(0,335px,0); 
					transform: translate3d(0,335px,0); 
				}
				&.animateup {
					-webkit-transform: translate3d(0,-335px,0); 
					-moz-transform: translate3d(0,-335px,0); 
					-o-transform: translate3d(0,-335px,0); 
					-ms-transform: translate3d(0,-335px,0); 
					transform: translate3d(0,-335px,0); 
				}
				li.more, li.option, li.add-tags-main, li.edit-tags {
					opacity: 0;
					-webkit-transform: translate3d(0, -22px, 0); 
					transform: translate3d(0, -22px, 0); 
					.transition(0.5s); 
					transition-property: transform, opacity, -webkit-transform;
					width: 86%;
					height: auto;
					display: block; 
					margin: 0 auto; 
					color: #fff; 
					font-size: .8em;
					border-bottom: 1px solid #585858;
					padding: 10px 0 0;
					&.animatein {
						opacity: 1; 
						-webkit-transform: translate3d(0, 0, 0); 
						transform: translate3d(0, 0, 0);
						.transition(0.5s); 
						transition-property: transform, opacity, -webkit-transform;
					}
					a { color: #fff; }
					a.mlink {
						color: white;
						font-weight: 300;
						display: block;
						padding: 10px 0 9px;
						margin-top: -10px;
						font-size: 1em;
						span {
							font-size: .9em;
							position: absolute;
							margin-left: 4px;
							margin-top: .5px;
						}
					}
					a:hover { color: #3d9ee2; }
				}
				li.option { -webkit-transition-delay: 0.26s!important; transition-delay: 0.26s!important; }
				li.add-tags-main { -webkit-transition-delay: 0.32s!important; transition-delay: 0.32s!important; }
				li.edit-tags { -webkit-transition-delay: 0.38s!important; transition-delay: 0.38s!important; border: none; }
				li.more {
					text-align: center;
					height: 35px;
					-webkit-transition-delay: 0.2s!important;
					transition-delay: 0.2s!important;
					padding-bottom: 8px;
					a {
						color: #fff;
						display: inline-block;
						text-align: center;
						position: relative;
						margin: 0 7.5%;
					}
				}
			}
			.dropdown.active { display: block; }
			.edit-tags .dropdown {
					.title-tags{
							display: block;
							width: 100%;
							margin: 0 auto 10px;
							text-transform: none;
							font-family: 'Open Sans';
							font-size: 1.1em;
							text-align: center;
							font-weight: 300;
							letter-spacing: .075em;
							color: #F4F4F4;
					}
					.subtitle{
						font-size: 1.2em;
						display: block;
						margin: -7px 0 1.1em 1.2em;
						text-transform: none;
						font-family: 'Open Sans';
						letter-spacing: 1px;
						color: #5fb4f1;
						cursor: pointer;
						text-align: center;
						.questioncircle {
							position: absolute;
							margin-left: -39px;
							height: 28px;
							width: 28px;
							margin-top: -2px;
							background: #389ae0;
							border-radius: 100%;
							font-weight: 600;
							span {
								position: relative;
								top: 1px;
								left: 1px;
								color: #fff;
							}
						}
					}
					.add-tags {
						padding: 1em; 
						position: relative;
						p a { 
							display: inline; 
							margin-left: 1em; 
							font-weight: 400; 
							color: #2B9BCB;
						}
					}
					.editable-tags {
						padding: 0 0 1em;
						.title { color: #fff; }
					}
					p { color: #1d1d1d; margin: 0; }
				}
			.dropdown { 
				position: relative;
				background: #424242;
				overflow: visible;
				width: 100%;
				z-index: 100; 
				-webkit-border-radius: 3px; 
				-moz-border-radius: 3px; 
				border-radius: 3px;
				.saveandclose {
					.button-blue();
					margin: 0 auto 20px;
					display: block;
					cursor: pointer;
					padding: .7em 2.5em;
					text-transform: none;
				}
				.editable-tags .quiz-tags {
					line-height: inherit; 
					padding: 0; 
					width: 100%;
					.top .fh-switch { top: 1px; }
					.top .sub { top: -5px; }
					.top .fh-switch>[type="checkbox"]:checked:not(:checked)+label:after, .top .fh-switch>[type="checkbox"]:not(:checked):not(:checked)+label:after { background-color: #00d24a; }
					.top .fh-switch>[type="checkbox"]:checked:not(:checked)+label+.fh-switch-knob, .top .fh-switch>[type="checkbox"]:not(:checked):not(:checked)+label+.fh-switch-knob { right: 9px; background-color: #fff; }
					.top .line { width: 28%; margin-left: 5%; }
					.tags-wrap { background: #2D2D2D; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; max-height: 325px; }
					ul.tags-list {
						max-height: 195px; 
						overflow: auto; 
						padding-top: 5px;
						li.tag { color: white; font-size: 1.2em; width: 43%; padding: .4em 0 .2em 1.5em; }
						li.percent { width: 49.5%; left: 0; margin-top: 2px; }
						li.tag a.entypo-cancel-squared { display: inline-block; }
						li.percent div.percent-bar { top: 5px; height: 9px; width: 100%; left: 5px; }
						li.percent div.percent-bar .ui-slider-handle { width: 1em; height: 1em; z-index: 99; .border-radius-all(100%); }
					}
				}
				.add-tags-content {
					#tag-window {
						min-height: 390px;
						h2 { color: #444; margin: .5em 0; text-transform: capitalize; text-align: center; display: none; }
						.top { 
							display: block; 
							margin-top: 10px;
							.left, .right { font-size: 1.2em; display: inline-block; color: #ED7A33; font-weight: 400; padding-bottom: 1px; }
							.left { width: 27%; border-right: 1px solid #C5C5C5; margin-right: -1px; }
							.right { width: 50%; margin-left: 14px; }
						}
					}
					div.tag-definition{ 
						display: none!important;
						h5{ color: #1E9EE0; display: inline; font-size:1em; text-transform: uppercase; }
						span{ font-size: 0.8em; }
					}
					ul.tag-categories {
						float: left;
						width: 27%;
						height: 328px;
						border-right: 1px solid #C5C5C5;
						margin: -1px -1px 0 0;
						li{
							cursor: pointer;
							display: inline-block;
							font-size: 1em;
							margin: 0;
							text-align: left;
							text-transform: capitalize;
							width: 100%;
							height: 28px;
							margin: 3.3px 0;
							.title { color: inherit; }
							.entypo-record { display: none; }
							span { display: block; transition:.25s; }
						}
						li:hover, li:hover span { color: #39CBFF; }
						li.active, li.active span { color: #39CBFF; font-weight: 400; }
					}
					.list-wrap {
						/* float: left; */
						/* width: 68%; */
						height: 100%;
						display: block;
					}
					ul.tags-list {
						top: 0;
						opacity: 0;
						position: absolute;
						z-index: -1;
						-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:10px;-moz-column-gap:10px;column-gap:10px;-moz-transition: 0s;-webkit-transition: 0s;-o-transition: 0s;transition: 0s;
						li {
							color: #fff;
							cursor: pointer;
							display: inline-block;
							font-size: 0.9em;
							margin: 1px 0;
							text-align: left;
							width: 100%;
							transition: 0s;
							text-transform: capitalize;
							height: 28px;
							overflow: hidden;
						}
						.tag:hover { color: #39CBFF; }
						.tag .checkmark{
							opacity: 0;
							display: inline-block;
							transition: 0s;
							margin-right: 6px;
							img { 
								width: 22px;
								&.desktop { display: none; }
								&.mobile { display: inline; }
							}
						}
					}
					ul.tags-list.active { 
						opacity: 1; 
						z-index: 10; 
						left: 15px; 
						position: relative;
						.tag.active .checkmark { 
							opacity: 1;
						}
					}
					ul.tags-list#home-features { 
						-webkit-column-count: 1; 
						-moz-column-count: 1; 
						column-count: 1;
						li { overflow: visible; }
					}
					ul.tags-list#privacy { 
						-webkit-column-count: 1; 
						-moz-column-count: 1; 
						column-count: 1;
						li { overflow: visible; }
					}
					ul.tags-list#region { 
						-webkit-column-count: 1; 
						-moz-column-count: 1; 
						column-count: 1;
						li { overflow: visible; }
					}
				}
			}
			.option .dropdown { 
				.quiz-tags { 
					padding: 0 0 1em;
					p { color: #1d1d1d; margin: 0; display: block; margin-bottom: 15px; text-transform: capitalize; font-variant: normal; font-size: 1.5em; letter-spacing: .025em; font-weight: 600; }
					.price-slider, .home-options { margin: .5em 0 .25em 0; }
					select.price, select.option {
						cursor: pointer;
						font-size: 1em;
						font-weight: 400;
						width: 150px;
						color: #797979;
						border: none;
						border-color: #fff;
						margin-right: 0;
						margin-left: 0;
						box-shadow: 0 0 0;
						-webkit-appearance: none;
						text-indent: 6px;
						background: url(../../_img/page-quiz-results/arrow-down.png) no-repeat right;
						background-size: 16%;
						background-color: #fff;
						border-radius: 5px;
						padding: .8em 2em .7em 1em;
						margin: 1px 6px;
						text-transform: capitalize;
					}
				}
			}
			.more .dropdown {
				p { color: #1d1d1d; margin: 0; }
				.save-search { float: left; width: 50%; height: 120px; padding: 0; background: #E7E7E7; .border-radius-all(5px 0 0 0); }
				.my-searches { width: 50%; height: 120px; padding: 0; float: right; background: #F5F5F5; .border-radius-all(0 5px 0 0); }
				.new-search { float: left; width: 50%; height: 120px; padding: 0; background: #F5F5F5; .border-radius-all(0 0 0 5px); }
				.favorites { width: 50%; height: 120px; padding: 0; float: right; background: #E7E7E7; .border-radius-all(0 0 5px 0); }
				.title { display: block; color: #121212; padding: 1em 1em .5em 1em; font-weight: 600; }
				.save-search a { display: block; margin: 17px auto; text-align: center; }
				.my-searches a { display: block; margin: 17px auto; text-align: center; }
				.new-search a { display: block; margin: 17px auto; text-align: center; }
				.favorites a { display: block; margin: 17px auto; text-align: center; }
				.save-search p { text-align: center; margin-top: -5px; }
				.my-searches p { text-align: center; margin-top: -5px; }
				.new-search p { text-align: center; margin-top: -5px; }
				.favorites p { text-align: center; margin-top: -5px; }
				.save-search img { height: 53px; width: 55px; margin-top: 5px; }
				.my-searches img { height: 53px; width: 70px; margin-top: 5px; }
				.new-search img { height: 53px; width: 55px; margin-top: 5px; }
				.favorites img { height: 53px; width: 55px; margin-top: 5px; }
				.my-cities { padding: 1em; }
				.my-cities p a { display: inline; margin-left: 1em; font-weight: 400; color: #2B9BCB; }
				
				.savecollapse {
					text-align: center;
					p { text-align: center; }
					input { padding: 5px 10px 8px auto!important; margin: 5px auto 8px!important; }
					button { .button-blue(); padding: 0.5em 1.8em; text-transform: capitalize; }
				}
			}
			.citiescollapse #cities-popup>h2 {
				font-weight: 400;
				padding: 0;
				text-transform: uppercase;
				color: #666;
				text-align: center;
				margin: .5em 0;
			}
			.citiescollapse #cities-popup ul.nearby-cities {
				height: 300px;
				margin: 0 auto;
				overflow-y: scroll;
				text-align: left;
				width: 104%;
				margin-left: -2%;
				margin-bottom: 1.5em;
			}
			.citiescollapse #cities-popup	ul.nearby-cities>li.city {
				-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
				border: 2px solid #ccc;
				cursor: pointer;
				display: inline-block;
				height: 0;
				margin: 0;
				overflow: hidden;
				padding-bottom: 15%;
				position: relative;
				width: 50%;
				transition: .1s;
				height: 101px; 
				.city-toggle{
					color: #40BCE8;
					position: absolute;
					top: 0;
					right: .25em;
				}
				div.meta {
					background: rgba(255,255,255,.6);
					bottom: .4em;
					color: black;
					font-family: 'Open Sans';
					font-size: 1.2em;
					letter-spacing: .05em;
					padding: .15em 0;
					position: absolute;
					text-align: center;
					width: 100%;
					transition: .1s;
				}
				div.inactive{
					background: rgba(0,0,0,.8);
					color: #ccc;
					height: 100%;
					left: 0;
					opacity: 1;
					padding-top: 2em;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: 0;
					vertical-align: middle;
					width: 100%;
					transition: .1s;
				}
			}
			.citiescollapse #cities-popup	ul.nearby-cities>li.city.active>div.inactive { opacity: 0; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city:hover{ border-color: white; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city:hover .inactive { opacity: 0.8; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city>img { width: 100%; }
			.searchcollapse .select-profile #profile-table{
				position: relative!important;
				width: 100%!important;
				height: auto!important;
			}
		}
		// ---- End Mobile Layout ---- //

		// ---- Select Box ---- //
		.selectBed.homeOptions .selected, .selectBath.homeOptions .selected { width: 80px; }
		.priceList, .homeOptions {
			position: relative;
			display: inline-block;
			text-align: left;
			line-height: 31px;
			clear: both;
			color: #888;
			cursor: pointer;
			border-bottom: 1px solid #646464;
			background: white;
			.border-radius-all(8px);
			padding: 0;
			margin-right: .5em;
			margin-left: .5em;
			.selected {
				margin-left: 0;
				width: 105px;
				text-transform: capitalize;
				color: #797979;
				letter-spacing: .05em;
				border-right: none;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				background: none;
				overflow: hidden;
				position: relative;
				float: left;
				height: 30px;
				z-index: 1;
				font-weight: 400;
				padding: .5em 2.2em;
			}
			.selectArrow {
				width: 17px;
				text-align: right;
				font-size: .85em;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
				display: inline-block;
				background-image: url(../../_img/page-quiz-results/chosen-sprite.png);background-repeat:no-repeat;
				background-position: center left;
				position: absolute;
				height: 30px;
				z-index: 1;
				right: 14px;
				margin-top: 7px;
			}
			ul.prices, ul.options {
				position: absolute;
				max-height: 210px;
				top: 31px;
				left: 0;
				width: 100%;
				.border-radius-all(3px);
				overflow-y: scroll;
				background: #E0E0E0;
				padding-top: 2px;
				display: none;
				z-index: 99;
				li{
					display: block;
					width: 80%;
					line-height: 20px;
					padding: 5px 10%;
					font-weight: 500;
					color: #5D5D5D;
				}
				li:hover{
					color:#fff;
					background:#4096ee;         
				} 
				li.active {
					color:#fff;
					background:#4096ee;
				}
			}
		}

	.priceList.active .selectArrow { background-position: center right; }
	.homeOptions.active .selectArrow { background-position: center right; }

	//.selectBoxmin.active .selected { color: #F4F4F4; }
	//.selectBoxmin.active .selectArrow { background-position: center right; }
	//.selectBoxmax {
	//	position: relative;
	//	display: inline-block;
	//	text-align: left;
	//	line-height: 31px;
	//	clear: both;
	//	color: #888;
	//	cursor: pointer;
	//	border-bottom: 1px solid rgba(100,100,100,1);
	//	.selected {
	//		margin-left: 8px!important;
	//		width: 105px;
	//		text-transform: uppercase;
	//		color: #B5B5B5;
	//		letter-spacing: .05em;
	//		border-right: none;
	//		border-top-left-radius: 5px;
	//		border-bottom-left-radius: 5px;
	//		background: none;
	//		overflow: hidden;
	//		position:relative;
	//		float:right;
	//		height:30px;
	//		z-index:1;
	//	}
	//	.selectArrow {
	//		width: 17px;
	//		text-align: right;
	//		font-size: .85em;
	//		-webkit-user-select: none;
	//		-khtml-user-select: none;
	//		-moz-user-select: none;
	//		-o-user-select: none;
	//		user-select: none;
	//		display:inline-block;
	//		background-image:url(../../_img/page-quiz-results/chosen-sprite.png);background-repeat:no-repeat;
	//		background-position: center left;
	//		position:relative;
	//		float:left;
	//		height:30px;
	//		z-index:1;
	//		margin-left: -4px;
	//	}
	//	ul#max {
	//		position:absolute;
	//		height: 210px;
	//		top:22px;
	//		left:0;
	//		width:198px;
	//		border-radius: 0 0 3px 3px;
	//		overflow-y:scroll;
	//		background:#2C2C2C;
	//		display:none;
	//		z-index: 99;
	//		li{
	//			display:block;
	//			width:80%;
	//			line-height:20px;
	//			padding:5px 10%;
	//			color:#999;
	//		}
	//		li:hover {
	//			color:#fff;
	//			background:#4096ee;         
	//		}  
	//		li.active {
	//			color:#fff;
	//			background:rgba(255,255,255,.15);  
	//		}
	//	}
	//}
	//.selectBoxmax.active .selected { color: #F4F4F4; }
	//.selectBoxmax.active .selectArrow { background-position: center right; }

	.price-divider {
		margin: 0 30px;
		position: relative;
		top: -6px;
		font-size: .8em;
		font-style: italic;
		color: #888;
		letter-spacing: .15em;
	}
		// ---- End Select Box ---- //
	
		article > section {
				display: inline;
				text-align: center;
				&.left-col{
						-webkit-overflow-scrolling: touch;
						clear: left;
						display: block;
						float: left;
						height: 1073px;
						overflow: hidden;
						width: 63%;
						margin-right: -2px;
						border-right: 1px solid #777;
						border-bottom: 1px solid #777;
						.results-loading-overlay, .results-error-overlay {
							height: 100%;
							width: 100%;
							position: absolute;
							background: #232323;
							z-index: 99;
							opacity: 1;
							.transition(.5s);
							p {
								text-align: center;
								font-size: 1.5em;
								color: #CACACA;
								margin-top: 250px;
							}
							.spin-wrap {
								height: 128px;
								width: 128px;
								position: relative;
								margin: 0 auto;
								top: 0;
								left: -8px;
								z-index: 10;
							}
						}
						.results-error-overlay { 
							display: none; 
							left: 0;
							//margin-top: 250px;
							p {
								margin-top: 0;
								.border-radius-all(1em);
								border: 1px solid rgba(255,255,255, 1);
								padding: 20px;
								width: 50%;
								display: inline-block;
								line-height: 1.3em;
								font-size: 1.2em;
								margin-top: 250px;
							}
							#right-arrow {
								display: inline-block;
								vertical-align: top;
								position: relative;
								top: 45px;
								left: 25px;
								margin-top: 250px;
								span {
									font-size: 6em;
									position: relative;
								}
							}
						}
						.view-selector{
							margin: 0;
							background: #444;
							padding: 0;
							display: block;
							height: 52px;
							.transition();
							.smalldesktop { display: none; }
							.backtocity, .backtolistings {
								position: absolute;
								left: 2.5%;
								top: 14px;
								text-transform: capitalize;
								padding: 0;
								margin: 0;
								letter-spacing: 1px;
								color: #77BAFF;
								font-weight: 500;
								font-size: 1.1em;
								span { font-size: .65em; position: relative; top: -2px; margin-right: 2px; }
							}
							.backtocity:hover, .backtolistings:hover { color: #a8cfff; }
							li {
								display: inline-block;
								margin: 0;
								width: 120px;
								height: 31px;
								color: #9A9A9A;
								font-weight: 400;
								letter-spacing: .75px;
								position: relative;
								cursor: pointer;
								z-index: 50;
								margin-top: 9px;
								&.map { right: 8px; }
								&.city { left: 5px; }
								&.listings { left: 5px; }
									a {
										width: 120px;
										height: 31px;
										display: inline-block;
										color: inherit;
										font-size: .8em;
										position: relative;
										background: inherit;
										padding: 2px;
									}
									a:hover { color: #3FB6FF; }
							}
							li.active { 
								color: #fff; 
								font-weight: 300;
								z-index: 55;
								&:hover { color: #fff; }
								a { color: #fff; }
							}
						}
						.view-selector-bg {
							position: absolute;
							width: 220px;
							background: #fff;
							height: 32px;
							top: 10px;
							left: 0;
							right: 0;
							margin: 0 auto;
							.border-radius-all(34px);
							.slide {
								background: #2582e1;
								height: 32px;
								width: 120px;
								float: left;
								.border-radius-all(34px);
								&.left {
									transform: translateX(-3px);
								}
								&.right {
									transform: translateX(108px);
								}
							}
						}
				}
				&.right-col{
						clear: right;
						float: right;
						width: 37%;
						overflow: hidden;
						header {
								letter-spacing: .025em;
								height: 40px;
								.title{
										font-weight: 400;
										margin: 8px 0;
										font-size: 1.35em;
										color: #5AA3E0;
								}
								a.help{
										position: absolute;
										right: 20px;
										font-size: 1.05em;
										letter-spacing: .05em;
										margin-top: 9px;
										font-family: 'Perpetua';
										text-transform: uppercase;
								}
						}
				}
		}
		.profile-tiles{
				width: 100%;
				margin: 0 auto;
				cursor: default;
				> li {
						cursor: pointer;
						display: inline-block;
						opacity: 1;
						margin: 1.5em 0 .5em;
						width: 32.5%;
						padding: 0;
						text-align: center;
						.transition();
						color: #77ADEF;
						font-weight: 400;
						font-size: 1em;
						&:hover{ color: #A8CFFF; }
				}
		}
		#shareDiv {
			width: 100%;
			padding: .5em 0 0;
			background-size: cover;
			text-align: center;
			font-family: 'Open Sans';
			font-weight: 100;
			font-size: 1em;
			line-height: 1em;
			#title {
				font-weight: 400;
				color: #BFBFBF;
				margin: .75em 0 .5em;
				font-size: 1.1em;
			}
			a {
				display: inline-block;
				width: 45px;
				height: 45px;
				margin-top: 10px;
				vertical-align: sub;
				.border-radius-all(100%);
				margin: 10px;
				.transition(0s);
				transition: opacity .4s ease-in-out; 
				-moz-transition: opacity .4s ease-in-out; 
				-webkit-transition: opacity .4s ease-in-out;
			}
			a:before {
				content: "";
				position: absolute;
				opacity: 1;
				background: url(../../_img/_promo/social-grayscale-sprite-small.png) no-repeat right;
				margin-left: -22px;
				width: 45px;
				height: 45px;
				transition: opacity .4s ease-in-out; 
				-moz-transition: opacity .4s ease-in-out; 
				-webkit-transition: opacity .4s ease-in-out;
				.border-radius-all(100%);
			}
			a:after {
				content: "";
				position: absolute;
				opacity: 0;
				background: url(../../_img/_promo/social-grayscale-sprite-small.png) no-repeat right;
				margin-left: -22px;
				width: 45px;
				height: 45px;
				transition: opacity .4s ease-in-out; 
				-moz-transition: opacity .4s ease-in-out; 
				-webkit-transition: opacity .4s ease-in-out;
				.border-radius-all(100%);
			}
			a:hover:after { opacity: 1; transition: opacity .4s ease-in-out; -moz-transition: opacity .4s ease-in-out; -webkit-transition: opacity .4s ease-in-out; }
			a:hover:before { opacity: 0; transition: opacity .4s ease-in-out; -moz-transition: opacity .4s ease-in-out; -webkit-transition: opacity .4s ease-in-out; }
			
			a#facebook-share:before { background-position: 0 0; }
			a#facebook-share:after { background-position: 0 -45px; }
			
			a#linkedin-share:before { background-position: -45px 0; }
			a#linkedin-share:after { background-position: -45px -45px; }
			
			a#googleplus-share:before { background-position: -90px 0; }
			a#googleplus-share:after { background-position: -90px -45px; }
			
			a#twitter-share:before { background-position: -135px 0; }
			a#twitter-share:after { background-position: -135px -45px; }
			
			a#email-share:before { background-position: -180px 0; }
			a#email-share:after { background-position: -180px -45px; }
		}
		.quiz-tags{
				font-size: .9em;
				line-height: 1.2em;
				margin: 0 auto;
				padding: 1em 0 0;
				position: relative;
				width: 100%;
				.selectors { margin: 10px 0 90px 0; }
				.lifestyle-profile {
					position: absolute;
					height: 140px;
					width: 140px;
					left: 0;
					right: 0;
					display: block;
					margin: -70px auto 0;
					background: #e4486b;
					border-radius: 100%;
					border: 4px solid #555;
					span {
						font-size: 1.3em;
						line-height: 1.6em;
						top: 44px;
						position: relative;
					}
				}
				.tags-bg {
					background: #555555;
					padding-top: 80px;
					margin-left: 1px;
					margin-right: -1px;
					padding-bottom: 0;
					height: 560px;
				}
				table {
					margin: 0 0 0 30px;
				}
				.below-tags{
						margin: 1em auto 1em auto;
						position: relative;
						height: 100%;
						width: 100%;
				}
				p {
						color: #d9d9d9;
						text-align: center;
						margin: 1em auto 2em;
						width: 85%;
				}
				.price-slider{
						margin: 2em 0 4em 0;
						.minmaxprice { margin-bottom: .5em; }
						#slider-range{
								width: 90%;
								margin: 0 auto;
								height: 8px;
								border: 0;
								background: #898989;
						}
						.ui-slider-handle{ background: #fff; border: 0; margin-top: 2px; margin-left: -5px; .transition(.001s, linear, color); height: 0.8em; width: 0.8em; .border-radius-all(1em); cursor: pointer; }
						.ui-slider-handle{ background: #C5C5C5; }
						.ui-slider-range { background: #499fff; }
						#amount {
								background: transparent;
								border: 0;
								font-family: @serif;
								font-size: 1.4em;
								margin:-.65em 0 1em 0;
								letter-spacing: 1px;
								color: #fff;
								text-align: center;
						}
				}
				.tags-header{
						font-size: 1em;
						text-transform: uppercase;
						font-family: @serif;
						.title-tags{
								display: block;
								width: 100%;
								margin: 10px auto 15px;
								text-transform: none;
								font-family: 'Open Sans';
								font-size: 1.25em;
								font-weight: 300;
								letter-spacing: .075em;
								color: #F4F4F4;
						}
						.subtitle{
							font-size: 1.2em;
							display: block;
							margin: .8em 0 1.1em 1.2em;
							text-transform: none;
							font-family: 'Open Sans';
							letter-spacing: 1px;
							color: #5fb4f1;
							cursor: pointer;
							.questioncircle {
								position: absolute;
								margin-left: -39px;
								height: 28px;
								width: 28px;
								margin-top: -5px;
								background: #389ae0;
								border-radius: 100%;
								font-weight: 600;
								span {
									position: relative;
									top: 5px;
									left: 1px;
									color: #fff;
								}
							}
						}
				}
				.tags-wrap{
						background: rgba(0,0,0,0.4);
						max-height: 378px;
						width: 93%;
						padding-bottom: 75px;
					  	margin: 0 auto;
						.border-radius-all(5px);
						.main-header {
							height: 35px;
							margin-bottom: 2px;
							border-bottom: 1px solid #fff;
							border-color: rgba(255,255,255,.2);
							width: 95%;
							margin: 0 auto;
						}
						.top {
							display: inline-block;
							margin: 0 auto;
							z-index: 2;
							margin-top: 9px;
							position: absolute;
							left: 39%;
							color: #fff;
							text-transform: capitalize;
							font-family: 'Open Sans';
							font-size: 1em;
							.sub {
								position: relative;
								font-weight: 400;
								left: 14px;
							}
						}
						ul.menu-right {
								display: table;
								margin: 0;
								width: 100%;
								li{
										.transition(0.5s);
										border-bottom: 1px solid lighten(black, 15%);
										display:table-cell;
										margin: 0;
										padding: 0.35em 0;
										vertical-align: middle;
										&.selected{ background: lighten(black, 15%); }
										a{
												.transition(0.5s);
												color: darken(white, 20%);
												display: block;
												padding: 0 0 0.5em;
										}
										span {
												font-size: 2em;
												position: relative;
												top: 0.18em;
												left: -0.1em;
										}
										&:hover{
												background: lighten(black, 10%);
											a { color:lighten(@light-blue, 10%); }
											&.selected{ background: lighten(black, 17%); }
										}
								}
						}
				}
				ul.tags-list{
						overflow: hidden;
						font-size: 0.8em;
						max-height: 347px;
						line-height: 1.1em;
						list-style: none;
						top: 5px;
						margin: 0 auto;
						overflow-x: hidden;
						overflow-y: visible;
						position: relative;
						width: 100%;
						.scrollbar-left{top: 7px;}
						> li { height: 1.5em; display: inline-block; float: left; }
						li.tag{
								clear: left;
								font-weight: 300;
								margin: 0;
								padding:0.4em 0 0.2em 1em;
								text-align: left;
								text-transform: capitalize;
								vertical-align: top;
								width: 38.2%;
								a {color: lighten(black, 35%);}
								a.entypo-flag{
										float: right;
										position: relative;
										right: 0.5em;
										&.flagged{ color: #ba573c; }
										&:hover{ color: lighten(#ba573c, 10%); }
								}
								a.entypo-cancel-squared{
										font-size: 1.1em;
										padding-left: 0.1em;
										margin-right: 0.15em;
										&:hover{ color: #F92B2B; }
								}
								.fh-switch { float: right; }
						}
						li.percent {
								width: 56.5%;
								left: .25em;
								position: relative;
								span.percent-value{position:absolute; right: 0px; top: 0px; font-size: 0.7em;}
								div.percent-bar{
										height: 7px;
										position: absolute;
										top: 8px;
										left: 0px;
										width: 100%;
										div.percent-bar-fill{
												//background:@blue-two; 
												background: #898989; 
												height: 100%;
												position: absolute;
												left: 0px;
												top: 0px;
												border: 0;
										}
										.ui-resizable-e{
												background: white;
												.grad-vertical(white, darken(white, 30%));
												top: -3px;
												height: 13px;
												width: 10px;
												.border-radius-all(2px);
										}
										.ui-resizable-e, .ui-resizable-w{
												cursor: ew-resize;
										}
										.ui-slider-handle {
											width: .9em;
											height: .9em;
											border: 0;
											background: #fff;
											margin-top: 2px;
											cursor: pointer;
										}
										.ui-slider-handle:hover {
											color: #C5C5C5;
										}
								}
								.split{
										background: rgba(255,255,255,0.05);
										bottom: 3px;
										height: 1px;
										position: absolute;
										width: 100%;
								}
						}
				}
				div#actions {
					font-size: 1.1em;
					.add-tags {
						.blue-button();
						margin: 25px 5px 0 13px;
						text-transform: none;
						padding: .7em 1.25em;
						.border-radius-all(8px);
						background-color: #2D8BCE;
						float: left;
						font-size: .8em;
					}
					.add-tags:hover { background-color: #399cbf; }
					button {
						.blue-button();
						margin: 25px 5px 0 5px;
						text-transform: none;
						padding: .7em 1.75em;
						.border-radius-all(8px);
						background-color: #2D8BCE;
						font-size: .8em;
					}
					button:hover { background-color: #399cbf; }
					button:disabled {
						background-color: #A3A5A7;
						color: #fff;
						opacity: 1;
						cursor: default;
					}
					
					button#apply { margin-right: 13px; }
					button#apply, button#undo { float: right; }
				}
		}
		div#listing-map, div#city-map {
				float: left;
				height: 1042px;
				left: 100%;
				width: 100%;
				border: 1px solid rgba(175,175,175,1);
				.infowindow-content{
					.box-sizing();
					height: 80px;
					margin: .1em;
					overflow: hidden;
					width: 100%;
					display: inline-flex;
					> img { float: left; }
					> li {
						display: inline-block;
						height: 80px;
						vertical-align: top;
						&.image{ padding-right: .5em; width: 80px; }
						&.meta{
							color: black;
							font-family: @sans;
							position: relative;
							text-align: left;
							h5{
								color: black;
								display: block;
								font-family: @serif;
								font-size: 1.3em;
								line-height: 1.1em;
								margin: 0;
							}
							span{ font-size: 1em; }
							a { position: absolute; left: 0; bottom: 0; }
						}
					}
				}

		}
		.citynamebanner {
			letter-spacing: 2px;
			line-height: 1em;
			padding: 0 1em;
			background: #5D5E61;
			height: 52px;
			color: #fff;
			font-size: 1em;
			font-family: 'open sans';
			cursor: default;
			font-weight: 400;
			display: block;
			a {
				text-transform: capitalize;
				position: absolute;
				padding: 0;
				margin: 8px 1em;
				border-radius: 12px;
				letter-spacing: 1px;
				left: 0;
				color: #77BAFF;
				font-weight: 600;
				font-size: 1.2em;
			}
			> .tag-icons{
					position: absolute;
					top: 11px;
					left: 5px;
					width: auto;
					a {
						position: relative;
						margin: 0;
					}
					img {
						width: 30px;
						height: 30px;
					}

			}
			.cityname {
				font-size: 1.9em;
				top: 18px;
				position: relative;
			}
			.score {
				position: absolute;
				right: 20px;
				font-size: 1.1em;
				letter-spacing: .75px;
				top: 19px;
				span { color: #00ff74; }
			}
		}
		ul#listings {
			> li.listing {
				.listingimageclick {
					cursor: pointer;
					-moz-transition: all .3s ease-in-out;
					-webkit-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
					position: relative;
					height: 400px;
					width: 100%;
					opacity: 1;
					display: block;
					a {
						height: 400px;
						width: 100%;
						position: absolute;
					}
					img {
						width: 100%;
						height: 400px;
						.transition(0.3s);
						&:hover{
							opacity:.85;
							.transition(0.3s);
						}
					}
					> .tag-icons{
							top: 60px;
							img {
								width: 30px;
								height: 30px;
							}

					}
				}
				.tag-icons { 
					top: 6px;
					right: 6px!important;
					img { height: 40px; width: 40px; }
				}
				.titlecenter#mobile { display: none; }
				.titlecenter {
					position: absolute;
					top: 0;
					left: 0;
					padding: .9em 2em;
					background: rgba(228, 72, 107, .9);
					border-radius: 0 0 9px 0;
					pointer-events: none;
					.title {
						position: relative;
						color: #fff;
						font-size: 1.5em;
						font-family: 'open sans';
						text-transform: capitalize;
						font-weight: 400;
					}
				}
				.listingimageclick:hover {
					opacity: .9;
					-moz-transition: all .3s ease-in-out;
					-webkit-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}
			}
		}
		div#listings, div#cities { 
			height: 1021px; width: 100%; position: relative; float: left; 
			#loading {
				background: lightyellow;
				color: blue;
				position: absolute;
				right: 0;
				//bottom: 0;
				display: none;
				z-index: 10;
				padding: 10px 20px;
				.border-radius-all(5px);
			}
		}
		ul#listings { height: 93.7%; }
		ul#cities { height: 100%; }
		ul#listings, ul#cities {
    		margin: 0;
    		padding: 0;
    		float: left;
    		list-style: none;
    		position: relative;
    		overflow-x: hidden;
			overflow-y: scroll;
    		width: 100%;
			> li.listing:hover, li.city:hover { background: #fff; }
			> li.listing {
					border-bottom: 2px solid #fff;
					border-top: 1px solid #fff;
			}
			> li.listing, li.city {
					background: #fff;
			    height: auto;
			    line-height: 1.2em;
			    overflow: hidden;
			    padding: 0;
			    position: relative;
			    width: 100%;
			    .transition(.25s, ease-in-out, opacity);
			    .transition(1s, ease-in-out, height);
			    div#sub-listing-div {
						-webkit-overflow-scrolling: touch;
			    	position: relative;
				    margin-top: -4px;
				    z-index: 10;
			    	background: black;
			    	max-width: 100%;
				    ul#sub-listings {
				    	margin: 0;
				    	padding-right: 5px;
				    	height: 150px;
				    	width: 100%;
				    	white-space:nowrap;
							overflow: hidden;
				    	z-index: 10;
							border-top: 2px solid #fff;
							border-bottom: 2px solid #fff;
							background: #efe9e9;
				    	li.sub-listing {
								display: inline;
								font-size: 1em;
								width: 25%;
								border-left: 2px solid #fff;
								margin-left: -2px;
								overflow: hidden;
								height: 150px;
								background: #FFF;
								float: left;
								
								a {
									margin-left: -2px;
									display: block;
									width: 100%;
									height: 100%;
									opacity: 1;
									-moz-transition: all .3s ease-in-out;
									-webkit-transition: all .3s ease-in-out;
									-o-transition: all .3s ease-in-out;
									transition: all .3s ease-in-out;
								}
								a:hover {
									opacity: .85;
									-moz-transition: all .3s ease-in-out;
									-webkit-transition: all .3s ease-in-out;
									-o-transition: all .3s ease-in-out;
									transition: all .3s ease-in-out;
								}
				    		img {
					    		width: 100%;
					    		height: 100%;
					    	}
				    		div.listing-info {
									background: rgba(50,50,50,0.85);
									height: 40px;
									left: 0;
									line-height: 1em;
									font-weight: 400;
									padding: 0;
									width: 100%;
									top: 0;
									display: inline-block;
									margin-left: -100%;
									position: relative;
				                .title {
													display: block;
				                    vertical-align: top;
				                    color: #79b8d5;
				                    font-size: 1em;
				                    letter-spacing: 2px;
				                    font-family: @serif;
				                    line-height: 1em;
				                    padding: 0;
				                    margin: .5em 0 .1em .8em;
				                    text-align: left;
				                    float: left;
				                    width: 100%;
				                    text-transform: uppercase;
				                    text-shadow: 1px 1px 1px #333;
				                }
								.mobiletitle { display: none; }
				                span.desc {
				                    float: left;
				                    font-weight: 400;
				                    vertical-align: top;
				                    color: #79b8d5;
				                    font-size: 1.15em;
				                    font-family: @serif;
				                    font-weight: 400;
				                    font-style: normal;
				                    padding: 0 0 1.15em 0;
				                    margin: 0 0 0 1.15em;
				                    text-align: left;
				                    width: 100%;
				                    text-transform: none;
				                    letter-spacing: 1px;
				                }
								.desktoptable { display: block; }
								.mobiletable { display: none; }
								table {
										font-size: .8em;
										margin: 0 0 0 .5em;
										padding-top: .5em;
										text-align: left;
										width: 50%;
										letter-spacing: 1px;
										th, td {font-weight: 400; vertical-align: top;}
										th:nth-child(1){
											color: #fff;
											font-size: 1.4em;
											letter-spacing: .05em;
											top: 12px;
											left: 8px;
											position: absolute;
										}
										th:nth-child(2){
											color: #00ff74;
											font-size: 1.4em;
											letter-spacing: .05em;
											text-align: right;
											display: block;
											top: 12px;
											right: 5px;
											font-weight: 600;
											position: absolute;
											width: 75px;
										}
										td{
					                        padding-bottom: 0.25em;
					                        padding-left: 0.3em;
					                        text-align: right;
					                        color: white;
					                        font-size: 1em;
					                        letter-spacing: .1em;
					                        text-transform: uppercase;
					                        padding-bottom: .5em;
											span{vertical-align: top; text-transform: lowercase;}
											sup{ position: relative; top: -.25em; }
										}
								}
							}
							&.sub-listing-collapsed{ 
								line-height: 120px; 
								width: 210px;
								display: inline-block;
							}
							.spin-wrap {
								height: 48px;
								width: 48px;
								//position: absolute;
								//margin: 0 auto;
								//top: 20%;
								//left: 10%;
								//margin: 15% 0 0 10%;
								z-index: 10;
							}
						}
				    }
				}
			    &.listing-collapsed, &.city-collapsed { line-height: 350px; }
					.cityimageclick {
						cursor: pointer;
						.transition(0.3s);
						position: relative;
						height: 300px;
						width: 100%;
						opacity: 1;
						margin-top: 66px;
						display: block;
						&:hover{
							opacity:.85;
							.transition(0.3s);
						}
						> a.listing-link, a.city-link {
			      	display: block;
			      	height: 100%;
			      	width: 100%;
			      	position: absolute;
			      	top: 0;
			      	left: 0;
			      	z-index: 10;
			    	}
						img {
							height: 100%;
							width: 100%;
						}
					}
				.overlay{
					color: white;
	                cursor: pointer;
	                display: inline-block;
	                font-size: 2em;
	                font-weight: bold;
	                height: 100%;
	                left: 0;
	                line-height: 560px;
	                opacity: 0;
	                position: absolute;
	                text-align: center;
	                top: 0;
	                width: 100%;
	                vertical-align: bottom;
	                text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
					.transition(0.25s);
					a { display: block; width: 100%; height: 100%; }
					> div {
						background: rgba(255,255,255,0.2);
						display: block;
						font-size: 0.45em;
						line-height: 1.2em; position: absolute; bottom: 2em; .text-shadow(); .border-radius-all(1em);
						width: 95%;
						left: 2.5%;
					}
				}
				> div.listing-info table.tag-icons { display: none!important; }
				> div.listing-info, div.city-info {
					height: 66px;
	                left: 0;
	                line-height: 1.3em;
	                font-weight: 400;
	                padding: 0;
	                position: absolute;
	                width: 100%;
	                top: 0;
	                div#header {
	                    font-size: 1em;
	                    letter-spacing: 2px;
	                    font-family: @serif;
	                    line-height: 1em;
						padding: 18px 2em;
						background: #E4486B;
						height: 30px;
	                    .title {
	                    	color: #fff;
							display: inline;
							font-size: 2em;
							font-family: 'open sans';
							text-transform: none;
							text-shadow: none;
							margin: 0 0 0 36px;
							width: auto;
							cursor: default;
							.number {
								font-size: 1.1em;
								margin-top: -1px;
								margin-left: -40px;
								margin-right: 20px;
								position: relative;
								top: 1px;
							}
	                    }
	                    .city-match {
							position: absolute;
							right: 80px;
							display: block;
							font-family: 'Open Sans';
							font-weight: 400;
							font-size: 1.2em;
							letter-spacing: .025em;
							top: 75px;
							background: rgba(255,255,255,.82);
							padding: .6em 1.25em;
							.border-radius-all(40px);
							color: #2D8BCE;
							pointer-events: none;
							span { color: #11D068; font-weight: 600; }
	                    }
	                    button {
	                    	.button-blue();
	                    	float: right;
	                    	z-index: 11;
							text-transform: capitalize;
							padding: .6em 2em;
							font-size: 1.1em;
							margin-top: -8px;
							.border-radius-all(12px);
							background-color: #2D8BCE;
	                    }
						button:hover { background-color: #399CBF; }
	                }
	                .title {
						display: block;
	                    vertical-align: top;
	                    color: #79b8d5;
	                    font-size: 1.7em;
	                    letter-spacing: 2px;
	                    font-family: @serif;
	                    line-height: 1em;
	                    padding: 0;
	                    margin: 1.5em 0 .1em .8em;
	                    text-align: left;
	                    float: left;
	                    width: 100%;
	                    text-transform: uppercase;
	                    text-shadow: 1px 1px 1px #333;
	                }
					.mobiletitle { display: none; }
	                span.desc {
	                    float: left;
	                    font-weight: 400;
	                    vertical-align: top;
	                    color: #79b8d5;
	                    font-size: 1.15em;
	                    font-family: @serif;
	                    font-weight: 400;
	                    font-style: normal;
	                    padding: 0 0 1.15em 0;
	                    margin: 0 0 0 1.15em;
	                    text-align: left;
	                    width: 100%;
	                    text-transform: none;
	                    letter-spacing: 1px;
	                }
					.desktoptable { display: block; }
					.mobiletable { display: none; }
					table {
							font-size: .8em;
		                    margin: 0 0 0 1.5em;
		                    padding-top: 1.75em;
		                    text-align: left;
		                    width: 38%;
		                    letter-spacing: 1px;
							th, td {font-weight: 400; vertical-align: top;}
							th{
		                        color: white;
		                        font-size: 1.1em;
		                        letter-spacing: .1em;
		                        text-transform: uppercase;
		                        padding-bottom: 1em;
		                        width: 100%;
								float: left;
								text-align: left;
							}
							td{
		                        padding-bottom: 0.25em;
		                        padding-left: 0.3em;
		                        text-align: right;
		                        color: white;
		                        font-size: 1.1em;
		                        letter-spacing: .1em;
		                        text-transform: uppercase;
		                        padding-bottom: 1em;
								span{vertical-align: top; text-transform: lowercase;}
								sup{ position: relative; top: -.25em; }
							}
					}
				}
				div.listing-info {
					height: 61px;
					bottom: 0;
					top: inherit;
					background: rgba(50,50,50,.75);
					pointer-events: none;
					font-size: .9em;
					.bottominfo {
						padding: 1em;
						font-size: 1.5em;
						text-align: left;
						#split {
							margin-right: 7.5%;
							display: inline-block;
							cursor: default;
						}
						#split.price { margin-right: 0; }
						#split.percents { color: #00ff74; }
						a {
							.button-blue();
							padding: .6em 2em .55em;
							font-size: .9em;
							.border-radius-all(12px);
							background-color: #2D8BCE;
							position: relative;
							height: auto;
							width: auto;
							text-transform: none;
							float: right;
							top: -17px;
							letter-spacing: 1.5px;
							pointer-events: all;
						}
						a:hover { background-color: #399CBF; }
					}
				}
				> .percents{
					height: 44px;
					position: absolute;
					right: 0;
					width: 114px;
					margin-right: 2.5%;
					margin-top: 12px;
					background: none repeat scroll 0% 0% rgba(40, 40, 40, 0.85);
					.border-radius-all(5px);
					text-align: right;
					padding-right: 6px;
					line-height: 1.3em;
					padding-top: 3px;
				}
				> .percents .home-match{
						position: relative;
						right: 5px;
						top: 1px;
						font-family: 'Open Sans';
						font-weight: 400;
						font-size: 1em;
						letter-spacing: .06em;
						span { color: #1ae81f; }
				}
				> .percents .city-match{
						position: relative;
						right: 5px;
						top: 0;
						font-family: 'Open Sans';
						font-weight: 400;
						font-size: 1em;
						letter-spacing: .06em;
						span { color: #1ae81f; }
				}
				> .tag-icons{
						position: absolute;
						right: 0;
						background-color: rgba(0, 0, 0, 0);
						z-index: 11;
				}
				.spin-wrap {
					height: 128px;
					width: 128px;
					//position: absolute;
					margin: 0 auto;
					top: 40%;
					left: -8px;
					z-index: 10;
					//.spinner { .spinner(@light-blue2, 16px); }
				}
			}
			> li.city {
	    		> .tag-icons {
	    			top: 120px;
						display: block;
						width: 400px;
						pointer-events: none;
						float: right;
						text-align: right;
						max-height: 160px;
						overflow: hidden;
						tr { display: inline; }
						td { display: inline-block; }
	    			#tag {
							width: 175px;
							height: 48px;
							background: white;
							margin: 0 10px;
							.border-radius-all(25px);
							text-align: left;
							a { float: left; }
							img {
								margin-top: 1px;
								margin-left: 1px;
								width: 46px;
								height: 46px;
							}
							.rateit {
								margin-left: 4px;
								margin-top: 7px;
								.border-radius-all(0 25px 25px 0);
								width: 80px;
								height: 20px;
							}
							span {
								display: block;
								font-family: 'Open Sans';
								font-weight: 400;
								font-size: .9em;
								letter-spacing: .06em;
								color: #2582E1;
								position: relative;
								top: 4px;
								left: 4px;
							}
						}
	    		}
			}
		}
}
#tb-submit {
	overflow: hidden; height: 100%;
	.tb-buttons.alignright{
		display: inline-block;
		position: absolute;
		right: 1em;
		bottom: 1em;
	}
}
#tb-submit #cities-popup{
	> h2 {
		font-weight: 400;
		margin: 1em 0;
		padding: 0;
		text-transform: uppercase;
		&:after{ .h2-after(); margin-top: .75em; }
	}
	ul.nearby-cities{
		height: 500px;
		margin: 0 auto;
		overflow-y: scroll;
		text-align: left;
		width: 1160px;
		& > li.city {
			.box-sizing();
			border: 2px solid darken(white, 20%);
			cursor: pointer;
			display: inline-block;
			height: 0;
			margin: 0 0 -.35%;
			overflow: hidden;
			padding-bottom: 15%;
			position: relative;
			width: 25%;
			.transition();
			> img { width: 100%; }
			.city-toggle{
				color: @light-blue2;
				position: absolute;
				top: 0;
				right: .25em;
			}
			div.meta {
				background: rgba(255,255,255,.6);
				bottom: .5em;
				color: black;
				font-family: @serif;
				font-size: 1.1em;
				letter-spacing: .05em;
				padding: .25em 0;
				position: absolute;
				text-align: center;
				width: 100%;
				.transition();
			}
			div.inactive{
				background: rgba(0,0,0,.8);
				color: darken(white, 20%);
				height: 100%;
				left: 0;
				opacity: 1;
				padding-top: 4em;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 0;
				vertical-align: middle;
				width: 100%;
				.transition();
			}
			&.active > div.inactive { opacity: 0; }
			&:hover{
				border-color: white;
				.meta { background: rgba(255,255,255,.9); }
				.inactive { opacity: 0.6; }
			}
		}
	}
}
#tb-submit #tag-window{
	h2.title{
		font-size: 1.6em;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;
		&:after{ .h2-after(); }
	}
	.top{ display: none; }
	div.tag-definition{
		widdth: 90%;
		left: 44px;
		position: relative;
		text-align: left;
		h5{ color: @light-blue2; display: inline; font-size:1em; text-transform: uppercase;}
		span{ font-size: 0.8em; }
	}
	ul.tag-categories{
		li {
			cursor: pointer;
			display: inline-block;
			font-size: .9em;
			margin: 0 .5em;
			text-align: center;
			text-transform: uppercase;
			&:first-child{ margin-left: 0; } &:last-child{ margin-right: 0; }
			&, span { .transition(.25s); }
			span { display: block; }
			&:hover, &:hover span{ color: @light-blue2; }
			&.active, &.active span{ color: @light-blue2; &:hover, &:hover span{ color: darken(@light-blue2, 10%); } }
		}
	}
	ul.tags-list{
		top: 0px;
		opacity: 0;
		// display: none;
		position: absolute;
		z-index: -1;
		.columns(4);
		.transition(.5s);
		&.active{ opacity: 1; z-index: 10; top: 170px; left: 15px; }
		li {
			color: white;
			cursor: pointer;
			display: inline-block;
			font-size: 0.9em;
			margin: .25em 0;
			text-transform: capitalize;
			text-align: left;
			width: 250px;
			.transition();
			&:hover { color: @light-blue2; }
			.checkmark{
				opacity: 0;
				margin-right: .5em;
				.transition();
				img { 
					width: 22px;
					&.desktop { display: inline; }
					&.mobile { display: none; }
				}
			}
			&.active .checkmark { 
				opacity: 1;
			}
		}
	}
}

#TB_ajaxContent {
		overflow: hidden;
}