@import '../_import/helper.less';


#intro {
	#intro-div {
		background: url(../../_img/page-agent-benefits/AgentBenefitsSection1.jpg) no-repeat;
		background-size: 100% 100%;
		height: 353px;
		width: 100%;
		#content {
			margin-left: 40%;
			> span {
				display: block;
				width: 90%;
				line-height: 100%;
			}
			#title {
				padding-top: 65px;
				color: #2A6984;
				font-size: 2.2em;
				font-weight: 800;
				font-style: italic;
				letter-spacing: 0;
				text-transform: uppercase;
			}
			#main-content {
				color: #333;
				font-size: 1.6em;
				font-weight: 800;
				letter-spacing: 2px;
				padding-top: 10px;
				font-style: italic;
				line-height: 1.35em;
			}
		}
		button {
			display: block;
			background: transparent;
			.border-radius-all(4px);
			color: #2A6984;
			font-size: 1.8em;
			font-weight: 300;
			letter-spacing: 2px;
			border: 1px solid #2A6984;
			margin-top: 30px;
			padding: 10px 65px;
			cursor: pointer;
		}
	}
}

#agent-match {
	#agent-match-div {
		height: 645px!important;
		width: 100%;
		background: url(../../_img/page-agent-benefits/AgentBenefitsSection2.jpg) no-repeat;
		background-size: 100% 100%;
		border-bottom: 1px solid #BEBEBE;
		#content {
			margin-left: 3%;
			> span {
				display: block;
				width: 60%;
				line-height: 100%;
			}
			#title {
				color: white;
				font-size: 2.75em;
				font-weight: 400;
				letter-spacing: 2px;
				text-transform: uppercase;
				padding-top: 20px;
				font-style: italic;
				line-height: 1.2em;
			}
			#main-content {
				color: white;
				font-size: 1.4em;
				font-weight: 400;
				letter-spacing: 2px;
				padding-top: 14px;
				line-height: 1.2em;
				font-style: italic;
			}
			#footer {
				color: #91430A;
				padding-top: 30px;
				font-size: 1.5em;
				font-weight: 400;
				letter-spacing: 1px;
				font-style: italic;
				span{
					display: block;
					margin-top: 25px;
				}
			}
			#claim {
				display: inline;
			}
			button {
				.button-blue;
				padding: 15px 35px;
				text-transform: capitalize;
			}
		}
	}
}

#portal {
	#portal-div {
		height: 650px!important;
		width: 100%;
		background: url(../../_img/page-agent-benefits/AgentBenefitsSection3.jpg) no-repeat;
		background-size: 100% 100%;
		width: 100%;
		#content {
			margin-left: 3%;
			> span {
				display: block;
				width: 60%;
				line-height: 100%;
			}
			#title {
				color: white;
				font-size: 2.5em;
				font-weight: 400;
				letter-spacing: 2px;
				text-transform: uppercase;
				padding-top: 30px;
				font-style: italic;
			}
			#main-content {
				color: white;
				font-size: 1.6em;
				font-weight: 400;
				letter-spacing: 2px;
				padding-top: 12px;
				font-style: italic;
				line-height: 1.2em;
			}
			#footer {
				color: #F47F2B;
				padding-top: 22px;
				font-size: 1.3em;
				font-weight: 400;
				letter-spacing: 1px;
				font-style: italic;
				span{
					display: block;
					margin-top: 30px;
				}
			}
			#claim {
				display: inline;
			}
			button {
				.button-blue;
				padding: 15px 35px;
				text-transform: capitalize;
			}
		}
	}
}