@import '../_import/helper.less';
 
.portal-landing{
	.portal-color { color: @ll-green; }
	#home-top{
		position: relative;
		background: url(../../_img/page-portal-landing/top-bg-new.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		.calc-height-all(~'100vh - 60px');
		z-index: 0;
		text-align: center;
		color: @ll-dark-text;
		overflow: hidden;
		.fullscreen-height {
			.calc-height-all(~'100vh - 60px');
			max-height: 920px!important;
		}
    	#intro {
    		opacity: 1;
    		width: 100%;
    		margin: 0 auto;
    		color: @ll-light-text;
    		padding-top: 120px;
				.mobile-agent {
					display: none;
					border: 2px solid #E8E8E8;
					.box-sizing(border-box);
					margin: 0;
					position: relative;
					height: 100px;
					width: 100px;
					.border-radius-all(100%);
				}
				#title {
					.default-text();
					font-size: 2em;
					position: relative;
					display: block;
					line-height: 1em;
					.dot {
						margin: 0 10px;
						position: relative;
						color: @ll-pink;
						top: -5px;
						font-size: 0.8em;
						font-weight: 300;
					}
				}
				#subtitle {
					.default-text();
					font-size: 1.4em;
					position: relative;
					display: block;
					line-height: 1em;
					margin: .25em 0 1.75em;
				}
				#subtext {
					.default-text();
					display: block;
					position: relative;
					width: 100%;
					text-align: center;
					font-size: 3em;
					letter-spacing: .5px;
					line-height: 1.4em;
					margin-top: 0;
					color: @ll-pink;
				}
				.video {
					display: table;
					margin: 40px auto;
					color: @ll-light-text;
					font-size: 3.8em;
					height: 70px;
					width: 70px;
					.border-radius-all(100%);
					border: 1px solid @ll-light-text;
					span {
						position: relative;
						top: 11px;
						left: 4px;
						display: block;
						height: 46px;
						overflow: hidden;
						&:before { top: 10px; position: relative; }
					}
				}
		}
		#agent {
				opacity: 1;
				display: block;
				width: 100%;
				margin: 0 auto;
				height: auto;
				color: @ll-text;
				font-weight: 400;
				text-align: left;
				background: rgba(250,250,250,0.85);
				position: relative;
				z-index: 99;
				border-bottom: 1px solid #fff;
				.agent-photo-wrapper {
						display: inline-block;
						vertical-align: top;
						width: 150px;
						height: 100px;
						margin: 0 75px;
						float: left;
						img.agent-photo {
								border: 2px solid #fff;
								.box-sizing(border-box);
								display: inline-block;
								margin: 6px 0 0;
								position: absolute;
								height: 150px;
								width: 150px;
								.border-radius-all(100%);
								bottom: -56px;
						}
				}
				#agent-intro {
						display: inline-block;
						.calc-width-all(~'100% - 1060px');
						margin: 0;
						vertical-align: top;
						padding: 0 200px;
						min-height: 100px;
						font-size: 1.15em;
						.default-text();
						color: @ll-lighter-text;
						line-height: 1.5em;
						#agent-text {
							padding: 22px 0;
							.desktop-agent-text { display: inline; }
							.mobile-agent-text { display: none; }
						}
						#agent-sig { display: inline-block; font-style: italic; margin-right: 10px; }
						#agent-readmore, #agent-readless { cursor: pointer; color: @ll-blue; display: inline-block; }
				}
				button {
					.ll-blue-button();
					text-transform: none;
					letter-spacing: .5px;
					vertical-align: top;
					padding: 10px 0;
					margin: 19px 93px 0;
					width: 174px;
					display: inline-block;
					float: right;
				}
		}
		.home-top-content {
				position: relative;
		}
		.arrow-down {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 50px;
				span {
						font-weight: 900;
						font-size: 1.5em;
						color: @ll-light-text;
				}
		}
	}
	.mid-slider-buttons {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 16px;
		text-align: center;
		width: 100%;
		z-index: 99;
		cursor: default;
		.button1, .button2, .button3 {
			display: inline-block;
			height: 11px;
			width: 11px;
			.border-radius-all(100%);
			margin: 0 14px;
			background: #999;
			cursor: pointer;
		}
		.button1.active, .button2.active, .button3.active { background: @ll-blue; }
		.button1:hover, .button2:hover, .button3:hover { background: @ll-blue; }
	}

	#home-mid-slider {
		overflow: hidden;
		width: 100%;
		.slider-wrapper {
			width: 300%;
			height: 710px;
			padding-bottom: 2em;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			background: #fff;
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			&.slide2active {
			-webkit-transform: translate3d(-webkit-calc(~'-100% / 3'), 0, 0);
			transform: translate3d(calc(~'-100% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			&.slide3active {
				-webkit-transform: translate3d(-webkit-calc(~'-200% / 3'), 0, 0);
			transform: translate3d(calc(~'-200% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			.video {
				display: table;
				margin: 175px 0 50px 0;
				margin-left: -webkit-calc(~'18% - 35px');
				margin-left: -moz-calc(~'18% - 35px');
				margin-left: calc(~'18% - 35px');
				color: @ll-lighter-text;
				font-size: 3.8em;
				height: 70px;
				width: 70px;
				.border-radius-all(100%);
				border: 1px solid @ll-lighter-text;
				span {
					position: relative;
					top: 11px;
					left: 24px;
					display: block;
					height: 46px;
					overflow: hidden;
					&:before { top: 10px; position: relative; }
				}
			}
			.slide1, .slide2, .slide3 {
				.calc-width-all(~'100% / 3');
				height: 100%;
				color: @ll-dark-text;
				display: inline-block;
				float: left;
				.textbox, .mobiletextbox {
					position: relative;
					width: 25%;
					margin: 0 0 0 4em;
					line-height: 740px;
					height: 740px;
					.mobile-image { 
						display: none;
						img { width: 100%; }
					}
					.textbox-wrapper {
						line-height: 26px;
						vertical-align: middle;
						display: inline-block;
					}
					.title {
						.default-text();
						display: block;
						color: @ll-text;
						font-size: 1.7em;
						margin-bottom: 8px;
						line-height: 1.25em;
						text-align: center;
					}
					.subtitle {
						.default-text();
						display: block;
						text-align: center;
						color: @ll-text;
						font-size: 2.5em;
						margin-bottom: .75em;
					}
					p {
						.default-text();
						color: @ll-lighter-text;
						letter-spacing: .5px;
						line-height: 1.75em;
					}
					.main-text {
						text-align: justify;
						font-size: 1.1em;
						margin-bottom: 30px;
					}
					.video {
						display: table;
						margin: 0 auto;
						color: @ll-pink;
						font-size: 3.5em;
						height: 65px;
						width: 65px;
						.border-radius-all(100%);
						border: 1px solid @ll-pink;
						span {
							position: relative;
							top: 8.5px;
							left: 25px;
							display: block;
							height: 46px;
							overflow: hidden;
							&:before { top: 10px; position: relative; }
						}
					}
					.three-steps {
						position: relative;
						width: 340px;
						margin: 0 auto;
						.default-text();
						.tri-numbers {
							position: relative;
							height: 38px;
							.number {
								font-size: .9em;
								color: #fff;
								border-radius: 100%;
								width: 28px;
								height: 28px;
								line-height: 28px;
								display: inline-block;
								text-align: center;
								float: left;
								font-weight: 300;
								&#one { margin: 0 0 10px 31px; background: #50e3c2; }
								&#two, &#three { margin: 0 0 10px; background: #dbdbdb; }
							}
							.line {
								float: left;
								display: inline-block;
								height: 1px;
								background: #dbdbdb;
								margin-top: 14px;
								width: 97px;
							}
						}
						.tri-images {
							position: relative;
							height: 90px;
							img {
								height: 90px;
								width: 90px;
								.border-radius-all(100%);
								display: inline-block;
								margin-right: 35px;
								float: left;
							}
							img.three { margin-right: 0; }
						}
						.tri-text {
							position: relative;
							left: -17.5px;
							height: 30px;
							width: 380px;
							p {
								margin: 5px 0 0;
								letter-spacing: 0;
								font-size: .9em;
								text-align: center;
								width: 125px;
								display: inline-block;
								float: left;
								color: #b0b0b0;
							}
						}
					}
				}
				.mobiletextbox {
					display: none;
					margin: 55px auto 0;
					width: 60%;
					line-height: 26px;
					height: auto;
					.three-steps { display: none; }
					.video span { top: 8px; left: 24px; }
				}
			}
			.slide1 .textbox {
				margin-top: 0;
				a {
					background: none;
					color: @ll-pink;
					font-weight: 400;
					font-size: 1.6em;
					letter-spacing: .5px;
					width: 100%;
					padding: 0;
					margin: 0;
					&:hover { color: @ll-pink-hover; background: none; }
				}
			}
			.slide2 .textbox a, .slide3 .textbox a { display: none; }
			.slide1 { background: url(../../_img/page-home/slide1.jpg) no-repeat; background-position: right bottom; }
			.slide2 { background: url(../../_img/page-home/slide2.jpg) no-repeat; background-position: right bottom; }
			.slide3 { background: url(../../_img/page-home/slide3.jpg) no-repeat; background-position: right bottom; }
		}
	}
	#userdata {
		opacity: 1;
		padding-bottom: 150px;
		input {
			position: relative;
			display: inline-block;
			width: 250px;
			height: 51px;
			.border-radius-all(6px);
			border: 2px solid #fff;
			padding: 0 1.5em 0;
			margin: 0 1em 1em 0;
			top: -.25em;
			font-size: 1em;
			letter-spacing: 1px;
			color: @ll-dark-text;
			font-weight: 400;
			-webkit-appearance: none;
			&.invalid {
				border: 2px solid #F44566;
				-webkit-animation: shake .6s linear;
				@-webkit-keyframes shake {
					0% {
							left:-10px;
					}
					16% {
							left:9px;
							background-color: #FFEFF2;
					}
					33% {
							left:-6px;
					}
					50% {
							left:5px;
					}
					66% {
							left:-2px;
							background-color: #fff;
					}
					83% {
							left:1px;
					}
					100% {
							left: 0px;
					}
				}
			}
		}
		.start {
			.ll-pink-button();
			margin: 0;
			display: inline-block;
			vertical-align: top;
			font-size: 1.5em;
			padding: 13px 2em;
		}
		span {
			display: table;
			color: @ll-light-text;
			.default-text();
			.border-radius-all(1em);
			letter-spacing: .25px;
			margin: 4px auto 0;
			font-size: .85em;
			padding: 2px 3.5em 0;
			a {
				color: @ll-light-text;
				text-decoration: underline;
			}
			&.hidden {
				display: none;
			}
		}
	}
	#mid-bottom {
		position: relative;
		width: 100%;
		height: 450px;
		z-index: 0;
		text-align: center;
		color: @ll-dark-text;
		background: url(../../_img/page-portal-landing/mid-bg.jpg) no-repeat;
		background-size: cover;
		overflow: hidden;
		#agent-mid {
			height: 300px;
			margin-top: 100px;
			//@imgHeight: 250px; @imgWidth: 250px;
			color: white;
			img {
				border: 2px solid #E8E8E8;
				.box-sizing(border-box);
				display: inline-block;
				margin: 0;
				position: relative;
				height: 200px;
				width: 200px;
				.border-radius-all(100%);
				vertical-align: top;
				margin-top: 1em;
			}
				#description {
					width: 65%;
			    margin-left: 4em;
			    text-align: left;
			    display: inline-block;
					line-height: 1.9em;
	      	 	#name {
	      	 		color: #999;
	      	 		font-size: 3em;
	      	 		display: inline;
	      	 		font-weight: 600;
							letter-spacing: 0;
							cursor: default;
							.after-name {
								color: #fff;
							}
	      	 	}
	      	 	#name-subtext {
	      	 		font-size: 3em;
	      	 		display:inline-block;
	      	 	}
	      	 	#subtitle {
							width: 75%;
	      	 		display:block;
	      	 		font-size: 1.2em;
							padding-top: 1em;
							font-weight: 400;
							cursor: default;
	      	 	}
	      	 	#agent-text {
							width: 75%;
	      	 		padding-top: 20px;
	      	 		#bigquote {
								font-size: 1.5em;
								color: @ll-green;
								cursor: default;
								&.start {
									-moz-transform: scale(-1, 1);
									-webkit-transform: scale(-1, 1);
									-o-transform: scale(-1, 1);
									-ms-transform: scale(-1, 1);
									transform: scale(-1, -1);
									position: relative;
									display: inline-block;
									top: -6px;
									margin-right: 5px;
								}
								&.end {
									position: relative;
									display: inline-block;
									top: -6px;
									margin-left: 4px;
								}
	      	 		}
	      	 		span {
								font-size: 1.4em;
								font-weight: 400;
								letter-spacing: .25px;
								cursor: text;
	      	 		}
	      	 		#agent-sig {
								float: right;
								font-style: italic;
								position: relative;
								font-size: 1.2em;
								top: 10px;
								margin-right: 80px;
								cursor: default;
	      	 		}
	      	 	}
	      	}
    	}
	}
	.mobile-agent-quote {
		display: none;
		background: #F5F5F5;
    color: @ll-text;
    font-weight: 400;
    text-align: center;
    padding: 2em;
		#bigquote {
			font-size: 1.5em;
			color: #53D8B2;
			cursor: default;
			&.start {
				-moz-transform: scale(-1, 1);
				-webkit-transform: scale(-1, 1);
				-o-transform: scale(-1, 1);
				-ms-transform: scale(-1, 1);
				transform: scale(-1, -1);
				position: relative;
				display: inline-block;
				top: -6px;
				margin-right: 5px;
			}
			&.end {
				position: relative;
				display: inline-block;
				top: -6px;
				margin-left: 4px;
			}
		}
		span {
			font-size: 1.4em;
			font-weight: 400;
			letter-spacing: .25px;
			cursor: text;
		}
		#agent-sig {
			display: block;
			font-style: italic;
			position: relative;
			font-size: 1.2em;
			top: 5px;
			margin-right: 80px;
			text-align: right;
			cursor: default;
		}
	}
	#home-bottom {
		background: #fff;
		color: @ll-text;
		overflow: hidden;
		padding-bottom: 1em;
		.mobile-title {
			display: none;
			color: #444;
			font-size: 2.5em;
			font-weight: 400;
			line-height: 1.4em;
			width: 55%;
			position: relative;
			margin: 1em auto 0;
			text-align: center;
			z-index: 10;
			.mobilestyling {
				font-style: italic;
				text-transform: capitalize;
			}
		}
		.home-bottom-bg {
			background: url(../../_img/page-home/iphone.jpg) #fff no-repeat; 
			background-position: right top;
			-webkit-transform: translate3d(0, -25px, 0);
			transform: translate3d(0, -25px, 0);
			opacity: 0;
			.transition(1.5s);
			height: 1300px;
			width: 650px;
			position: absolute;
			top: 0;
			right: 0;
			img { display: none; width: 100%; left: 50px; position: relative; }
			&.animate {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
			&.active {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
		}
		.content {
			padding: 120px 0 2em 5em;
			width: 40%;
			p { text-align: justify; }
			.top {
				.title {
					.default-text();
					color: #444;
					font-size: 3em;
					line-height: 1.4em;
					width: 85%;
					display: block;
					position: relative;
					.mobilestyling {
						font-style: italic;
						text-transform: capitalize;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: @ll-lighter-text;
					position: relative;
				}
			}
			.cities, .listings, .agents {
				margin-top: 6em;
				.title {
					cursor: default;
					display: block;
					position: relative;
					height: 190px;
					.image {
						cursor: default;
						float: left;
						position: relative;
						img { width: 190px; .border-radius-all(100%); }
						span {
							position: absolute;
							text-align: center;
							left: 0;
							right: 0;
							font-size: 3em;
							margin-top: 82px;
						}
					}
					p {
						display: inline;
						color: @ll-text;
						font-size: 2.7em;
						font-weight: 400;
						line-height: 1.4em;
						position: relative;
						top: 32px;
						left: 30px;
						position: relative;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: @ll-lighter-text;
					position: relative;
				}
			}
			.listings .title, .agents .title { width: 106%; }
			.listings p { width: 170%; }
			.agents p { width: 200%; }
		}
	}
	.calltoaction {
		background: #444;
		text-align: center;
		padding: 3.5em 0 3.5em;
		p {
			margin: 0;
			font-size: 3em;
			cursor: default;
		}
		#userdata {
			padding: 40px 0 0;
		}
	}
}