@import '../_import/helper.less';

 .videoDiv {
	 left: 0;
	 right: 0;
	 top: 0;
	 iframe {
		 width: 800px;
		 height: 475px;
		 display: block;
		 margin: 0 auto;
	 }
	 .closeVid {
		 position: absolute;
		 top: 38px;
		 margin-left: 720px;
		 background-color: #000;
		 .border-radius-all(4px);
	 }
 }

#page-about {
  	position: relative;
  	.top {
				background: #fff;
				width: 100%;
				height: auto;
				position: relative;
				margin: 0;
				text-align: center;
				.title {
					position: absolute;
					text-align: center;
					left: 35%;
					.title1 {
						color: #929292;
						font-size: 54px;
						left: 0;
						margin: 50px 0 0 0;
						font-weight: 300;
						display: block;
						cursor: default;
					}
					.title2 {
						position: absolute;
						color: #515151;
						font-size: 1.4em;
						right: -190px;
						margin-top: 13px;
						.default-text();
					}
					.title3 {
						position: absolute;
						color: #515151;
						font-size: 2.2em;
						display: block;
						margin: 35px 0 0 70px;
						letter-spacing: .05em;
						.default-text();
					}
					.title4 {
						position: absolute;
						color: #e27f30;
						font-size: 3em;
						display: block;
						letter-spacing: .05em;
						margin: 48px 0 0 210px;
						.default-text();
					}
				}
				.headertext {
					cursor: default;
					text-align: center;
					position: relative;
					font-weight: 300;
					margin: 0 auto;
					width: 60%;
					padding-top: 2em;
					padding-bottom: 1em;
					font-size: 2.5em;
					letter-spacing: .01em;
					line-height: 1.2em;
					color: #36bfb1;
				}
				.text {
						text-align: center;
						position: relative;
						font-weight: 400;
						padding: 1em 0 0 0;
						margin: 0 auto 2em;
						width: 55%;
						font-size: 1.1em;
						letter-spacing: .02em;
						line-height: 1.8em;
						color: @ll-lighter-text;
				}
				.video {
					background: #E4E4E4;
					padding-bottom: 1em;
					iframe { margin: 4em auto 3em; }
					a {
						.ll-blue-button();
						line-height: 2.25em;
						display: block;
						margin: 0 auto 2em;
						width: 15%;
						font-size: 1.4em;
						padding: .4em 2em;
					}
					a:hover { color: #fff }
				}
				a {
						color: @dark-blue;
						font-size: 1.4em;
						font-weight: 400;
						line-height: 3em;
						display: inline-block;
						padding-bottom: 1em;
				}
				a:hover{ color: @dark-blue-hover; }
		}
		.team {
				.left {
						background: #f1fafa;
						position: relative;
						float: left;
						width: 100%;
						padding: 3em 0;
						img {
								float: left;
								margin-left: 4em;
								margin-right: 4em;
								display: inline-block;
								width: 323px;
								height: 323px;
						}
						.text {
								text-align: left;
								display: inline-block;
								width: 65%;
								.title {
										padding-top: 5px;
										letter-spacing: .05em;
										font-size: 3em;
										color: #494949;
										font-weight: 400;
										display: block;
								}
								.subtitle {
										font-size: 1.5em;
										color: #5f5f5f;
										display: block;
										padding-top: 1em;
										font-weight: 400;
								}
								p {
										font-size: 1.1em;
										color: #323232;
										font-weight: 400;
										margin-top: 25px;
										line-height: 1.9em;
								}
								.line {
										height: 1px;
										width: 500px;
										margin-top: 25px;
										background: -webkit-linear-gradient(90deg, #ababab, #f1fafa);
										background: -o-linear-gradient(90deg, #ababab, #f1fafa);
										background: -moz-linear-gradient(90deg, #ababab, #f1fafa);
										background: linear-gradient(90deg, #ababab, #f1fafa);
								}
						}
				}
				.right {
						background: #f1fafa;
						position: relative;
						float: right;
						width: 100%;
						padding: 3em 0;
						img {
								float: right;
								margin-left: 4em;
								margin-right: 4em;
								display: inline-block;
								width: 323px;
								height: 323px;
						}
						.text {
								text-align: right;
								float: right;
								display: inline-block;
								width: 65%;
								.title {
										padding-top: 5px;
										letter-spacing: .05em;
										font-size: 3em;
										color: #494949;
										font-weight: 400;
										display: block;
								}
								.subtitle {
										font-size: 1.5em;
										color: #5f5f5f;
										display: block;
										padding-top: 1em;
										font-weight: 400;
								}
								p {
										font-size: 1.1em;
										color: #323232;
										font-weight: 400;
										margin-top: 50px;
										line-height: 1.9em;
								}
								.line {
										float: right;
										height: 1px;
										width: 500px;
										margin-top: 25px;
										background: -webkit-linear-gradient(270deg, #ababab, #f1fafa);
										background: -o-linear-gradient(270deg, #ababab, #f1fafa);
										background: -moz-linear-gradient(270deg, #ababab, #f1fafa);
										background: linear-gradient(270deg, #ababab, #f1fafa);
								}
						}
				}
		}
}