@import '../_import/helper.less';

@slideHeight: 720px;
@slideWidth: 1280px;

.hideimg {
	display: none!important;
}
.basic-info-bg {
	top: 55px;
	position: absolute;
	height: 100%;
	min-height: 645px;
	background: url(../../_img/page-quiz/quiz-desktop-basicbg.jpg) no-repeat #151515;
	background-size: cover;
	width: 100%;
	z-index: 0;
}

.loading-overlay {
	height: 100vh;
	width: 100%;
	position: fixed;
	background: #232323;
	top: 0;
	z-index: 99;
	opacity: 1;
	.transition(.5s);
	p {
		text-align: center;
    font-size: 1.5em;
    color: #CACACA;
    margin-top: 250px;
		cursor: default;
	}
	.spin-wrap {
		height: 128px;
		width: 128px;
		position: relative;
		margin: 0 auto;
		top: 0;
		left: -8px;
		z-index: 10;
	}
}

div#overlay-bg {
	span#title {
		font-size: 1.5em;
		font-weight: 400;
	}
	div.predefined {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		height: auto;
		background: white;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		display: none;
		text-align:center;
		span#or {
			color: @ll-darker-text;
			display: block;
		}
		button{ 
			.ll-blue-button-round();
			padding: .4em .8em;
			font-size: 1.2em;
			margin-bottom: 10px;
		}
		.intro {
			color: @ll-text;
			text-align: center;
			.default-text();
			padding: 2.5em 0 3em;
			span#title {
				font-size: 2em;
				font-weight: 400;
				margin-bottom: .45em;
			}
			span#subtitle { font-size: 1.4em; }
			button {
				margin: 1.25em auto .75em;
				font-weight: 400;
				padding: .8em 4em;
			}
			> * { display: block; }
		}
		&.desktop {
			width: 80%;
			height: auto;
			max-height: 90%;
			background-color: #fff;
			.border-radius-all(4px); 
		}
		&.mobile {
			width: 90%;
			height: auto;
			max-height: 98%;
			background-color: #fff;
			.border-radius-all(10px);
			.intro {
				padding: 2.25em 0;
				button { margin: 1.5em auto .75em; }
			}
		}
		.divider {
			.circle {
				margin: 0 auto;
				position: absolute;
				left: 0;
				right: 0;
				height: 60px;
				width: 60px;
				margin-top: -30px;
				background: white;
				border-radius: 100%;
				border: 1px solid #d6d6d6;
				p {
					color: #c5c5c5;
					.default-text();
				}
			}
		}
		.slides-wrapper {
			background: #f5f5f5;
			padding: 3em 0 2em;
			user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-o-user-select: none;
			.title {
				.default-text();
				color: #555;
				font-size: 1.7em;
				display: table;
				margin: 0 auto 1.5em;
				img {
					width: 50px;
					height: 50px;
					margin-right: 15px;
					display: inline-block;
					position: relative;
					top: 12px;
				}
			}
		}
		.arrow {
			display: none;
			position: relative;
			color: #555;
			font-size: 3em;
			padding: 0 18px;
			vertical-align: top;
			line-height: 208px;
			span.point { cursor: pointer; }
			&.active {
				display: inline-block;
			}
			&.disabled {
				pointer-events: none;
				color: #b3b3b3;
				span.point { cursor: default; }
				span.click { pointer-events: none!important; }
			}
		}
		div.slides{
			button { .ll-blue-button(); }
			width: 100%;
			margin: 0 auto;
			max-width: 1086px;
			display: inline-block;
			> ul {
				margin: 0;
				white-space: nowrap;
				position: relative;
				li.slide{
					.border-radius-all(4px); 
					margin: 0 2px 8px;
					display:inline-block;
					position: relative;
					vertical-align: top;
					height: 200px!important;
					width: 267px!important;
					.image {
						position: relative;
						display: inline-block; 
						.border-radius-all(15px);
						margin: 0 2px;
						height: 200px!important;
						width: 267px!important;
						background-size: cover!important;
						.mobilegray {
							.border-radius-all(15px);
							height: 100%;
							width: 100%;
							display: block;
							position: absolute;
							background: rgba(0,0,0,.1);
						}
						.icon {
							width: 30px;
							height: 30px;
							margin-right: 9px;
							margin-top: 8px;
							position: absolute;
							right: 0;
							top: 0;
						}
						.text, .smalltext {
							opacity: 0;
							color: #fff;
							position: relative;
							display: block;
							font-size: 1.5em;
							font-weight: 400;
							text-shadow: 0 0 50px rgba(20,20,20,.5);
							text-align: center;
							word-wrap: normal;
							width: 90%;
							margin: 0 auto;
							position: relative;
							top: 50%;
							white-space: normal;
							.intro-transition(1.5s);
							&.animate { opacity: 1; .intro-transition(1.5s); }
							p { margin: 0; line-height: 1.25em; }
						}
					}

					a.selected .meta .checkmark { display: block; }
				}
			}
		}
	}
}

img#agent-img {
	width: 100px;
	height: 100px;
	.border-radius-all(100%); 
	position: relative;
	right: 15px;
}
.quiz-wrap div.home-options .title img#agent-img, .quiz-wrap div.quiz-select .title img#agent-img { right: 0; }

.quiz-wrap #progress-bar .progress { letter-spacing: .1em; font-size: 1.1em; color: #e06d92; font-weight: 400; text-transform: none; float: none; display: inline-block; top: -3px; width: 31%; text-align: center; margin-right: -5px; }

.quiz-wrap {
	overflow: auto;
	overflow-x: hidden;
	background: #2C2D2D;
	height: auto;
	min-height: -webkit-calc(~'100vh - 60px');
	min-height: -moz-calc(~'100vh - 60px');
	min-height: calc(~'100vh - 60px');
	button {
		.ll-blue-button-round();
		padding: .4em .8em;
		font-size: 1.2em;
	}
	.mobilequizbuttons {
		display: none; 
		button#button-back {
			background: none;
			color: #399cbf;
			font-weight: 400;
			letter-spacing: .5px;
			font-size: .85em;
			padding: 0;
			margin: .75em auto 0; 
			width: auto;
		}
		button#button-back:hover { color: #62ADC7; }
		.skip-to-end {
			.default-text();
			color: #399cbf;
			letter-spacing: .5px;
			margin: 1.5em auto 1.5em; 
			display: table; 
			text-align: center; 
			font-size: 1.1em;
			span {
				font-size: .8em;
				position: relative;
				margin-left: 2px;
				margin-top: 1px;
			}
		}
		.skip-to-end:hover { color: #62ADC7; }
	}
	.desktopbar {
		background: #333333;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		height: 55px;
		display: block;
	}
	.mobilebar {
		display: none;
		background: #232323; 
		margin: 0 auto; 
		width: 100%; 
		text-align: center;
		height: 47px;
	}
	#progress-bar {
		@radius: 15px;
		position: relative;
		margin: 0 auto;
		width: 100%; 
		padding: 12px 0 0;
		.quizlogo {
			position: absolute;
			left: 1%;
			top: 8px;
			display: none;
			a.logo{		
				display: block;
				position: relative;
				margin: 0 auto;
				z-index: 5;
				height: 42px;
				padding: 0 15px 1px 1px;
				text-transform: none;
				color: #fff;
				font-size: 1.7em;
				font-weight: 300;
				text-align: left;
				.life {
					color: @ll-logo-blue;
				}
				.lifestyledsmall {
					position: absolute;
					margin-top: 19px;
					font-size: .6em;
					color: @ll-logo-blue;
					font-style: italic;
					margin-left: -39px;
				}
			}
		}
		.bar{
			background: none;
			border: 2px solid #fff;
			clear: both;
			height: @radius;
			position: relative;
			width: 39%;
			margin-top: 7px;
			display: inline-block;
			margin-left: -4px;
			.border-radius-all(@radius);
			.fill{
				.border-radius-all(@radius);
				background: white;
				position: absolute;
				height: 13px;
				width: 0;
				top: 1px;
				left: 1px;
				&.empty { .border-radius-all(@radius); }
			}
		}
		.progress{
			.default-text();
			letter-spacing: 0.2em;
			line-height: 2em;
			position: relative;
			text-align: left;
			letter-spacing: .1em; 
			font-size: 1.1em; 
			color: #E4486B; 
			display: inline-block; 
			width: 27.25%;
			text-align: right;
			margin-right: -9px;
			padding-right: 3.75%;
			.percent{
				color: @light-blue;
				font-weight: 500;
				letter-spacing: 0.1em;
				line-height: 2em;
				text-shadow: 0 0;
			}
		}
		.skip-to-end {
			display: inline-block;
			line-height: 2em;
			top: -4px;
			position: relative;
			width: 27%;
			margin-left: 3%;
			color: #399cbf;
			font-weight: 400;
			text-align: left; 
			.smallskip { display: none; }
			.largeskip {
				display: inline;
				span {
					color: white;
					font-size: 1em;
					position: relative;
					margin: 0;
				}
			}
			span {
				font-size: .7em;
				position: absolute;
				margin-left: 6px;
				margin-top: 0;
			}
			&:hover { color: #62adc7; }
		}
	}
	article.quiz-question{
		margin: 0 auto 1.2em;
		padding: 2em 0 2em;
		width: 100%;
		background: #3A3A3A;
		font-size: .95em;
		.questiondiv {
			display: inline-block;
			width: 70%;
			color: #E8E8E8;
			font-size: 2.25em;
			font-weight: 400;
			line-height: 1.25em;
			img {
				float: left;
				margin-left: 6%;
			}
			.question-wrapper {
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
			.question-number {
				margin-left: 6%;
				vertical-align: top;
				display: inline-block;
				&.haveImg {
					margin-left: 0%;
					//.number { display: none; }
				}
			}
			.main-question {
				width: 65%;
				display: inline-block;
				.agent-quotes { display: none; }
				&.haveImg {
					.agent-quotes {
						display: inline;
						font-style: italic;
						position: relative;
						&.left { margin-right: 4px; left: -5px; }
					}
				}
			}
		}
		.dekstopquizbuttons { 
			display: inline-block;
			width: 20%;
			text-align: right;
			vertical-align: top;
			margin-left: 0;
			#button-back {
				background: none;
				color: #399cbf;
				font-weight: 400;
				letter-spacing: .5px;
				font-size: .9em;
				text-align: right;
				right: 0;
				padding: 0;
				margin: 1em 0 0 4px;
				span {
					font-size: .7em;
					position: absolute;
					margin-left: -12px;
					margin-top: 3px;
				}
			}
			#button-back:hover { color: #62ADC7; }
		}
	}
		.selectimages{
			position: relative;
			z-index: 15;
			width: 100%;
			margin: 0 auto 3em;
			text-align: center;
				div.slides{
						button{ .ll-blue-button(); }
						&.type-3, &.type-6, &.type-12, &.type-mobile{
								width: 1150px;
								margin: 0 auto;
								overflow: hidden;
								> ul {
										margin: 0;
											li.slide{
												&.desktop {
													display: inline-block;
												}
												&.mobile {
													display: none;
												}
												.border-radius-all(4px); 
												margin: 0 4px 8px 4px;
												display:inline-block;
												position: relative;
												vertical-align: top;
												a {
														display: block;
														height:100%;
														left: 0px;
														position: absolute;
														text-align: center;
														top: 0px;
														width: 100%;
														h2 {
															position: absolute;
															left: 0;
															right: 0;
															bottom: 0;
															background: @ll-pink;
															color: #fff;
															font-weight: 400;
															font-family: 'open sans';
															.border-radius-all(20px); 
															width: 80%;
															margin: .5em auto;
															z-index: 9;
															text-transform: capitalize;
														}
														.checkmarkoff {
															height: 28px;
															width: 28px;
															position: absolute;
															top: 5px;
															right: 5px;
															background: none;
															.border-radius-all(100%); 
															border: 3px solid #fff;
															box-shadow: 0 0 10px rgba(0,0,0,.2);
															z-index: 9;
														}
														.checkmark {
															height: 28px;
															width: 28px;
															position: absolute;
															top: 8px;
															right: 8px;
															background: #5590d3;
															.border-radius-all(100%);
															display: none;
															.checkmarkon {
																.border-radius-all(100%); 
																height: 28px;
																width: 28px;
																position: absolute;
																right: 1px;
															}
														}
														&:hover .meta.active, &.selected .meta{ opacity:1; }
														&:hover .meta2.active { 
															opacity:1; 
															h2 {
																z-index: 10;
																opacity: 0.75;
															}
														}
														&.selected .meta .checkmark{ opacity: 1; }
														&.selected .meta2 { 
															opacity: 1; 
															top: 0%!important;
															h2 {
																margin-top: 30%!important;
																z-index: 10!important;
															}
														}
														.meta {
																.transition(0.25s);
																background:rgba(0,0,0,0.25);
																display: block;
																height: 100%;
																line-height: 1.2em;
																opacity: 0;
																position: absolute;
																text-transform: uppercase;
																top: 0px;
																left: 0px;
																width: 100%;
																h2 { font-family: @sans; font-weight: normal; letter-spacing: 0.05em; position: relative; color: white; .text-shadow(); }
														}
														.meta2 {
																.transition(0.25s);
																background:rgba(0,0,0,0);
																display: block;
																height: 100%;
																line-height: 1.2em;
																opacity: 0;
																position: absolute;
																text-transform: uppercase;
																top: 0%;
																left: 0px;
																width: 100%;
																h2 { font-family: @sans; font-weight: normal; letter-spacing: 0.05em; position: relative; color: white; .text-shadow(); margin-top: 30%; }	
														}
												}
												a.selected .meta .checkmark { display: block; }
										}
								}
								&.type-12{
										ul > li.slide {
												height: 170px;
												overflow: hidden;
												width: 265px;
												img { height: 100%; width: 100%; }
												a h2 { font-size: 1.1em; padding: 2px 0; }
										}
								}
								&.type-6{
										ul > li.slide {
												height: 265px;
												overflow: hidden;
												width: 325px;
												img { height: 100%; width: 100%; }
												a h2 { font-size: 1.1em; padding: 4px 0; }
										}
								}
								&.type-3{
										ul > li.slide {
												height: 450px;
												overflow: hidden;
												width: 350px;
												img { height: 100%; width: 100%; }
												a h2 { font-size: 1.2em; padding: 6px 0; }
										}
								}
								&.type-mobile{
										ul > li.slide {
												height: 275px;
												overflow: hidden;
												width: 290px;
												a .meta > h2 { top: 5.75em; }
										}
								}
						}
				}
		}
		.home-options-progress#progress-bar {
			top: 0;
			position: absolute;
			margin: 0 auto;
			width: 100%;
			height: 31px;
			padding: 12px 0;
			background: #333;
			.bar { 
				margin-right: 30%;
				.fill { width: 0; }
			}
		}
		div.home-options, div.quiz-select {
			position: relative;
			z-index: 20;
			width: 100%;
			text-align: center;
			margin-bottom: 150px;
			.title {
				font-size: 1.75em;
				margin: 4.5em 0 1em;
				display: block;
				letter-spacing: .5px;
				img {
					position: relative;
					display: block;
					margin: -100px auto 10px;
				}
			}
			.chooseQuiz {
				margin: .5em auto;
				display: table;
				.choose {
					.border-radius-all(8px); 
					border: 2px solid #5390D0;
					position: relative;
					text-align: center;
					line-height: 48px;
					clear: both;
					color: #fff;
					cursor: pointer;
					padding: 0;
					margin: 15px 0 25px;
					width: 300px; 
					height: 46px;
					display: block;
					&.selected {
						color: #fff; 
						background: rgba(54, 193, 65, .9);
						&:hover { background: #36C141; }
					}
				}
				.choose:hover { background: rgba(167, 228, 180, .25); }
			}
			.address {
				margin: .5em auto;
				display: table;
				width: 300px;
				.autocomplete {
					width: 100%;
					margin: 0;
					input {
						height: 2em;
					}
				}
				.address {
					.border-radius-all(10px);
					text-align:center;
					width: 90%;
					margin: 0;
					height: 2em;
					display: inline-block;
				}
				#marker {
				    margin: 0 0 0 10px;
				}
			}
			.specific {
				margin: .5em auto;
				display: table;
				width: 300px;
				.autocomplete {
					width: 100%;
					margin: 0;
					input {
						height: 2em;
					}
				}
				.searchexact {
					width: 200%;
					text-align: left;
					input {
						float: left; 
						margin: 9px 0 0 12px;
					}
					select {
						font-size: .7em;
						.border-radius-all(10px);
						padding: 3px 2px 3px 4px;
						color: #444;
						letter-spacing: .5px;
						border: 0;
						margin-left: 6px;
					}
				}
				.title {
					margin: 2px 0 0 10px;
					float: left;
					font-size: .9em;
					display: inline;
				}
			}
			div#control {
				display: inline-block;
				button#showAll {
					display: block;
					font-size: 1em;
					color: #78b2ef;
					position: relative;
					padding: 0px;
					top: 10px;
					background: none;
					width: auto;
					margin: 0 auto;
					.border-radius-all(0); 
					span {
						position: relative;
						top: 1px;
					}
				}
				button#showAll:hover { color: #B6CAE0; }
			}
			button {
				margin: 0 auto; 
				padding: .6em 2em; 
				.border-radius-all(8px); 
				background-color: #5390D0; 
				font-size: 1.2em; 
				font-weight: 300;
				display: inline-block;
				width: 300px;
				margin: 5px;
			}
			button:hover { background: #6DAEF3; }
			.explain {
				margin-top: .5em;
				margin-bottom: .5em;
				font-family: 'Open Sans';
				font-size: 1.5em;
				letter-spacing: .1em;
				color: #F4F4F4;
			}
			// ---- Select Box ---- //
			.priceList { margin: .5em auto -1.5em; }
			.homeOptions { margin: 4em auto; }
			.priceList, .homeOptions {
				display: table; 
				.border-radius-all(8px); 
				border: 2px solid #5390D0;
				position: relative;
				text-align: center;
				line-height: 31px;
				clear: both;
				color: #888;
				cursor: pointer;
				width: 300px; 
				padding: 0;
				height: 46px;
				.selected {
					color: #fff; 
					font-size: 1.2em;
					margin-left: 10px!important;
					letter-spacing: .05em;
					border-right: none;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					background: none;
					overflow: hidden;
					position:relative;
					z-index:1;
					height: 34px;
					display: block;
					padding: 7px 20px 5px 0;
					margin: 0;
					.selectArrow {
						width: 17px;
						text-align: right;
						font-size: .85em;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-o-user-select: none;
						user-select: none;
						display: inline-block;
						background-image: url(../../_img/page-quiz-results/chosen-sprite.png);background-repeat:no-repeat;
						background-position: center left;
						position: absolute;
						height: 30px;
						z-index: 1;
						margin-left: 4px;
						margin-top: 2px;
					}
				}
				ul.prices, ul.options{
					position: absolute;
					height: 195px;
					top: 31px;
					left: -1;
					width: 100%;
					.border-radius-all(3px);
					overflow-y: scroll;
					background: #656565;
					border: 1px solid #7189A2;
					padding-top: 2px;
					display:none;
					z-index: 99;
					li{
						display:block;
						width:80%;
						line-height:20px;
						padding:7px 10%;
						color:#fff;
						border-bottom: 1px solid #6F6F6F;
					}
					li:hover{
						color:#fff;
						background:#4096ee;         
					} 
					li.active {
						color:#fff;
						background:rgba(255,255,255,.15);  
					}
				}
			}
			.homeOptions ul.options { height: 175px; }
			.priceList.active .selected { color: #F4F4F4; }
			.priceList.active .selectArrow { background-position: center right; }
			.homeOptions.active .selected { color: #F4F4F4; }
			.homeOptions.active .selectArrow { background-position: center right; }
		}
		div.quiz-select {
			.address {
				margin: .75em auto 0;
				position: relative;
				top: -12px;
				.address { height: 38px; .transition(0s); color: #555; font-size: .9em; }
				.autocomplete input { height: 38px; .transition(0s); color: #555; font-size: .9em; }
				.autocomplete input:focus { .transition(0s); border: 2px solid #E26189; }
			}
			.specific {
				margin: .75em auto 0;
				width: 250px;
				position: relative;
				top: -30px;
				.autocomplete input { height: 38px; .transition(0s); color: #555; font-size: .9em; }
				.autocomplete input:focus { .transition(0s); border: 2px solid #E26189; }
			}
			div#control { position: relative; top: -5px; }
			.chooseQuiz { text-align: left; }
			.circle {
				position: absolute;
				border: 2px solid #fff;
				height: 23px;
				width: 23px;
				.border-radius-all(100%);
				background: none;
				z-index: 5;
				float: left;
				pointer-events: none;
				top: 10px;
				left: 10px;
				margin: 0;
				&.active { background: url(../../_img/page-quiz/checkmark-blue.png) no-repeat #fff; background-position: -1px 0; background-size: 25px 25px; }
			}
		}
		div.home-options button { position: relative; top: -15px; }
		div.home-options .homeOptions { margin: 3em auto; }
		div.home-options #median-range {
			color: white;
			#radio-item {
				display: block;
				>* {
					display: inline-block;
				}
			}
			#msg {
				display: block;
			}
			
		}
		div.predefined-quiz {
			position: absolute;
	        left: 0;
	        right: 0;
	        margin: 0 auto;
	        top: 70%;
	        //height: auto;
	        height: 204px;
	        width: 80%;
	        background: transparent;
	        display: none;
	        overflow-y: scroll;
			// predefined quiz section
			div.predefined {
				background: transparent;
				//overflow-y: auto;
				//overflow-x: hidden;
				-webkit-overflow-scrolling: touch;
				display: none;
				text-align:center;
				.intro {
					border-radius: 1em 1em 0 0;
					background-color: transparent;
					color: white;
					text-align: center;
					font-size: 1.2em;
					> * {
						display: inline-block;
						margin-right: 10px;
					}
				}
				&.desktop {
					//width: 60%;
					height: auto;
					max-height: 15%;
					background-color: transparent;
					.border-radius-all(1em); 
					//overflow: auto;
				}
				&.mobile {
					width: 90%;
					height: auto;
					max-height: 90%;
					background-color: #fff;
					.border-radius-all(1em); 
					display: none;
				}
				div.slides{
					button { .ll-blue-button(); }
					width: 100%;
					margin: 0 auto;
					//overflow: auto;
					> ul {
						margin: 0;
						overflow-x: auto;
						white-space: nowrap;
						li.slide{
							.border-radius-all(4px); 
							margin: 0 2px 8px;
							display:inline-block;
							position: relative;
							vertical-align: top;
							height: 200px!important;
							width: 267px!important;
							.image {
								position: relative;
								display: inline-block; 
								.border-radius-all(15px);
								margin: 0 2px;
								height: 200px!important;
								width: 267px!important;
								background-size: cover!important;
								.mobilegray {
									.border-radius-all(15px);
									height: 100%;
									width: 100%;
									display: block;
									position: absolute;
									background: rgba(0,0,0,.1);
								}
								.icon {
									width: 30px;
									height: 30px;
									margin-right: 9px;
									margin-top: 8px;
									position: absolute;
									right: 0;
									top: 0;
								}
								.text, .smalltext {
									opacity: 0;
									color: #fff;
									position: relative;
									display: block;
									font-size: 1.5em;
									font-weight: 400;
									text-shadow: 0 0 50px rgba(20,20,20,.5);
									line-height: 200px;
									text-align: center;
									white-space: normal;
									.intro-transition(1.5s);
									&.animate { opacity: 1; .intro-transition(1.5s); }
								}
							}

							a.selected .meta .checkmark { display: block; }
						}
					}
				}
			}
		}
}

.ui-autocomplete{
		background: rgba(0, 0, 0, 0.4);
		font-size: 1em;
		font-family: @sans;
		max-height: 250px;
		overflow: auto;
		> li:hover {
				background: rgba(1, 1, 1, 0.2);
		}
		z-index: 10;
}
.smallmobilepopup { display: none; }
.mediummobilepopup { display: none; }
.largemobilepopup { display: none; }
.landscapeskip { display: none; }

@media only screen and (max-width : 1900px) {
	nav#header-nav { display: none!important; }
	.quiz-wrap #progress-bar .quizlogo { display: block; }
	.quiz-wrap .desktopbar { background: #272727; }
	.quiz-wrap { min-height: 100vh; }
	.quiz-wrap .home-options-progress#progress-bar { background: #272727; }
}