@import '../_import/helper.less';

#faq {
	background: #272727;
	display: block;
	.main-section {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 2em;
		.main-title {
			display: block;
			padding: 40px 0 5px;
			text-align: center;
			font-size: 2em;
			color: #D6D6D6;
			letter-spacing: 1px;
		}
		.question {
			line-height: 1.5em;
			margin: 2em 0;
			#title {
				cursor: pointer;
				font-size: 1.5em;
				-webkit-user-select: none; /* webkit (safari, chrome) browsers */
				-moz-user-select: none; /* mozilla browsers */
				-khtml-user-select: none; /* webkit (konqueror) browsers */
				-ms-user-select: none; /* IE10+ */
				color: #f5f5f5;
				&:hover { color: #5A96BD; }
				//&.odd { color: #F5F5F5; }
				//&.even { color: #5A96BD; }
			}
			.dropdown {
				margin: .75em 0 1em 3em;
				p {
					margin: 0;
					line-height: 2em;
					color: #BDBDBD;
					font-weight: 400;
				}
			}
		}
	}
}