@import '../_import/helper.less';

.home-wrap{
		#home-welcome {
			position: absolute;
			left: 3%;
			top: 10px;
			.spinner {
				opacity: 1;
				color: white;
			}
		}
		#home-top{
			height: 100vh;
			min-height: 700px;
			overflow: hidden;
			position: relative;
			width: 100%;
			z-index: 0;
			.shadow-bg{
				height: 100vh;
				min-height: 700px;
				width: 1440px;
				position: absolute;
				z-index: 5;
				background: url(../../_img/page-home/shadow-bg.png) no-repeat;
			}
			.videoIntroDiv {
            	position: absolute;
            	top: 98px;
            	left: 148px;
            	z-index: 60;
            	.closeVid {
					//display: none;
	                //top: -570px;
	                //left: 92%;
	                position: absolute;
	                top: 2%;
	                left: 90%;
	                z-index: 61;
	                color: white;
	                background-color: #000;
		       		.border-radius-all(4px);
	            }
	            #noshowintrovid {
	            	position: absolute;
	            	top: 2%;
	            	left: 40%;
	            }
            }
				ul#listings{
						margin: 0;
						li.listing{
								position: relative;
								z-index: 0;
								> img { width: 100%; height: 100%; z-index: 6; }
								.listing-info{
										/*bottom: 1.5em;*/
										bottom: .5em;
										line-height: 1.3em;
										position: absolute;
										right: .75em;
										text-align: right;
										z-index: 6;
										font-family: @serif;
										.text-shadow(.05em, .05em, .05em, rgba(0,0,0,0.25));
										h3 {
												letter-spacing: .05em;
												margin: 0 0 0.25em;
												font-size: 1.5em;
												font-weight: 400;
												letter-spacing: 0.175em;
												font-variant: small-caps;
										}
										span {
												display: block;
												font-size: 1.25em;
												letter-spacing: .1em;
												line-height: 1.25em;
												&.location{}
												&.price{ margin-bottom: 0.25em; }
										}
										button {
												font-size: 1.25em;
												color: #26a0e5;
												text-shadow: 0 0 0;
										}
										.tag-icons {
											float: right;
											margin-top: 5px;
											img {
												width: 40px;
												height: 40px;
											}
										}
									a:hover { color: #50c0ff; }
								}
						}
				}
				.bx-wrapper{
						overflow: hidden;
						z-index: 0;
						.bx-pager {
								position: absolute;
								bottom: 1em;
								left: 0;
								right: 0;
								text-align: center;
								z-index: 8;
								.bx-pager-item {
										display: inline;
										margin: 0.75em;
										a {
											position: relative;
											&:before {
												content: " ";
												width: 0;
												height: 0;
												position: absolute;
												opacity: 0;
												top: -59px;
												left: 43%;
												margin: 0 auto;
												.transition(.125s);
												border-left: 10px solid transparent;
												border-right: 10px solid transparent;
												border-bottom: 10px solid rgba(255,255,255,.85);
											}
											img {
												border: thin solid rgba(255,255,255,.6);
												opacity: .9;
												width: 158px;
												height: 64px;
											}
										}
										.active {
											&:before{ opacity: 1; }
											img {
												border: thin solid rgba(255,255,255,.85);
												opacity:1;
											}
										}
								}
						}
				}
				.toptext{
								color: white;
								font-family: 'Perpetua';
								font-size: 2.25em;
								font-weight: 300;
								letter-spacing: 0.05em;
								position: absolute;
								margin: 0 auto;
								top: 265px;
								left: 0;
								right: 0;
								font-style: italic;
								text-align: center;
								text-shadow: 0 1px 4px rgba(0,0,0,0.5);
								width: 100%;
								z-index: 50;
				}
				#quiz{
						margin: 0 auto;
						position: absolute;
						left: 0;
						right: 0;
						top: 325px;
						text-align: center;
						width: 80%;
						z-index: 9;
						#quiz-wrapper {
								height: 175px;
								position: relative;
							  background: rgba(26,27,28,0.9);
								border-radius: .4em;
								.or{
										background: transparent;
										color: #9B9B9B;
										font-family: @serif;
										font-size: 1.8em;
										font-weight: 400;
										height: 1em;
										position: absolute;
										margin: 0 auto;
										letter-spacing: 0.07em;
										line-height: 1em;
										//width: 100%;
										left: 48%;
										top: 41.5%;
										z-index: 2;
										&:after, &:before{
												background: rgba(255, 255, 255, 0.25);
												height: 2.25em;
												left: 50%;
												content: "";
												position: absolute;
											width: 1px;
										}
										&:after{ bottom: -2.55em; }
										&:before{ top: -2.55em; }
								}
								.or-mobile{
										display: none;
										background: transparent;
										color: #9B9B9B;
										font-family: @serif;
										font-size: 1.8em;
										font-weight: 400;
										height: 1em;
										position: absolute;
										margin: 0 auto;
										letter-spacing: 0.07em;
										line-height: 1em;
										//width: 100%;
										left: 48%;
										top: 41.5%;
										z-index: 2;
										.line1 {
											height: 1px;
											background: #9B9B9B;
											width: 46%;
											position: absolute;
											top: 10px;
											float: left;
											left: 0;
										}
										.line2 {
											height: 1px;
											background: #9B9B9B;
											width: 46%;
											position: absolute;
											top: 10px;
											float: right;
											right: 0;
										}
								}
								.everywhere {
										.box-sizing();
										height: 100%;
										font-size: 1.4em;
										padding: 1.25em 0.5em;
										position: relative;
										text-transform: none;
										width: 49.9%;
										h2{
												font-family: @serif;
												font-size: 1.6em;
												font-weight: 300;
												letter-spacing: 0.04em;
												line-height: 1em;
												margin: 0;
												color: #d2ecf5;
										}
										h3{
												font-size: 1em;
												letter-spacing: .1em;
												font-weight: 400;
												margin: 0;
												color: #d2ecf5;
												text-transform: capitalize;
												font-style: italic;
												&.mobile { display: none; }
										}
										button {
												.button-blue-simple();
												padding:.2em 2.25em;
												margin-top:.65em;
										}
										button:hover { background-color: #13c1ff; }
										&.everywhere {
												.border-radius(.4em, 0, 0, .4em);
												float: left;
										}
								}
								.specific {
										.box-sizing();
										height: 100%;
										font-size: 1.4em;
										padding: 1.25em 0.5em;
										position: relative;
										text-transform: none;
										width: 50.1%;
										z-index: 1;
										table { 
											margin: 0 auto; 
											h3 { margin: 1em 0 0 0px; }
											input { margin-bottom: 10px; }
											select { margin-bottom: 10px; }
										}
										h2{
												font-family: @serif;
												font-size: 1.6em;
												font-weight: 300;
												letter-spacing: 0.04em;
												line-height: 1em;
												margin: 0;
												color: #d7f4d4;
										}
										h3{
												display: inline;
												font-size: 0.9em;
												letter-spacing: .05em;
												font-weight: 400;
												color: #d7f4d4;
												text-transform: capitalize;
												font-style: italic;
												z-index: 1;
												
										}
										select {
												display: inline;
												font-size: 0.75em;
												letter-spacing: .05em;
												font-weight: 400;
												z-index: 10!important;
										}
										button {
												.button-blue-simple();
												padding: 10px 1.5em;
												margin-top:.65em;
										}
										button:hover { background-color: #13c1ff; }
										&.specific {
												.border-radius(0, .4em, .4em, 0);
												float: right;
												.autocomplete{
														width: 450px;
														margin: .2em .5em .5em .5em;
														overflow: visible;
														display: inline-block;
														height: 40px;
														input{
																height: 38px;
																width: 345px;
																float: left;
																margin: 0;
																border: 0;
																border-top-right-radius: 0;
																border-bottom-right-radius: 0;
														}
                            							.search{
																width: 99px;
																height: 38px;
								                                float: right;
								                                //display: inline;
								                                border-top-left-radius: 0;
								                                border-bottom-left-radius: 0;
								                                //border-top-right-radius: 0;
								                                //border-bottom-right-radius: 0;
								                                margin: 0;
								                                font-size: .6em;
														}		
														.notags{
																width: 110px;
																height: 38px;
								                                float: right;
								                                //border-top-left-radius: 0;
								                                //border-bottom-left-radius: 0;
								                                margin: 0 0 0 2px;
								                                font-size: .6em;
														}											
												}
										}
                }
				.searchexact { display: inline; }
				.miles { 
					display: inline; 
					margin-left: 6px; 
					.mobilemiles { display: none; }
				}
            }
           
        }
    }
    	.videoDiv {
    	  position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -515px;
				margin-top: -350px;
				z-index: 12!important;
			.closeVid {
				display: none;
                top: -570px;
                left: 92%;
                background-color: #000;
	       		.border-radius-all(4px);
            }
    	}
		#home-mid{
				border-top: 1px solid rgba(255,255,255,.5);
				border-bottomr: 1px solid rgba(255,255,255,1);
				background: #384853;
				height: 275px;
				> article{
						margin: 75px auto 0;
						position: relative;
						text-align: center;
						text-transform: uppercase;
						font-family:'Perpeuta';
						color: white;
						z-index: 10!important;
						h3{
								font-size: 2.5em;
								font-weight: 400;
								letter-spacing: 0.1em;
								margin: 0 auto;
								position: relative;
						}
						span.sub{
								font-size: 1.1em;
								font-style: italic;
								letter-spacing: .125em;
								position: relative;
								display: block;
								margin-top: .4em;
								text-transform: none;
						}
						p {
			                width: 90%;
			                color: #fff;
			                font-size: 1.1em;
			                letter-spacing: .1em;
			                line-height: 2.25em;
			                text-align: left;
			                text-transform: none;
			                padding-top: 50px;
			                margin: 0 auto;
			            }
						a{
							position: relative;
							clear: both;
			                font-size: 1.4em;
			                top: 50px;
			                color: #9ddcff;
			                letter-spacing: .1em;
			            }
				}
		}
		#home-bottom{
				background: #FDFDFD;
				border-bottom: 1px solid white;
				color: lighten(black, 15%);
				overflow: hidden;
				width: 100%;
				.agent-search {
							background: #F2F2F2;
							.image { 
								background: url(../../_img/page-home/home-bottom-01.jpg) no-repeat; 
								background-size: contain;
								p {
									padding-top: 160px;
									color: white;
									text-transform: uppercase;
									padding-left: 75px;
									font-size: 1.4em;
									margin: 0;
									font-weight: 400;
								}
							}
							p { margin-bottom: 2.5em; }
						}
				.elite-way{
					background: #FDFDFD;
					.image { background: url(../../_img/page-home/home-bottom-02.png) no-repeat; }
					p { margin-bottom: 2.5em; }
				}
				.athena {
						background: #F2F2F2;
						.image {
								background: url(../../_img/page-home/home-bottom-03.png) no-repeat;
								.title {
									color: white;
									display: block;
									padding-top: 195px;
									text-align: center;
									font-size: 3.5em;
									font-family: 'Perpetua';
									letter-spacing: .2em;
								}
								p {
									text-align: center;
									color: white;
									font-family: 'Perpetua';
									font-size: 1.2em;
									margin: 0;
									padding-top: 10px;
								}
						}
						p{ margin-bottom: 2.5em; }
				}
				> div {
						display: inline;
						float: left;
						margin: 0;
						width: 33.33%;
						z-index: 10;
						margin-bottom: -99999px;
						padding-bottom: 99999px;
						> .image {
								.box-shadow(0 0 1em 0 rgba(0,0,0,0.1));
								height: 255px;
								width: 255px;
								.border-radius-all(50%);
								position: relative;
								z-index: 10;
								.transition(.25s);
								margin: 20px auto 20px auto;
						}
						> h5 {
								color: @dark-blue;
								font-size: 1.35em;
								font-style: italic;
								font-weight: 100;
								letter-spacing: 0.02em;
								margin: 1em 0 0;
						}
						> h4 {
								font-family: @sans;
								font-size: 1.5em;
								font-weight: 400;
								margin: 0;
								text-transform: uppercase;
						}
						> p {
								font-size: 1.1em;
							letter-spacing: .01em;
							line-height: 1.25em;
							color: #444;
							font-weight: 400;
							margin-bottom: 0em;
							text-align: justify;
							font-family: 'Perpetua';
						}
						> h4, > h5, > p {
								position: relative;
								margin-left: auto;
								margin-right: auto;
								text-align: center;
								width: 80%;
								.transition(0.5s);
								.text-shadow(.0125em, .0125em, .0125em, rgba(0,0,0,0.1));
						}
						&.top-10{
						}
						&.elite-way{
						}
						&.discover-us{
						}
				}
		}
		#home-last{
			background: url(../../_img/page-home/home-bottom.jpg) no-repeat #fff; 
			background-position: right;
			width: 100%;
			height: 544px;
			.main { float: left; margin-left: 35px; margin-top: 50px; }
			.video { 
				display: block;
				margin: 60px auto 95px auto;
				width: 608px;
				height: 45px;
				.transition(0);
				color: #449DE8;
				font-size: 3.25em;
				text-transform: uppercase;
				letter-spacing: .1em;
			}
			.video:hover { color: #6DBAFC; }
			.title { font-size: 2.5em; font-family: 'perpetua'; color: #555; display: block; }
			p { font-size: 1.35em; font-family: 'perpetua'; letter-spacing: .01em; line-height: 1.5em; color: #555; width: 50%; }
		}
		#home-last-mobile{
			display: none;
			width: 100%;
			margin: 0;
			position: relative;
			text-align: left;
			color: white;
			z-index: 10!important;
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			background: url(../../_img/page-home/home-bottom-mobile-3.jpg) no-repeat #fff;
			background-position: -50px -105px;
			.title{
								display: block;
								text-align: center;
								font-size: 1.6em;
								font-weight: 400;
								letter-spacing: 0.075em;
								margin: 0 auto;
								position: relative;
			}
			p {
			                width: 90%;
			                color: #fff;
			                font-size: .9em;
			                letter-spacing: .05em;
			                line-height: 1.5em;
			                text-align: left;
			                text-transform: none;
			                padding-top: 50px;
			                margin: 0 auto;
			}
			a{
							position: relative;
							clear: both;
			                font-size: 1.4em;
			                top: 50px;
			                color: #9ddcff;
			                letter-spacing: .1em;
			}
			a:hover { color: #D1EEFF; }
		}
}
.smallmobilepopup { display: none; }
.mediummobilepopup { display: none; }
.largemobilepopup { display: none; }