@import '../_import/helper.less';

.intro-transition(@time: .4s){
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition-property: -webkit-transform,opacity;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-in;
	transition-property: transform,opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in;
}

@blue-two: #4386ad;
@color-default: #fff; // default color
@color-default-light: #DDDDDD; // default color light
@color-active: #FFFFFF; // color when active or checked
@color-active-light: #00D24A; // active color light
@color-focus: #6FB5FB; // color when focused
@margin-el: 7px; // default margin for our custom inputs

body.quiz-results footer { display: none; }

a.profilelogo{ position: absolute; z-index: 25; margin: 1em 0 0 1em; }

.red .ui-slider-range {
    background: #AFCDF0!important;
}
.green .ui-slider-range  {
    background: #7CB8FF!important;
}
.blue .ui-slider-range {
    background: #499fff!important;
}

.fh-switch {
    position: relative;
}
.fh-switch > [type="checkbox"]:checked,
.fh-switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    &:checked + label:after {
        background-color: @color-active-light;
    }
    &:not(:checked) + label:after {
        background-color: @color-default-light;
    }
    &:checked + label + .fh-switch-knob {
        right:9px;
        background-color: @color-active;
    }
    &:not(:checked) + label + .fh-switch-knob {
        right: 25px;
        background-color: @color-default;
    }
    &:focus + label:after,
    &:focus + label + .fh-switch-knob {
        box-shadow: 0 0 6px 0 @color-focus;
    }
    &[disabled] {
        & + label,
        & + label:after,
        & + label + .fh-switch-knob {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
    & + label {
        cursor: pointer;
        display: inline-block;
        margin-right: @margin-el;
        margin-top: @margin-el;
        margin-bottom: @margin-el;
        // apply padding so the switch fits inside the label
        //padding-right: 60px;
        &:after {
            content: "";
            top: 0;
            right: 10px;
            width: 33px;
            height: 17px;
            // use absolute for better positioning
            position: absolute;
            .border-radius-all(30px);
        }
        &+ .fh-switch-knob {
            top: 1px;
            width: 15px;
            height: 15px;
						box-shadow: 0px 1px 2px rgba(0,0,0,.5);
						margin-right: 2px;
            .border-radius-all(30px);
            display: inline-block;
            position: absolute;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: right .1s ease-in, background-color .1s ease-in;
            -moz-transition: right .1s ease-in, background-color .1s ease-in;
            -o-transition: right .1s ease-in, background-color .1s ease-in;
            -ms-transition: right .1s ease-in, background-color .1s ease-in;
        }
    }
}

/* portal user capture overlay */
div#confirm-skip {
	.main-popup();
	background-color: rgba(25,25,25,0.65);
	z-index: 1000001;
	.confirm-popup {
		position: absolute;
    left: 0;
    right: 0;
    margin: -104px auto 0;
    top: 50%;
    width: 450px;
    height: 208px;
    background: #fff;
    color: @ll-dark-text;
    .default-text();
		.title {
			background: @ll-pink;
			padding: 5px 0;
			text-align: center;
		}
		p {
			width: 85%;
			margin: 1em auto 1.2em;
		}
		div.options {
			text-align: center;
			button.back-to-signup {
				.ll-light-blue-button();
				.border-radius-all(0);
				margin-right: 20px;
			}
		}
	}
}
div#portal-user-capture {
	.main-popup();
	z-index: 1000000;
	background-color: rgba(25,25,25,0.65);
	.goBack {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      padding: 4px 11px;
      color: #fff!important;
      cursor: default;
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        border-top: 60px solid #656565;
        border-right: 60px solid transparent;
        z-index: 1;
      }
      span {
        z-index: 9;
        position: relative;
        padding: 0 5px;
        margin-right: -5px;
        cursor: pointer;
      }
	}
	.closeDiv {
		position: absolute;
		top: 6px;
		right: 8px;
		font-weight: 300;
		font-size: 1.2em;
		text-transform: none;
		width: 38px;
		height: 38px;
		padding: 0;
		.border-radius-all(100%);
		border: none;
		cursor: pointer;
		.transition(.1s);
		background: rgba(255,255,255,0);
		.line1, .line2 {
			background: #fff;
			height: 1px;
			width: 16px;
			display: inline-block;
			position: absolute;
			pointer-events: auto;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
			outline: 1px solid transparent;
		}
		.line1 {
			right: 11px;
			top: 24px;
			-webkit-transform: rotate(45deg) translateX(-4px) translateY(-4px);
			-ms-transform: rotate(45deg) translateX(-4px) translateY(-4px);
			transform: rotate(45deg) translateX(-4px) translateY(-4px);
		}
		.line2 {
			top: 12px;
			right: 10px;
			-webkit-transform: rotate(135deg) translateX(5px) translateY(-4px);
			-ms-transform: rotate(135deg) translateX(5px) translateY(-4px);
			transform: rotate(135deg) translateX(5px) translateY(-4px);
		}
	}
	div#portalAgentCaptureLeadIn{
		text-align: center;
	}
	div#portalAgentCapture, div#portalAgentCaptureLeadIn {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		width: 520px;
		height: auto;
		background: white;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		a {
			color: @ll-light-blue-button;
			&:hover { color: @ll-light-blue-button-hover; }
		}
		.desktop-agent { display: inline-block; }
		#agent {
			background-color: @ll-pink;
			padding: 13px 0 13px 50px;
			img.desktop-agent {
				.box-sizing(border-box);
				display: inline-block;
				margin-left: 50px;
				vertical-align: top;
				position: relative;
				height: 85px;
				width: 85px;
				.border-radius-all(100%);
			}
			#subintro {
				margin-left: 25px;
				display: inline-block;
				vertical-align: top;
				font-size: 1.3em;
				margin-top: 13px;
				cursor: default;
				span {
					display: block;
					text-align: left;
					font-size: 1em;
					line-height: 1.4em;
					color: #fff;
					letter-spacing: .5px;
					font-weight: 300;
				}
			}
		}
		#agent-intro {
			display: inline-block;
			width: 55%;
			margin: 30px 0 0 20px;
			color: black;
		}
		#pitch {
			color: #555;
			text-align:center;
			padding: 1.25em 0;
			cursor: default;
			span { display: inline-block; }
			div#first {
				font-size: 2em;
				font-weight: 400;
				line-height: 1.6em;
				#first-pitch {
					left: 0%;
				} 
				#first-pitch2 {
					left: 100%;
				}
			}
			div#second {
				width: 65%;
				margin: 0 auto;
				font-size: 1.25em;
				font-weight: 400;
				line-height: 1.3em;
				#second-pitch{
					left: 0%;
				} 
				#second-pitch2 {
					left: 100%;
				}
			}
		}
		#benefits {
			display: block;
			color: #f88;
			text-align: center;
			font-size: 1.15em;
			font-weight: 400;
			line-height: 1.2em;
			margin: 10px 0 10px 0;
		}
		#userdata {
			opacity: 1;
			margin-bottom: 15px;
			text-align: center;
			#fbDiv {
				a.fb-fakebutton {
					.ll-blue-button();
					background-color: #1f5696;
					display: inline-block;
					vertical-align: top;
					font-size: 1.25em;
					padding: 12px 0;
					width: 300px;
					.border-radius-all(0);
					letter-spacing: .5px;
					position: relative;
					margin: 2px auto 0;
					left: 0;
					right: 0;
					padding: 0;
					height: 50px;
					line-height: 50px;
					pointer-events: none;
					&:hover { background-color: #2a6fbf; }
					img {
						width: 15px;
						line-height: 46px;
						position: relative;
						display: inline-block;
						top: 9px;
						margin-right: 15px;
					}
				}
				.fb_iframe_widget {
					margin: 2px 0 0 -15px;
					opacity: 0;
					z-index: 9;
					padding: 5px 0;
					padding-right: 110px;
					min-height: 50px;
					position: absolute;
				}
				img.fb_login {
					width: 70%;
					height: 50px;
					margin-right: 100px;
				}
			}
			.or-wrapper {
				height: 26px;
				position: relative;
				width: 300px;
				margin: 5px auto 0;
				cursor: default;
				.line1, .line2 {
					height: 1px;
					position: absolute;
					top: 13px;
					width: 44%;
					background: #afafaf;
					margin: 0;
					padding: 0;
				}
				.line1 { left: 0; }
				.line2 { right: 0; }
				span#or {
					margin: 0 auto;
					padding: 0;
					position: absolute;
					left: 0;
					right: 0;
					width: auto;
					display: block;
					font-size: .9em;
					letter-spacing: 0;
					color: #9e9e9e;
				}
			}
			.warning {
				color: #f22;
			}
			.input {
				display: block;
				width: 300px;
				height: 45px;
				padding: 0;
				margin: 5px auto 10px;
				position: relative;
			}
			input {
				position: relative;
				display: block;
				width: 270px;
				height: 45px;
				border: 1px solid #999;
				padding: 0 14px 0;
				margin: 5px auto 10px;
				font-size: 1em;
				letter-spacing: 1px;
				color: #333;
				font-weight: 400;
				-webkit-appearance: none;
				&:focus { border: 1px solid #7cbddc; }
				&.invalid {
					border: 2px solid #F44566;
					-webkit-animation: shake .6s linear;
					@-webkit-keyframes shake {
						0% {
								left:-10px;
						}
						16% {
								left:9px;
								background-color: #FFEFF2;
						}
						33% {
								left:-6px;
						}
						50% {
								left:5px;
						}
						66% {
								left:-2px;
								background-color: #fff;
						}
						83% {
								left:1px;
						}
						100% {
								left: 0px;
						}
					}
				}
			}
			.status-icon {
				position: absolute;
				margin: 0;
				width: auto;
				padding: 0;
				color: #555;
				line-height: 46px;
				right: 14px;
				z-index: 2;
				pointer-events: none;
				&.hidden { opacity: 0; }
				&.entypo-check { color: #24e061; right: 17px; }
				&.entypo-attention { color: @ll-pink; }
			}
			#go-login {
				cursor: default;
				margin-top: 6px;
				color: #555;
			}
			.start, .next {
				.ll-blue-button();
				margin: 0;
				display: inline-block;
				vertical-align: top;
				font-size: 1.25em;
				padding: 12px 0;
				width: 300px;
				.border-radius-all(0);
				letter-spacing: .5px;
				&.disabled {
					background-color: #eee;
					pointer-events: none;
				}
			}
			span {
				display: table;
				color: #888;
				font-weight: 400;
				.border-radius-all(1em);
				letter-spacing: .5px;
				margin: 4px auto 0;
				font-size: 1em;
				padding: 2px 3.5em 2px;
				&.hidden {
					display: none;
				}
			}
			a {
				font-weight: 400;
				font-size: 1em;
			}
		}
		#disclaimer {
			color: @ll-text;
			text-align:center;
			width: 100%;
			margin: 0 auto 2em;
			cursor: default;
			line-height: 1.3em;
			#no-like {
				font-weight: 400;
				font-size: 1.15em;
				margin: 22px 0 10px;
				display: block;
			}
			#terms {
				display: inline-block;
				font-weight: 400;
				font-size: .8em;
				width: 70%;
			}
			#privacy {
				display: block;
				font-weight: 300;
				font-size: .85em;
			}
		}
		#leadInContent {
			color: @ll-text;
			text-align:center;
			cursor: default;
			span { display: block; }
			#title {
				padding: .3em 0;
				font-size: 2em;
				font-weight: 400;
				line-height: 1.6em;
				background-color: @ll-pink;
				color: #fff;
			}
			#message {
				padding: 1.25em;
				font-size: 1.3em;
				font-weight: 400;
				line-height: 1.1em;
			}
		}
		.openCapture {
			.ll-blue-button();
			margin: 0;
			display: inline-block;
			vertical-align: top;
			font-size: 1.25em;
			padding: 12px 0;
			width: 300px;
			.border-radius-all(0);
			letter-spacing: .5px;
			&.disabled {
				background-color: #eee;
				pointer-events: none;
			}
		}
	}
}

/* The whole custom context menu */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    .border-radius-all(5px);
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

#quiz-results {
		width: 100%;
		background: #444;
		article { overflow: auto; position: relative; }
		//---- Mobile Layout ---- //
		.mobile-modal-wrapper {
			position: absolute;
			left: 0;
			right: 0;
			top: 64px;
			z-index: 999;
			display: none;
			.mobile-tags-modal {
				display: table;
				position: relative;
				background: #2ae2b0;
				z-index: 99;
				padding: 1em 2em;
				font-size: .9em;
				margin: 0 auto;
				text-align: center;
				color: white;
				font-family: 'open sans';
				text-transform: none;
				font-weight: 400;
				.border-radius-all(20px);
				opacity: 0;
				transform: scale(0);
				.intro-transition(.4s);
				&.popout {
					transform: scale(1);
					opacity: .98;
					.intro-transition(.4s);
				}
				.header {
					font-size: 1.6em;
					margin-bottom: 10px;
					.fh-switch {
						-ms-transform: scale(1.2,1.15);
						-webkit-transform: scale(1.2,1.15);
						transform: scale(1.2,1.15);
						top: 18px;
						label:after { border: 1px solid #fff; }
						.fh-switch-knob { top: 2px; width: 15px; height: 15px; box-shadow: none; right: 10px; }
					}
				}
				.sub-header {
					font-size: 1.2em;
					line-height: 1.6em;
				}
				.close {
					.ll-dark-blue-button-round();
					margin-top: 10px;
					font-size: 1.1em;
				}
				&:after, &:before {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					border-color: rgba(136, 183, 213, 0);
					border-bottom-color: #2AE2B0;
					border-width: 13px;
					margin-left: -13px;
				}
				&:before {
					border-color: rgba(194, 225, 245, 0);
					border-bottom-color: #2AE2B0;
					border-width: 16px;
					margin-left: -16px;
				}
			}
		}
		.mobile-modal-bg {
			position: absolute;
			height: 100vh;
			.calc-height-all(~'100vh - 111px');
			width: 100%;
			margin-top: 45px;
			background: #222;
			opacity: 0;
			z-index: 99;
			pointer-events: none;
			.transition(.25s);
		}
		article .mobile-nav {
			display: none;
			color: #fff;
			padding: 0;
			font-size: 1.2em;
			background: #424242;
			font-weight: 300;
			letter-spacing: 1px;
			z-index: 999;
			height: 45px;
			position: relative;
			.mobile-nav-header {
				height: 45px;
				z-index: 999;
				background: #424242;
			}
			.centerarrow {
				position: absolute;
				left: 0;
				right: 0;
				top: 2px;
				text-align: center;
				width: 120px;
				margin: 0 auto;
				display: block;
				font-size: .8em;
				cursor: pointer;
				.title { position: relative; top: 0; }
				.arrow {
					height: 26px;
					-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
					-webkit-transform: translateY(10%);
					-ms-transform: translateY(10%);
					transform: translateY(10%);
					display: block;
					margin-top: -11px;
					.click {
						padding: 0 1em 0;
						display: inline-block;
					}
					&.active {
						-webkit-transform: translateY(-10%);
						-ms-transform: translateY(-10%);
						transform: translateY(-10%);
					}
					.left, .right {
						background: #fff;
						height: 1px;
						width: 11px;
						display: inline-block;
						pointer-events: auto;
						-webkit-backface-visibility: hidden;
						-ms-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						backface-visibility: hidden;
						outline: 1px solid transparent;
					}
					.left {
						-webkit-transform-origin: 100% 100%;
						-ms-transform-origin: 100% 100%;
						transform-origin: 100% 100%;
						-webkit-transform: rotate(40deg);
						-ms-transform: rotate(40deg);
						transform: rotate(40deg);
						-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						&.active {
							-webkit-transform-origin: 100% 0%;
							-ms-transform-origin: 100% 0%;
							transform-origin: 100% 0%;
							-webkit-transform: rotate(-40deg);
							-ms-transform: rotate(-40deg);
							transform: rotate(-40deg);
						}
					}
					.right {
						-webkit-transform-origin: 0% 100%;
						-ms-transform-origin: 0% 100%;
						transform-origin: 0% 100%;
						-webkit-transform: rotate(-40deg);
						-ms-transform: rotate(-40deg);
						transform: rotate(-40deg);
						-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: -webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						transition: transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform 1.5s cubic-bezier(0.6, 0, 0.4, 1),-webkit-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1),-ms-transform-origin 1.5s cubic-bezier(0.6, 0, 0.4, 1);
						&.active {
							-webkit-transform-origin: 0% 0%;
							-ms-transform-origin: 0% 0%;
							transform-origin: 0% 0%;
							-webkit-transform: rotate(40deg);
							-ms-transform: rotate(40deg);
							transform: rotate(40deg);
						}
					}
				}
			}
			.backbutton {
				margin: 0;
				font-size: .9em;
				position: absolute;
				left: 10px;
				top: 9px;
				a {
					display: block;
					color: @ll-med-blue;
					font-size: .9em;
					letter-spacing: 1px;
					font-weight: 400;
					span {
						font-size: .8em;
						position: relative;
						top: -2px;
						margin-right: 1px;
					}
				}
				a:hover { color: @ll-med-blue-hover; }
			}
			div.view-selector .smallmobile { display: none; }
			ul.view-selector {
				margin: 0; 
				font-size: .9em; 
				position: absolute;
				right: 10px;
				top: 9px;
				a { color: @ll-med-blue; font-size: .9em; letter-spacing: .5px; font-weight: 400; }
				a:hover { color: @ll-med-blue-hover; }
				li.active { display: none; }
			}
			ul.resultsnav {
				margin: 0;
				display: block; 
				z-index: -1; 
				position: relative; 
				top: -335px;
				height: auto; 
				.transition(.75s); 
				padding-top: 4px; 
				padding-bottom: 10px;
				background: #424242;
				width: 100%;
				&.animatedown {
					-webkit-transform: translate3d(0,335px,0); 
					-moz-transform: translate3d(0,335px,0); 
					-o-transform: translate3d(0,335px,0); 
					-ms-transform: translate3d(0,335px,0); 
					transform: translate3d(0,335px,0); 
				}
				&.animateup {
					-webkit-transform: translate3d(0,-335px,0); 
					-moz-transform: translate3d(0,-335px,0); 
					-o-transform: translate3d(0,-335px,0); 
					-ms-transform: translate3d(0,-335px,0); 
					transform: translate3d(0,-335px,0); 
				}
				.blank { display: none; height: 68px; width: 100%; }
				li.option, li.change-area, li.add-tags-main, li.edit-tags {
					border-bottom: 1px solid #585858;
				}
				li.social, li.more, li.option, li.change-area, li.add-tags-main, li.edit-tags {
					opacity: 0;
					-webkit-transform: translate3d(0, -22px, 0); 
					transform: translate3d(0, -22px, 0); 
					.transition(0.5s); 
					transition-property: transform, opacity, -webkit-transform;
					width: 86%;
					height: auto;
					display: block; 
					margin: 0 auto; 
					color: #fff; 
					font-size: .8em;
					padding: 10px 0 0;
					&.animatein {
						opacity: 1; 
						-webkit-transform: translate3d(0, 0, 0); 
						transform: translate3d(0, 0, 0);
						.transition(0.5s); 
						transition-property: transform, opacity, -webkit-transform;
					}
					a { color: #fff; }
					a.mlink {
						color: white;
						font-weight: 300;
						display: block;
						padding: 10px 0 9px;
						margin-top: -10px;
						font-size: 1em;
						span {
							font-size: .9em;
							position: absolute;
							margin-left: 4px;
							margin-top: .5px;
						}
						.expandlink {
							display: inline-block;
						}
						.collapselink {
							display: none;
						}
					}
					a.mlink.active .collapselink { display: inline-block; }
					a.mlink.active .expandlink { display: none; }
					a:hover { color: @ll-med-blue; }
				}
				li.option { -webkit-transition-delay: 0.26s!important; transition-delay: 0.26s!important; }
				li.change-area { -webkit-transition-delay: 0.32s!important; transition-delay: 0.32s!important; position: relative; z-index: 99; }
				li.add-tags-main { -webkit-transition-delay: 0.38s!important; transition-delay: 0.38s!important; }
				li.edit-tags { -webkit-transition-delay: 0.44s!important; transition-delay: 0.44s!important; border: none; }
				li.more {
					text-align: center;
					-webkit-transition-delay: 0.2s!important;
					transition-delay: 0.2s!important;
					padding-bottom: 10px;
					a {
						color: #fff;
						display: inline-block;
						text-align: center;
						position: relative;
						margin: 0 7.5%;
					}
				}
				li.social {
					text-align: center;
					-webkit-transition-delay: 0.14s!important;
					transition-delay: 0.14s!important;
				}
			}
			.dropdown.active { display: block; }
			.edit-tags .dropdown {
					.title-tags{
							display: block;
							width: 100%;
							margin: 0 auto 10px;
							text-transform: none;
							font-family: 'Open Sans';
							font-size: 1.1em;
							text-align: center;
							font-weight: 300;
							letter-spacing: .075em;
							color: #F4F4F4;
					}
					.subtitle{
						font-size: 1.2em;
						display: block;
						margin: -7px 0 1.1em 1.2em;
						text-transform: none;
						font-family: 'Open Sans';
						letter-spacing: 1px;
						color: #5fb4f1;
						cursor: pointer;
						text-align: center;
						.questioncircle {
							position: absolute;
							margin-left: -39px;
							height: 28px;
							width: 28px;
							margin-top: -2px;
							background: #389ae0;
							.border-radius-all(100%);
							font-weight: 600;
							span {
								position: relative;
								top: 1px;
								left: 1px;
								color: #fff;
							}
						}
					}
					.add-tags {
						padding: 1em; 
						position: relative;
						p a { 
							display: inline; 
							margin-left: 1em; 
							font-weight: 400; 
							color: #2B9BCB;
						}
					}
					.editable-tags {
						padding: 0 0 1em;
						.title { color: #fff; }
					}
					p { color: #1d1d1d; margin: 0; }
				}
			.dropdown { 
				position: relative;
				background: #424242;
				overflow: visible;
				width: 100%;
				z-index: 100; 
				.border-radius-all(3px);
				.saveandclose {
					.button-blue();
					margin: 0 auto 20px;
					display: block;
					cursor: pointer;
					padding: .7em 2.5em;
					text-transform: none;
				}
				.editable-tags .quiz-tags {
					line-height: inherit; 
					padding: 0; 
					width: 100%;
					.top .fh-switch { top: 1px; }
					.top .sub { top: -5px; }
					.top .fh-switch>[type="checkbox"]:checked:not(:checked)+label:after, .top .fh-switch>[type="checkbox"]:not(:checked):not(:checked)+label:after { background-color: #00d24a; }
					.top .fh-switch>[type="checkbox"]:checked:not(:checked)+label+.fh-switch-knob, .top .fh-switch>[type="checkbox"]:not(:checked):not(:checked)+label+.fh-switch-knob { right: 9px; background-color: #fff; }
					.top .line { width: 28%; margin-left: 5%; }
					.tags-wrap { background: #2D2D2D; .border-radius-all(3px); max-height: 325px; padding: 0 0 1em; }
					ul.tags-list {
						overflow: auto; 
						padding-top: 5px;
						max-height: 225px;
						li.tag { color: white; font-size: 1.2em; width: 43%; padding: .4em 0 .2em 1.5em; }
						li.percent { width: 49.5%; left: 0; margin-top: 2px; }
						li.tag a.entypo-cancel-squared { display: inline-block; }
						li.percent div.percent-bar { top: 5px; height: 9px; width: 100%; left: 5px; }
						li.percent div.percent-bar .ui-slider-handle { width: 1em; height: 1em; z-index: 99; .border-radius-all(100%); }
					}
				}
				.add-tags-content {
					#tag-window {
						min-height: 390px;
						h2 { color: #444; margin: .5em 0; text-transform: capitalize; text-align: center; display: none; }
						.top { 
							display: block; 
							margin-top: 10px;
							.left, .right { font-size: 1.2em; display: inline-block; color: #ED7A33; font-weight: 400; padding-bottom: 1px; }
							.left { width: 27%; border-right: 1px solid #C5C5C5; margin-right: -1px; }
							.right { width: 50%; margin-left: 14px; }
						}
					}
					div.tag-definition{ 
						display: none!important;
						h5{ color: #1E9EE0; display: inline; font-size:1em; text-transform: uppercase; }
						span{ font-size: 0.8em; }
					}
					ul.tag-categories {
						float: left;
						width: 27%;
						height: 328px;
						border-right: 1px solid #C5C5C5;
						margin: -1px -1px 0 0;
						li{
							cursor: pointer;
							display: inline-block;
							font-size: 1em;
							margin: 0;
							text-align: left;
							text-transform: capitalize;
							width: 100%;
							height: 28px;
							margin: 3.3px 0;
							.title { color: inherit; }
							.entypo-record { display: none; }
							span { display: block; transition:.25s; }
						}
						li:hover, li:hover span { color: #39CBFF; }
						li.active, li.active span { color: #39CBFF; font-weight: 400; }
					}
					.list-wrap {
						/* float: left; */
						/* width: 68%; */
						height: 100%;
						display: block;
					}
					ul.tags-list {
						top: 0;
						opacity: 0;
						position: absolute;
						z-index: -1;
						-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:10px;-moz-column-gap:10px;column-gap:10px;-moz-transition: 0s;-webkit-transition: 0s;-o-transition: 0s;transition: 0s;
						height: 300px;
						overflow: hidden;
						pointer-events: none;
						li {
							color: #fff;
							cursor: pointer;
							display: inline-block;
							font-size: 0.9em;
							margin: 7px 0;
							text-align: left;
							width: 100%;
							transition: 0s;
							text-transform: capitalize;
							height: auto;
							position: relative;
							line-height: 1.25em;
						}
						.tag:hover { color: #39CBFF; }
						.tag .checkmark{
							opacity: 0;
							display: inline-block;
							transition: 0s;
							margin-right: 6px;
							float: left;
							position: relative;
							top: -3px;
							img { 
								width: 22px;
								&.desktop { display: none; }
								&.mobile { display: inline; }
							}
						}
					}
					ul.tags-list.active {
						opacity: 1; 
						z-index: 10; 
						left: 15px; 
						position: relative;
						height: auto;
						pointer-events: all;
						.tag.active .checkmark { 
							opacity: 1;
						}
					}
					ul.tags-list#home-features, ul.tags-list#privacy, ul.tags-list#region, ul.tags-list#garage-size, ul.tags-list#community-size, ul.tags-list#climate, ul.tags-list#home-style, ul.tags-list#lifestyle {
						-webkit-column-count: 1; 
						-moz-column-count: 1; 
						column-count: 1;
						li { overflow: visible; }
					}
					ul.tags-list#home-features li { margin: 5px 0 5px 0; }
				}
			}
			.change-area .dropdown {
				.quiz-select {
					display: block!important;
					.title { font-size: 1.5em; text-align: center; }
					.chooseQuiz .choose { 
						width: 275px; 
						margin: -5px auto 20px;
					}
				}
				.specific {
					text-align: center;
					margin: -8px 0 5px;
				}
				div#control {
					margin: 0 auto; 
					display: table;
					button {
						margin: 10px auto;
						text-transform: none;
						padding: .7em 2em;
						&:hover { color: white; }
					}
				}
				.autocomplete { margin-right: 10px; }
				.selectDistance.active .selectArrow { background-position: center right; }
				.selectDistance.searchexact { width: 125px; margin: 0 auto; }
				.selectDistance ul.distance {
					max-width: 200px;
					top: 43px; 
					.border-radius-all(8px); 
					z-index: 99;
					li { padding: 4px 10%; }
				}
				a:hover { color: white!important; }
			}
			.option .dropdown {
				.quiz-tags { 
					padding: 0 0 1em;
					p { color: #1d1d1d; margin: 0; display: block; margin-bottom: 15px; text-transform: capitalize; font-variant: normal; font-size: 1.5em; letter-spacing: .025em; font-weight: 600; }
					.price-slider, .home-options { margin: .5em 0 .25em 0; }
					select.price, select.option {
						cursor: pointer;
						font-size: 1em;
						font-weight: 400;
						width: 150px;
						color: #797979;
						border: none;
						border-color: #fff;
						margin-right: 0;
						margin-left: 0;
						box-shadow: 0 0 0;
						-webkit-appearance: none;
						text-indent: 6px;
						background: url(../../_img/page-quiz-results/arrow-down.png) no-repeat right;
						background-size: 16%;
						background-color: #fff;
						.border-radius-all(5px);
						padding: .8em 2em .7em 1em;
						margin: 1px 6px;
						text-transform: capitalize;
					}
				}
			}
			.more .dropdown {
				p { color: #1d1d1d; margin: 0; }
				.save-search { float: left; width: 50%; height: 120px; padding: 0; background: #E7E7E7; .border-radius-all(5px 0 0 0); }
				.my-searches { width: 50%; height: 120px; padding: 0; float: right; background: #F5F5F5; .border-radius-all(0 5px 0 0); }
				.new-search { float: left; width: 50%; height: 120px; padding: 0; background: #F5F5F5; .border-radius-all(0 0 0 5px); }
				.favorites { width: 50%; height: 120px; padding: 0; float: right; background: #E7E7E7; .border-radius-all(0 0 5px 0); }
				.title { display: block; color: #121212; padding: 1em 1em .5em 1em; font-weight: 600; }
				.save-search a { display: block; margin: 17px auto; text-align: center; }
				.my-searches a { display: block; margin: 17px auto; text-align: center; }
				.new-search a { display: block; margin: 17px auto; text-align: center; }
				.favorites a { display: block; margin: 17px auto; text-align: center; }
				.save-search p { text-align: center; margin-top: -5px; }
				.my-searches p { text-align: center; margin-top: -5px; }
				.new-search p { text-align: center; margin-top: -5px; }
				.favorites p { text-align: center; margin-top: -5px; }
				.save-search img { height: 53px; width: 55px; margin-top: 5px; }
				.my-searches img { height: 53px; width: 70px; margin-top: 5px; }
				.new-search img { height: 53px; width: 55px; margin-top: 5px; }
				.favorites img { height: 53px; width: 55px; margin-top: 5px; }
				.my-cities { padding: 1em; }
				.my-cities p a { display: inline; margin-left: 1em; font-weight: 400; color: #2B9BCB; }
				
				.savecollapse {
					text-align: center;
					p { text-align: center; }
					input { padding: 5px 10px 8px auto!important; margin: 5px auto 8px!important; }
					button { .button-blue(); padding: 0.5em 1.8em; text-transform: capitalize; }
				}
			}
			.citiescollapse #cities-popup>h2 {
				font-weight: 400;
				padding: 0;
				text-transform: uppercase;
				color: #666;
				text-align: center;
				margin: .5em 0;
			}
			.citiescollapse #cities-popup ul.nearby-cities {
				height: 300px;
				margin: 0 auto;
				overflow-y: scroll;
				text-align: left;
				width: 104%;
				margin-left: -2%;
				margin-bottom: 1.5em;
			}
			.citiescollapse #cities-popup	ul.nearby-cities>li.city {
				-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
				border: 2px solid #ccc;
				cursor: pointer;
				display: inline-block;
				height: 0;
				margin: 0;
				overflow: hidden;
				padding-bottom: 15%;
				position: relative;
				width: 50%;
				transition: .1s;
				height: 101px; 
				.city-toggle{
					color: #40BCE8;
					position: absolute;
					top: 0;
					right: .25em;
				}
				div.meta {
					background: rgba(255,255,255,.6);
					bottom: .4em;
					color: black;
					font-family: 'Open Sans';
					font-size: 1.2em;
					letter-spacing: .05em;
					padding: .15em 0;
					position: absolute;
					text-align: center;
					width: 100%;
					transition: .1s;
				}
				div.inactive{
					background: rgba(0,0,0,.8);
					color: #ccc;
					height: 100%;
					left: 0;
					opacity: 1;
					padding-top: 2em;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: 0;
					vertical-align: middle;
					width: 100%;
					transition: .1s;
				}
			}
			.citiescollapse #cities-popup	ul.nearby-cities>li.city.active>div.inactive { opacity: 0; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city:hover{ border-color: white; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city:hover .inactive { opacity: 0.8; }
			.citiescollapse #cities-popup	ul.nearby-cities>li.city>img { width: 100%; }
			.searchcollapse .select-profile #profile-table{
				position: relative!important;
				width: 100%!important;
				height: auto!important;
			}
		}
		// ---- End Mobile Layout ---- //

		// ---- Select Box ---- //
		.location-range {
			visibility: hidden;
			vertical-align: center;
			margin-bottom: 10px;
			h3 {
				cursor: default;
				font-weight: 300;
				text-transform: capitalize;
				font-family: 'Open Sans';
				letter-spacing: 1px;
				font-size: 1.5em;
				display: inline;
				vertical-align: center;
			}
			.selectDistance {
				display: inline-block;
				vertical-align: middle;
				display: none;
			}
		}
		.quiz-select {
			margin: .5em auto;
			display: table;
			h3 {
				font-size: 2em;
			}
			.title {
				font-size: 1.7em;
				margin: .5em 0 1em;
				display: block;
				letter-spacing: .5px;
			}
			.chooseQuiz {
				span {
					//margin-left: 30px;
				}
				.choose {
					.border-radius-all(8px); 
					border: 2px solid #5390D0;
					position: relative;
					text-align: center;
					line-height: 48px;
					clear: both;
					color: #fff;
					cursor: pointer;
					padding: 0;
					margin: 0 auto 15px auto;
					width: 298px; 
					height: 46px;
					display: block;
					&.selected {
						color: #fff; 
						background: rgba(54, 193, 65, .9);
						&:hover { background: #36C141; }
					}
				}
				.circle {
					position: absolute;
					border: 2px solid #fff;
					height: 23px;
					width: 23px;
					.border-radius-all(100%);
					background: none;
					z-index: 5;
					float: left;
					pointer-events: none;
					top: 10px;
					left: 10px;
					margin: 0;
					&.active { background: url(../../_img/page-quiz/checkmark-blue.png) no-repeat #fff; background-position: -1px 0; background-size: 25px 25px; }
				}
			}
			.choose:hover { background: rgba(167, 228, 180, .25); }
		}
		div#control {
			display: inline-block;
			margin-top: 1px;
			button {
				.ll-dark-blue-button-round();
				padding: .7em 1.75em;
				margin: 0 auto;
				display: inline-block;
				span {
					position: relative;
					top: 1px;
				}
			}
			#cancelChangeSearchArea {
				background: none;
				padding: 0;
				margin: 0 14px;
				font-size: 1.05em;
				color: #77adef;
				letter-spacing: 1px;
				&:hover { color: #a8cfff; }
			}
		}
		.priceList, .homeOptions, .selectDistance {
			position: relative;
			display: inline-block;
			text-align: left;
			line-height: 31px;
			clear: both;
			color: #888;
			cursor: pointer;
			border-bottom: 1px solid #646464;
			background: white;
			.border-radius-all(8px);
			padding: 0;
			margin-right: .5em;
			margin-left: .5em;
			.selected {
				margin-left: 0;
				width: 105px;
				text-transform: capitalize;
				color: #797979;
				letter-spacing: .05em;
				border-right: none;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				background: none;
				overflow: hidden;
				position: relative;
				float: left;
				height: 30px;
				z-index: 1;
				font-weight: 400;
				padding: .5em 3.2em .5em 1.2em;
			}
			.selectArrow {
				width: 17px;
				text-align: right;
				font-size: .85em;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
				display: inline-block;
				background-image: url(../../_img/page-quiz-results/chosen-sprite.png);
				background-repeat:no-repeat;
				background-position: center left;
				position: absolute;
				height: 30px;
				z-index: 1;
				right: 14px;
				margin-top: 7px;
			}
			ul.prices, ul.options, ul.distance {
				position: absolute;
				max-height: 210px;
				top: 31px;
				left: 0;
				width: 100%;
				.border-radius-all(3px);
				overflow-y: scroll;
				background: #E0E0E0;
				padding-top: 2px;
				display: none;
				z-index: 99;
				li{
					display: block;
					width: 80%;
					line-height: 20px;
					padding: 5px 10%;
					font-weight: 500;
					color: #5D5D5D;
				}
				li:hover{
					color:#fff;
					background:#4096ee;         
				} 
				li.active {
					color:#fff;
					background:#4096ee;
				}
			}
		}
		.homeOptions .selected, .selectDistance .selected { width: 80px; }
		.selectDistance {
			vertical-align: top;
			height: auto;
			position: relative;
			top: -3px;
			ul.distance {
				top: 22px;
				.border-radius-all(8px);
			}
			.selectArrow {
				margin-top: 5px;
				right: 7px;
			}
			&.searchexact { width: 38%; }
			.selected {
				width: auto;
				padding: .2em 2em .2em 1em;
			}
			&.active .selectArrow { background-position: center right; }
		}

		.autocomplete {
			width: 50%;
			margin: 0;
			display: inline-block;
			input { height: 38px; .transition(0s); color: #555; font-size: .9em; display: inline-block; }
			input:focus { .transition(0s); border: 2px solid #E26189; }
		}
		button#runQuiz { 
			.ll-dark-blue-button(); 
			margin: 0;
			height: 42px;
			.border-radius-all(8px);
			&:disabled { opacity: 1; }
		}

		.ui-autocomplete{
			background: rgba(0, 0, 0, 0.4);
			font-size: 1em;
			font-family: @sans;
			max-height: 250px;
			overflow: auto;
			> li:hover {
					background: rgba(1, 1, 1, 0.2);
			}
			z-index: 10;
		}

	.priceList.active .selectArrow { background-position: center right; }
	.homeOptions.active .selectArrow { background-position: center right; }

	//.selectBoxmin.active .selected { color: #F4F4F4; }
	//.selectBoxmin.active .selectArrow { background-position: center right; }
	//.selectBoxmax {
	//	position: relative;
	//	display: inline-block;
	//	text-align: left;
	//	line-height: 31px;
	//	clear: both;
	//	color: #888;
	//	cursor: pointer;
	//	border-bottom: 1px solid rgba(100,100,100,1);
	//	.selected {
	//		margin-left: 8px!important;
	//		width: 105px;
	//		text-transform: uppercase;
	//		color: #B5B5B5;
	//		letter-spacing: .05em;
	//		border-right: none;
	//		border-top-left-radius: 5px;
	//		border-bottom-left-radius: 5px;
	//		background: none;
	//		overflow: hidden;
	//		position:relative;
	//		float:right;
	//		height:30px;
	//		z-index:1;
	//	}
	//	.selectArrow {
	//		width: 17px;
	//		text-align: right;
	//		font-size: .85em;
	//		-webkit-user-select: none;
	//		-khtml-user-select: none;
	//		-moz-user-select: none;
	//		-o-user-select: none;
	//		user-select: none;
	//		display:inline-block;
	//		background-image:url(../../_img/page-quiz-results/chosen-sprite.png);background-repeat:no-repeat;
	//		background-position: center left;
	//		position:relative;
	//		float:left;
	//		height:30px;
	//		z-index:1;
	//		margin-left: -4px;
	//	}
	//	ul#max {
	//		position:absolute;
	//		height: 210px;
	//		top:22px;
	//		left:0;
	//		width:198px;
	//		.border-radius-all(0 0 3px 3px);
	//		overflow-y:scroll;
	//		background:#2C2C2C;
	//		display:none;
	//		z-index: 99;
	//		li{
	//			display:block;
	//			width:80%;
	//			line-height:20px;
	//			padding:5px 10%;
	//			color:#999;
	//		}
	//		li:hover {
	//			color:#fff;
	//			background:#4096ee;         
	//		}  
	//		li.active {
	//			color:#fff;
	//			background:rgba(255,255,255,.15);  
	//		}
	//	}
	//}
	//.selectBoxmax.active .selected { color: #F4F4F4; }
	//.selectBoxmax.active .selectArrow { background-position: center right; }

	.price-divider {
		margin: 0 30px;
		position: relative;
		top: -6px;
		font-size: .8em;
		font-style: italic;
		color: #888;
		letter-spacing: .15em;
	}
		// ---- End Select Box ---- //
	
		article > section {
				display: inline;
				text-align: center;
				&.left-col{
						-webkit-overflow-scrolling: touch;
						clear: left;
						display: block;
						float: left;
						height: 1073px;
						.calc-height-all(~'100vh - 60px');
						overflow: hidden;
						width: 63%;
						margin-right: -2px;
						.results-loading-overlay, .results-error-overlay {
							height: 100%;
							width: 100%;
							position: absolute;
							background: #232323;
							z-index: 99;
							opacity: 1;
							.transition(.5s);
							p {
								text-align: center;
								font-size: 1.5em;
								color: #CACACA;
								margin-top: 250px;
							}
							.spin-wrap {
								height: 128px;
								width: 128px;
								position: relative;
								margin: 0 auto;
								top: 0;
								left: -8px;
								z-index: 10;
							}
						}
						.results-error-overlay { 
							display: none; 
							left: 0;
							//margin-top: 250px;
							p {
								margin-top: 0;
								.border-radius-all(1em);
								border: 1px solid rgba(255,255,255, 1);
								padding: 20px;
								width: 50%;
								display: inline-block;
								line-height: 1.3em;
								font-size: 1.2em;
								margin-top: 250px;
							}
							#right-arrow {
								display: inline-block;
								vertical-align: top;
								position: relative;
								top: 45px;
								left: 25px;
								margin-top: 250px;
								span {
									font-size: 6em;
									position: relative;
								}
							}
						}
						.view-selector{
							margin: 0;
							background: #444;
							padding: 0;
							display: block;
							height: 52px;
							.transition();
							.smalldesktop { display: none; }
							.backtocity, .backtolistings {
								position: absolute;
								left: 2%;
								top: 13px;
								text-transform: capitalize;
								padding: 0;
								margin: 0;
								letter-spacing: 1px;
								color: #77BAFF;
								font-weight: 500;
								font-size: 1.1em;
								span { font-size: .65em; position: relative; top: -2px; margin-right: 2px; }
							}
							.backtocity:hover, .backtolistings:hover { color: #a8cfff; }
							li {
								display: inline-block;
								margin: 0;
								width: 120px;
								height: 31px;
								color: #9A9A9A;
								font-weight: 400;
								letter-spacing: .75px;
								position: relative;
								cursor: pointer;
								z-index: 50;
								margin-top: 9px;
								&.map { right: 8px; }
								&.city { left: 5px; }
								&.listings { left: 5px; }
									a {
										width: 120px;
										height: 31px;
										display: inline-block;
										color: inherit;
										font-size: .8em;
										position: relative;
										background: inherit;
										padding: 2px;
									}
									a:hover { color: #3FB6FF; }
							}
							li.active { 
								color: #fff; 
								font-weight: 300;
								z-index: 55;
								&:hover { color: #fff; }
								a { color: #fff; }
							}
							#shareDiv {
								position: absolute;
								top: 0;
								right: 0;
								padding: 10px 15px 0 0;
								cursor: default;
								a {
									margin: 0 3px;
									img { height: 32px; width: 32px; }
								}
							}
						}
						.view-selector-bg {
							position: absolute;
							width: 220px;
							background: #fff;
							height: 32px;
							top: 10px;
							left: 0;
							right: 0;
							margin: 0 auto;
							.border-radius-all(34px);
							.slide {
								background: #2582e1;
								height: 32px;
								width: 120px;
								float: left;
								.border-radius-all(34px);
								&.left {
									transform: translateX(-3px);
								}
								&.right {
									transform: translateX(108px);
								}
							}
						}
				}
				&.right-col{
					clear: right;
					float: right;
					width: 37%;
					height: 1073px;
					.calc-height-all(~'100vh - 60px');
					overflow-y: auto;
					overflow-x: hidden;
					background: #555;
					border-left: 1px solid #777;
					-webkit-overflow-scrolling: touch;
					#shareDiv.tiny { display: none; }
				}
		}
		.profile-tiles{
				width: 100%;
				margin: 0 auto;
				cursor: default;
				background: #444;
				> li {
						display: inline-block;
						opacity: 1;
						margin: 1.5em 0 .5em;
						width: 32.5%;
						padding: 0;
						text-align: center;
						.transition();
						font-weight: 400;
						font-size: 1em;
						a {
								color: #77ADEF;
								&:hover{ color: #A8CFFF; }
						}
				}
		}
		.quiz-tags{
				font-size: .9em;
				line-height: 1.2em;
				margin: 0 auto;
				padding: 1em 0 0;
				position: relative;
				width: 100%;
				height: auto;
				background: #444;
				.selectors { 
					margin: 10px 0 112px 0; 
					button {
						.ll-dark-blue-button-round();
						padding: .65em 1.25em;
						font-size: .9em;
						margin-top: 0;
					}
					button:disabled {
						background-color: #A3A5A7;
						color: #fff;
						opacity: 1;
						cursor: default;
						pointer-events: none;
					}
				}
				.lifestyle-profile {
					position: absolute;
					height: 125px;
					width: 125px;
					left: 0;
					right: 0;
					display: block;
					margin: -66px auto 0;
					background: @ll-pink;
					.border-radius-all(100%);
					border: 4px solid #555;
					span {
						font-size: 1.2em;
						line-height: 1.6em;
						top: 40px;
						position: relative;
						cursor: default;
						letter-spacing: 0;
						strong { font-weight: 400; }
					}
				}
				.tags-bg {
					background: #555555;
					padding-top: 80px;
					margin-left: 1px;
					margin-right: -1px;
					padding-bottom: 2em;
					height: auto;
				}
				table {
					margin: 0 0 0 30px;
				}
				.below-tags{
						margin: 1em auto 1em auto;
						position: relative;
						height: 100%;
						width: 100%;
				}
				p {
						color: #d9d9d9;
						text-align: center;
						margin: 1em auto 2em;
						width: 85%;
				}
				.price-slider{
						margin: 2.75em 0 1em 0;
						.minmaxprice { margin-bottom: .5em; }
						#slider-range{
								width: 90%;
								margin: 0 auto;
								height: 8px;
								border: 0;
								background: #898989;
						}
						.ui-slider-handle{ background: #fff; border: 0; margin-top: 2px; margin-left: -5px; .transition(.001s, linear, color); height: 0.8em; width: 0.8em; .border-radius-all(1em); cursor: pointer; }
						.ui-slider-handle{ background: #C5C5C5; }
						.ui-slider-range { background: #499fff; }
						#amount {
								background: transparent;
								border: 0;
								font-family: @serif;
								font-size: 1.4em;
								margin:-.65em 0 1em 0;
								letter-spacing: 1px;
								color: #fff;
								text-align: center;
						}
				}
				.tags-header{
						font-size: 1em;
						text-transform: uppercase;
						font-family: @serif;
						.title-tags{
								display: block;
								width: 100%;
								margin: 9px auto 18px;
								text-transform: none;
								font-family: 'Open Sans';
								font-size: 1.25em;
								font-weight: 300;
								letter-spacing: .075em;
								color: #F4F4F4;
								cursor: default;
						}
						.tags-modal-wrap-1 {
							position: absolute;
							width: 93%;
							left: 0;
							right: 0;
							margin: 0 auto;
							.tags-modal-wrap-2 {
								position: relative;
								left: 32%;
								.tags-modal {
									position: absolute;
									background: @ll-green-modal;
									z-index: 99;
									padding: 1.5em 2em;
									color: white;
									font-family: 'open sans';
									text-transform: none;
									font-weight: 400;
									.border-radius-all(20px);
									top: -144px;
									left: -112px;
									opacity: 0;
									transform: scale(0);
									.intro-transition(.4s);
									&.popout {
										transform: scale(1);
										opacity: .98;
										.intro-transition(.4s);
									}
									.header {
										font-size: 1.6em;
										margin-bottom: 10px;
										.fh-switch {
											-ms-transform: scale(1.2,1.15);
											-webkit-transform: scale(1.2,1.15);
											transform: scale(1.2,1.15);
											label:after { border: 1px solid #fff; }
											.fh-switch-knob { top: 2px; width: 15px; height: 15px; box-shadow: none; right: 10px; }
										}
									}
									.sub-header {
										font-size: 1.2em;
										line-height: 1.75em;
									}
									.close {
										.ll-dark-blue-button-round();
										margin-top: 10px;
										font-size: 1.1em;
									}
									&:after, &:before {
										top: 100%;
										left: 50%;
										border: solid transparent;
										content: " ";
										height: 0;
										width: 0;
										position: absolute;
										pointer-events: none;
									}
									&:after {
										border-color: rgba(136, 183, 213, 0);
										border-top-color: #2AE2B0;
										border-width: 13px;
										margin-left: -13px;
									}
									&:before {
										border-color: rgba(194, 225, 245, 0);
										border-top-color: #2AE2B0;
										border-width: 16px;
										margin-left: -16px;
									}
								}
							}
						}
						.subtitle{
							font-size: 1.2em;
							display: block;
							margin: .8em 0 1.1em 1.2em;
							text-transform: none;
							font-family: 'Open Sans';
							letter-spacing: 1px;
							color: #5fb4f1;
							cursor: pointer;
							.questioncircle {
								position: absolute;
								margin-left: -39px;
								height: 28px;
								width: 28px;
								margin-top: -5px;
								background: #389ae0;
								.border-radius-all(100%);
								font-weight: 600;
								span {
									position: relative;
									top: 5px;
									left: 1px;
									color: #fff;
								}
							}
						}
				}
                div#actions {
                    font-size: 1.1em;
                    height: 50px;
                    width: 93%;
                    margin: 0 auto;
                    .add-tags {
                        .ll-dark-blue-button-round();
                        margin: 2px 5px 0 0;
                        padding: .7em 1.25em;
                        float: left;
                        font-size: .8em;
                    }
                    button {
                        .ll-dark-blue-button-round();
                        margin: 2px 5px 0 0;
                        padding: .7em 1.75em;
                        font-size: .8em;
												&:disabled { opacity: 1; }
                    }
                    button#apply { margin-right: 0; }
                    button#apply, button#undo { float: right; }
                }
				.tags-wrap{
						background: #333;
						height: auto;
						width: 93%;
						padding-bottom: 10px;
						margin: 0 auto;
						.border-radius-all(5px);
						.main-header {
							height: 35px;
							margin-bottom: 2px;
							border-bottom: 1px solid #fff;
							border-color: rgba(255,255,255,.2);
							width: 95%;
							margin: 0 auto;
						}
						.top {
							display: inline-block;
							margin: 0 auto;
							z-index: 2;
							margin-top: 9px;
							position: absolute;
							left: 39%;
							color: #fff;
							text-transform: capitalize;
							font-family: 'Open Sans';
							font-size: 1em;
							.sub {
								position: relative;
								font-weight: 400;
								left: 14px;
							}
						}
						ul.menu-right {
								display: table;
								margin: 0;
								width: 100%;
								li{
										.transition(0.5s);
										border-bottom: 1px solid lighten(black, 15%);
										display:table-cell;
										margin: 0;
										padding: 0.35em 0;
										vertical-align: middle;
										&.selected{ background: lighten(black, 15%); }
										a{
												.transition(0.5s);
												color: darken(white, 20%);
												display: block;
												padding: 0 0 0.5em;
										}
										span {
												font-size: 2em;
												position: relative;
												top: 0.18em;
												left: -0.1em;
										}
										&:hover{
												background: lighten(black, 10%);
											a { color:lighten(@light-blue, 10%); }
											&.selected{ background: lighten(black, 17%); }
										}
								}
						}
				}
				ul.tags-list{
						font-size: 0.8em;
						height: auto;
						line-height: 1.1em;
						list-style: none;
						top: 5px;
						margin: 0 auto;
						overflow: hidden;
						position: relative;
						width: 100%;
						.scrollbar-left{top: 7px;}
						> li { height: 1.5em; display: inline-block; float: left; }
						li.tag{
								clear: left;
								font-weight: 300;
								margin: 0;
								padding:0.4em 0 0.2em 1em;
								text-align: left;
								text-transform: capitalize;
								vertical-align: top;
								width: 38.2%;
								a { color: @ll-light-text; }
								a.entypo-flag{
										float: right;
										position: relative;
										right: 0.5em;
										&.flagged{ color: #ba573c; }
										&:hover{ color: lighten(#ba573c, 10%); }
								}
								a.entypo-cancel-squared{
										font-size: 1.1em;
										padding-left: 0.1em;
										margin-right: 0.15em;
										&:hover{ color: #F92B2B; }
								}
								.fh-switch { float: right; }
						}
						li.percent {
								width: 56.5%;
								left: .25em;
								position: relative;
								span.percent-value{position:absolute; right: 0px; top: 0px; font-size: 0.7em;}
								div.percent-bar{
										height: 7px;
										position: absolute;
										top: 8px;
										left: 0px;
										width: 100%;
										div.percent-bar-fill{
												//background:@blue-two; 
												background: #898989; 
												height: 100%;
												position: absolute;
												left: 0px;
												top: 0px;
												border: 0;
										}
										.ui-resizable-e{
												background: white;
												.grad-vertical(white, darken(white, 30%));
												top: -3px;
												height: 13px;
												width: 10px;
												.border-radius-all(2px);
										}
										.ui-resizable-e, .ui-resizable-w{
												cursor: ew-resize;
										}
										.ui-slider-handle {
											width: .9em;
											height: .9em;
											border: 0;
											background: #fff;
											margin-top: 2px;
											cursor: pointer;
										}
										.ui-slider-handle:hover {
											color: #C5C5C5;
										}
								}
								.split{
										background: rgba(255,255,255,0.05);
										bottom: 3px;
										height: 1px;
										position: absolute;
										width: 100%;
								}
						}
				}
				
		}
		div#listing-map, div#city-map {
            float: left;
            height: 1042px;
            .calc-height-all(~'100vh - 112px');
            left: 100%;
            width: 100%;
            border: 1px solid rgba(175,175,175,1);
            .infowindow-content{
                .box-sizing();
                height: auto;
                margin: .1em;
                overflow: hidden;
                width: 100%;
                display: block;
                margin: 0;
                padding: 8px;
                > li {
                    display: block;
                    height: auto;
                    vertical-align: top;
                    &.meta{
                        color: #444;
                        font-family: 'open sans';
                        position: relative;
                        text-align: center;
                        margin-bottom: -5px;
                        h5{
                            color: #444;
                            display: block;
                            font-family: 'open sans';
                            font-size: 1.3em;
                            line-height: 1.1em;
                            margin: 0;
                            font-weight: 600;
                        }
                        span { font-size: 1em; }
                        a {
                            position: relative;
                            left: 0;
                            bottom: 0;
                            color: #44a0ff;
                            font-weight: 400;
                            &:hover { color: #7dbdff; }
                            span {
                                font-size: .7em;
                                position: relative;
                                top: -1px;
                                left: 2px;
                            }
                        }
                    }
                    &.image {
                        .price, .percent {
                            background: rgba(70,70,70,.9);
                            position: absolute;
                            font-weight: 400;
                            font-size: 1.1em;
                            letter-spacing: .5px;
                        }
                        .price {
                            padding: 3px 10px;
                            .border-radius-all(0 0 5px 0);
                        }
                        .percent {
                            padding: 3px 6px 3px 9px;
                            .border-radius-all(0 0 0 5px);
                            right: 8px;
                            color: #00ff74;
                        }
                    }
                }
            }
		}
		div#listing-map .infowindow-content>li.meta h5 { font-weight: 400; font-size: 1.2em; }
		.citynamebanner {
			letter-spacing: 2px;
			line-height: 1em;
			padding: 0 1em;
			background: #5D5E61;
			height: 52px;
			color: #fff;
			font-size: 1em;
			font-family: 'open sans';
			cursor: default;
			font-weight: 400;
			display: block;
			a {
				text-transform: capitalize;
				position: absolute;
				padding: 0;
				margin: 8px 1em;
				.border-radius-all(8px);
				letter-spacing: 1px;
				left: 0;
				color: #77BAFF;
				font-weight: 600;
				font-size: 1.2em;
			}
			> .tag-icons{
					position: absolute;
					top: 11px;
					left: 5px;
					width: auto;
					a {
						position: relative;
						margin: 0;
					}
					img {
						width: 30px;
						height: 30px;
					}

			}
			.cityname {
				font-size: 1.9em;
				top: 18px;
				position: relative;
			}
			.score {
				position: absolute;
				right: 20px;
				font-size: 1.1em;
				letter-spacing: .75px;
				top: 19px;
				span { color: #00ff74; }
			}
		}
		ul#listings {
			> li.listing {
				.listingimageclick {
					cursor: pointer;
					-moz-transition: all .3s ease-in-out;
					-webkit-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
					position: relative;
					height: 525px;
					width: 100%;
					opacity: 1;
					display: block;
					a {
						height: 525px;
						width: 100%;
						position: absolute;
					}
					img {
						width: 100%;
						height: 525px;
						.transition(0.3s);
						&:hover{
							opacity:.85;
							.transition(0.3s);
						}
					}
					> .tag-icons{
							top: 60px;
							img {
								width: 30px;
								height: 30px;
							}

					}
				}
				.tag-icons { 
					top: 6px;
					right: 6px!important;
					img { height: 40px; width: 40px; }
				}
				.titlecenter#mobile { display: none; }
				.titlecenter {
					position: absolute;
					top: 0;
					left: 0;
					padding: .9em 2em;
					background: rgba(228, 72, 107, .9);
					.border-radius-all(0 0 9px 0);
					pointer-events: none;
					.title {
						position: relative;
						color: #fff;
						font-size: 1.5em;
						font-family: 'open sans';
						text-transform: capitalize;
						.default-text();
					}
				}
				.listingimageclick:hover {
					opacity: .9;
					-moz-transition: all .3s ease-in-out;
					-webkit-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}
			}
		}
		div#listings, div#cities {
			height: 1021px;
			.calc-height-all(~'100vh - 112px');
			width: 100%;
			position: relative;
			float: left;
			.mobile-space {
				height: 68px;
				width: 100%;
				display: none;
				position: relative;
			}
			#loading {
				.default-text();
				background: rgba(255,255,255,.9);
				color: @ll-blue;
				position: absolute;
				right: 0;
				display: none;
				z-index: 99;
				padding: 10px 20px;
				.border-radius-all(5px);
				&.mobile { visibility: hidden; }
				&.desktop { visibility: visible; }
			}
		}
		.results-scroll {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			overflow-x: hidden;
			overflow-y: scroll;
			width: 100%;
		}
		.results-scroll#citywrap { height: 100%; }
		.results-scroll#listingswrap { height: 93%; .calc-height-all(~'100% - 52px'); }
		//ul#listings { height: 93.7%; }
		//ul#cities { height: 100%; }
		ul#listings, ul#cities {
    		margin: 0;
    		padding: 0;
    		//float: left;
    		list-style: none;
    		position: relative;
    		//overflow-x: hidden;
				//overflow-y: scroll;
    		width: 100%;
				//height: auto;
			> li.listing:hover, li.city:hover { background: #fff; }
			> li.listing {
					border-bottom: 2px solid #fff;
					border-top: 1px solid #fff;
			}
			> li.listing, li.city {
					background: #fff;
			    height: auto;
			    line-height: 1.2em;
			    overflow: hidden;
			    padding: 0;
			    position: relative;
			    width: 100%;
			    .transition(.25s, ease-in-out, opacity);
			    .transition(1s, ease-in-out, height);
			    div#sub-listing-div {
						-webkit-overflow-scrolling: touch;
			    	position: relative;
				    margin-top: -4px;
				    z-index: 10;
			    	background: black;
			    	max-width: 100%;
				    ul#sub-listings {
				    	margin: 0;
				    	padding-right: 5px;
				    	height: 150px;
				    	width: 100%;
				    	white-space:nowrap;
							overflow: hidden;
				    	z-index: 10;
							border-top: 2px solid #fff;
							border-bottom: 2px solid #fff;
							background: #efe9e9;
				    	li.sub-listing {
								display: inline;
								font-size: 1em;
								width: 25%;
								border-left: 2px solid #fff;
								margin-left: -1px;
                                margin-right: -1px;
								overflow: hidden;
								height: 150px;
								background: #FFF;
								float: left;
								position: relative;
								a.sub-listing-link {
									position: absolute;
									z-index: 99;
									background: rgba(255,255,255,0);
									.transition(0.3s);
									&:hover { background: rgba(255,255,255,.15); .transition(0.3s); }
								}
								a.sub-listing-link, a.fake {
									margin-left: -2px;
									display: block;
									width: 100%;
									height: 100%;
								}
				    		img {
					    		width: 100%;
					    		height: 100%;
					    	}
				    		div.listing-info {
									background: rgba(50,50,50,0.85);
									height: 40px;
									left: 0;
									line-height: 1em;
									font-weight: 400;
									padding: 0;
									width: 100%;
									top: 0;
									display: inline-block;
									margin-left: -100%;
									position: relative;
				                .title {
													display: block;
				                    vertical-align: top;
				                    color: #79b8d5;
				                    font-size: 1em;
				                    letter-spacing: 2px;
				                    font-family: @serif;
				                    line-height: 1em;
				                    padding: 0;
				                    margin: .5em 0 .1em .8em;
				                    text-align: left;
				                    float: left;
				                    width: 100%;
				                    text-transform: uppercase;
				                    text-shadow: 1px 1px 1px #333;
				                }
								.mobiletitle { display: none; }
				                span.desc {
				                    float: left;
				                    font-weight: 400;
				                    vertical-align: top;
				                    color: #79b8d5;
				                    font-size: 1.15em;
				                    font-family: @serif;
				                    font-weight: 400;
				                    font-style: normal;
				                    padding: 0 0 1.15em 0;
				                    margin: 0 0 0 1.15em;
				                    text-align: left;
				                    width: 100%;
				                    text-transform: none;
				                    letter-spacing: 1px;
				                }
								.desktoptable { display: block; }
								.mobiletable { display: none; }
								table {
										font-size: .8em;
										margin: 0 0 0 .5em;
										padding-top: .5em;
										text-align: left;
										width: 50%;
										letter-spacing: 1px;
										th, td {font-weight: 400; vertical-align: top;}
										th:nth-child(1){
											color: #fff;
											font-size: 1.4em;
											letter-spacing: .05em;
											top: 12px;
											left: 8px;
											position: absolute;
										}
										th:nth-child(2) {
											color: #00ff74;
											font-size: 1.4em;
											letter-spacing: .05em;
											text-align: right;
											display: block;
											top: 12px;
											right: 5px;
											font-weight: 600;
											position: absolute;
											width: 75px;
										}
										td {
											padding-bottom: 0.25em;
											padding-left: 0.3em;
											text-align: right;
											color: white;
											font-size: 1em;
											letter-spacing: .1em;
											text-transform: uppercase;
											padding-bottom: .5em;
											span{vertical-align: top; text-transform: lowercase;}
											sup{ position: relative; top: -.25em; }
										}
								}
							}
							&.sub-listing-collapsed { 
								line-height: 120px; 
								width: 210px;
								display: inline-block;
							}
							.spin-wrap {
								height: 48px;
								width: 48px;
								z-index: 10;
							}
						}
				    }
				}
				&.listing-collapsed, &.city-collapsed { line-height: 350px; }
				.cityimageclick {
					cursor: pointer;
					position: relative;
					height: 300px;
					width: 100%;
					margin-top: 66px;
					display: block;
					> a.listing-link, a.city-link {
						display: block;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 10;
						background: rgba(255,255,255,0);
						.transition(0.3s);
						&:hover { background: rgba(255,255,255,.15); .transition(0.3s); }
					}
					img {
						height: 100%;
						width: 100%;
					}
				}
				.overlay{
					color: white;
					cursor: pointer;
					display: inline-block;
					font-size: 2em;
					font-weight: bold;
					height: 100%;
					left: 0;
					line-height: 560px;
					opacity: 0;
					position: absolute;
					text-align: center;
					top: 0;
					width: 100%;
					vertical-align: bottom;
					text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
					.transition(0.25s);
					a { display: block; width: 100%; height: 100%; }
					> div {
						background: rgba(255,255,255,0.2);
						display: block;
						font-size: 0.45em;
						line-height: 1.2em; position: absolute; bottom: 2em; .text-shadow(); .border-radius-all(1em);
						width: 95%;
						left: 2.5%;
					}
				}
				> div.listing-info table.tag-icons { display: none!important; }
				> div.listing-info, div.city-info {
					height: 66px;
					left: 0;
					line-height: 1.3em;
					font-weight: 400;
					padding: 0;
					position: absolute;
					width: 100%;
					top: 0;
					div#header {
						font-size: 1em;
						letter-spacing: 2px;
						font-family: @serif;
						line-height: 1em;
						padding: 18px 2em;
						background: #E4486B;
						height: 30px;
						.title {
							color: #fff;
							display: inline;
							font-size: 2em;
							font-family: 'open sans';
							text-transform: none;
							text-shadow: none;
							margin: 0 0 0 36px;
							width: auto;
							cursor: default;
							.number {
								font-size: 1.1em;
								margin-top: -1px;
								margin-left: -40px;
								margin-right: 20px;
								position: relative;
								top: 1px;
							}
						}
						.city-match {
							position: absolute;
							right: 80px;
							display: block;
							font-family: 'Open Sans';
							font-weight: 400;
							font-size: 1.2em;
							letter-spacing: .025em;
							top: 75px;
							background: rgba(255,255,255,.82);
							padding: .6em 1.25em;
							.border-radius-all(40px);
							color: #2D8BCE;
							pointer-events: none;
							span { color: #11D068; font-weight: 600; }
						}
						button {
							.ll-dark-blue-button();
							float: right;
							z-index: 11;
							text-transform: capitalize;
							padding: .6em 2em;
							font-size: 1.1em;
							margin-top: -8px;
							.border-radius-all(8px);
						}
					}
					.title {
						display: block;
						vertical-align: top;
						color: #79b8d5;
						font-size: 1.7em;
						letter-spacing: 2px;
						font-family: @serif;
						line-height: 1em;
						padding: 0;
						margin: 1.5em 0 .1em .8em;
						text-align: left;
						float: left;
						width: 100%;
						text-transform: uppercase;
						text-shadow: 1px 1px 1px #333;
					}
					.mobiletitle { display: none; }
					span.desc {
						float: left;
						font-weight: 400;
						vertical-align: top;
						color: #79b8d5;
						font-size: 1.15em;
						font-family: @serif;
						font-style: normal;
						padding: 0 0 1.15em 0;
						margin: 0 0 0 1.15em;
						text-align: left;
						width: 100%;
						text-transform: none;
						letter-spacing: 1px;
					}
					.desktoptable { display: block; }
					.mobiletable { display: none; }
					table {
							font-size: .8em;
							margin: 0 0 0 1.5em;
							padding-top: 1.75em;
							text-align: left;
							width: 38%;
							letter-spacing: 1px;
							th, td {font-weight: 400; vertical-align: top;}
							th {
								color: white;
								font-size: 1.1em;
								letter-spacing: .1em;
								text-transform: uppercase;
								padding-bottom: 1em;
								width: 100%;
								float: left;
								text-align: left;
							}
							td {
								padding-bottom: 0.25em;
								padding-left: 0.3em;
								text-align: right;
								color: white;
								font-size: 1.1em;
								letter-spacing: .1em;
								text-transform: uppercase;
								padding-bottom: 1em;
								span{ vertical-align: top; text-transform: lowercase; }
								sup{ position: relative; top: -.25em; }
							}
					}
				}
				div.listing-info {
					height: 61px;
					bottom: 0;
					top: inherit;
					background: rgba(50,50,50,.75);
					pointer-events: none;
					font-size: .9em;
					.bottominfo {
						padding: 1em;
						font-size: 1.5em;
						text-align: left;
						#split {
							margin-right: 7.5%;
							display: inline-block;
							cursor: default;
						}
						#split.price { margin-right: 0; }
						#split.percents { color: #00ff74; }
						a {
							.ll-dark-blue-button();
							padding: .6em 2em .55em;
							font-size: .9em;
							.border-radius-all(8px);
							height: auto;
							width: auto;
							float: right;
							top: -17px;
							letter-spacing: 1.5px;
							pointer-events: all;
						}
					}
				}
				> .percents {
					height: 44px;
					position: absolute;
					right: 0;
					width: 114px;
					margin-right: 2.5%;
					margin-top: 12px;
					background: none repeat scroll 0% 0% rgba(40, 40, 40, 0.85);
					.border-radius-all(5px);
					text-align: right;
					padding-right: 6px;
					line-height: 1.3em;
					padding-top: 3px;
				}
				> .percents .home-match {
						position: relative;
						right: 5px;
						top: 1px;
						font-family: 'Open Sans';
						font-weight: 400;
						font-size: 1em;
						letter-spacing: .06em;
						span { color: #1ae81f; }
				}
				> .percents .city-match {
						position: relative;
						right: 5px;
						top: 0;
						font-family: 'Open Sans';
						font-weight: 400;
						font-size: 1em;
						letter-spacing: .06em;
						span { color: #1ae81f; }
				}
				> .tag-icons {
						position: absolute;
						right: 0;
						background-color: rgba(0, 0, 0, 0);
						z-index: 11;
				}
				.spin-wrap {
					height: 128px;
					width: 128px;
					margin: 0 auto;
					top: 40%;
					left: -8px;
					z-index: 10;
				}
			}
			> li.city {
	    		> .tag-icons {
	    			top: 120px;
						display: block;
						width: 400px;
						pointer-events: none;
						float: right;
						text-align: right;
						max-height: 160px;
						overflow: hidden;
						tr { display: inline; }
						td { display: inline-block; }
	    			#tag {
							width: 175px;
							height: 48px;
							background: white;
							margin: 0 10px;
							.border-radius-all(25px);
							text-align: left;
							a { float: left; }
							img {
								margin-top: 1px;
								margin-left: 1px;
								width: 46px;
								height: 46px;
							}
							.rateit {
								margin-left: 4px;
								margin-top: 7px;
								.border-radius-all(0 25px 25px 0);
								width: 80px;
								height: 20px;
							}
							span {
								display: block;
								font-family: 'Open Sans';
								font-weight: 400;
								font-size: .9em;
								letter-spacing: .06em;
								color: #2582E1;
								position: relative;
								top: 4px;
								left: 4px;
							}
						}
	    		}
			}
		}
}
#tb-submit {
	overflow: hidden; height: 100%;
	.tb-buttons.alignright {
		display: inline-block;
		position: absolute;
		right: 1em;
		bottom: 1em;
	}
}
#tb-submit #cities-popup {
	> h2 {
		font-weight: 400;
		margin: 1em 0;
		padding: 0;
		text-transform: uppercase;
		&:after{ .h2-after(); margin-top: .75em; }
	}
	ul.nearby-cities{
		height: 500px;
		margin: 0 auto;
		overflow-y: scroll;
		text-align: left;
		width: 1160px;
		& > li.city {
			.box-sizing();
			border: 2px solid darken(white, 20%);
			cursor: pointer;
			display: inline-block;
			height: 0;
			margin: 0 0 -.35%;
			overflow: hidden;
			padding-bottom: 15%;
			position: relative;
			width: 25%;
			.transition();
			> img { width: 100%; }
			.city-toggle{
				color: @light-blue2;
				position: absolute;
				top: 0;
				right: .25em;
			}
			div.meta {
				background: rgba(255,255,255,.6);
				bottom: .5em;
				color: @ll-darker-text;
				font-family: @serif;
				font-size: 1.1em;
				letter-spacing: .05em;
				padding: .25em 0;
				position: absolute;
				text-align: center;
				width: 100%;
				.transition();
			}
			div.inactive{
				background: rgba(0,0,0,.8);
				color: darken(white, 20%);
				height: 100%;
				left: 0;
				opacity: 1;
				padding-top: 4em;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 0;
				vertical-align: middle;
				width: 100%;
				.transition();
			}
			&.active > div.inactive { opacity: 0; }
			&:hover{
				border-color: white;
				.meta { background: rgba(255,255,255,.9); }
				.inactive { opacity: 0.6; }
			}
		}
	}
}
#tb-submit #tag-window{
	h2.title{
		font-size: 1.6em;
		font-weight: 400;
		letter-spacing: .1em;
		font-family: 'open sans';
		overflow: hidden;
		padding-bottom: 10px;
		margin-bottom: -8px;
	}
	.top{ display: none; }
	div.tag-definition {
		width: 90%;
		left: 44px;
		position: relative;
		text-align: left;
		font-size: 1.2em;
		h5 { color: #50e3c2; display: inline; text-transform: capitalize; font-family: 'open sans'; font-weight: 600; }
		span { font-size: 0.8em; }
	}
	ul.tag-categories {
		li {
			cursor: pointer;
			display: inline-block;
			font-size: .9em;
			margin: 0 1em;
			text-align: center;
			text-transform: capitalize;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			&, span { .transition(.25s); }
			span { display: block; }
			&:hover, &:hover span { color: @ll-green-modal; }
			&.active, &.active span { color: @ll-green-modal; &:hover, &:hover span{ color: @ll-green-modal; } }
		}
	}
	ul.tags-list{
		top: 0px;
		opacity: 0;
		position: absolute;
		z-index: -1;
		.columns(4);
		.transition(.5s);
		&.active{ opacity: 1; z-index: 10; top: 170px; left: 15px; }
		li {
			color: white;
			cursor: pointer;
			display: inline-block;
			font-size: 0.9em;
			margin: .25em 0;
			text-transform: capitalize;
			text-align: left;
			width: 250px;
			.transition();
			&:hover { color: @light-blue2; }
			.checkmark{
				opacity: 0;
				margin-right: .5em;
				.transition();
				img { 
					width: 22px;
					&.desktop { display: inline; }
					&.mobile { display: none; }
				}
			}
			&.active .checkmark { 
				opacity: 1;
			}
		}
	}
}

#TB_ajaxContent {
		overflow: hidden;
}


//---- Google Maps Code ----//
.gmnoprint {
    right: 0!important;
    left: auto!important;
    .gm-style-mtc div:nth-child(2) { display: none!important; }
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    top: 0!important;
    left: 28px!important;
    right: auto!important;
    .gmnoprint { top: 0!important; }
    .gm-svpc { display: none; }
}

.custom-iw > div {
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #fff;
		border-width: 12px;
		margin-left: -12px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: #fff;
		border-width: 12px;
		margin-left: -12px;
	}
    .gm-style-iw {
        top:0 !important;
        left:0 !important;
        .border-radius-all(4px);
        img { width: 230px; height: 130px; .border-radius-all(4px); }
    }
    .gm-style-iw, .gm-style-iw>div, .gm-style-iw>div>div {
        width: 100%!important;
        max-width: 100%!important;
        height: 100%!important;
        max-height: 100%!important;
    }
}

.custom-iw > div>div:first-child>div:nth-child(2) {
	display:none;
}

.custom-iw > div>div:first-child>div:last-child {
	left:0 !important;
	top:0px;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
	z-index:-1 !important;
}

.custom-iw > div,
.custom-iw > div>div:first-child>div:last-child {
	width: 246px!important;
	height: auto!important;
	margin-left: 26px;
	margin-top: 28px;
}

.custom-iw > div>div:first-child { display: none!important; }

.custom-iw > div>div:first-child>div:nth-child(n-1)>div>div, 
.custom-iw > div>div>div:last-child, 
.custom-iw > div .gm-style-iw, 
.custom-iw > div .gm-style-iw>div, 
.custom-iw > div .gm-style-iw>div>div {
	background-color: #fff!important;
	position: relative!important;
	display: block!important;
}

.custom-iw > div>div:last-child {
	display: none;
}