//@import '../_admin/sales.less';

#legend {
	span {
		color: white;
	}
	table td, table th {
	  	border: 1px solid white;
	}
}

div.gm-style-iw {
	#lifestyles-div {
		span {
			color: black;
		}
		table {
			color: black;
		}
	}
}

section.upper {
	span#title {
		color: white;
	}
}