/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen {	
	.main-container{ position: relative; margin: 0 auto; }
	
	@media (max-width: 321px) {
		@screenWidth: 320px; 
		@fontSize: (1440/@screenWidth);
		body{ font-size: @fontSize em; }
		.main-container { width: @screenWidth; }
	}
	
	@media (min-width: 322px) and (max-width: 479px) {
		@screenWidth: 480px; 
		@fontSize: (1440/@screenWidth);
		body{ font-size: @fontSize em; }
		.main-container { width: @screenWidth; }
	}
	
	@media (min-width: 480px) and (max-width: 767px) {
		@screenWidth: 768px; 
		@fontSize: (1440/@screenWidth);
		body{ font-size: @fontSize em; }
		.main-container { width: @screenWidth; }
	}
	
	@media (min-width: 768px) and (max-width: 1023px) {
		@screenWidth: 1024px; 
		@fontSize: (1440/@screenWidth);
		body{ font-size: @fontSize em; }
		.main-container { width: @screenWidth; }
	}
	
	@media (min-width: 1024px) and (max-width: 1223px) {
		@screenWidth: 1224px;
		@fontSize: (1440/@screenWidth);
		body{ font-size: @fontSize em; }
		.main-container { width: @screenWidth; }
	}

	@media (min-width : 1224px) { /* Desktops */
		@screenWidth: 1440px;
		body{ font-size: 16px; }
		.main-container { width: @screenWidth; }
	}
	
	 
}