@import '../_import/helper.less';

body #TB_window{
    background: #373737;
    letter-spacing: .05em;
    overflow: hidden;
    .border-radius-all(5px);
    .box-shadow(0 0.5em 1em 0.25em rgba(0,0,0,0.5));
    button { .button-blue-narrow(); margin-left: .75em; margin-right: .75em; }
    #TB_title{ background: lighten(black, 16%); border-bottom: lighten(black, 25%); }
    #TB_ajaxContent {
        #instructions {
            margin: 0 10px 0 10px;
        }
        #uploadNotice {
            margin: 10px;
        }
        #shufflePhotos {
            overflow-y: scroll;
            height: 580px;
            margin: 0 0 10px 15px;
            #sortable { 
                list-style-type: none; 
                margin: 10px; padding: 0; 
                width: 1050px;
                overflow: visible;
            }
            #sortable li { 
                margin: 3px 3px 3px 0; 
                padding: 1px; float: left; 
                width: 220px; 
                height: 203px; 
                //font-size: 4em; 
                text-align: center; 
                > div {
                    //.box-sizing();
                    
                    position: relative;
                    width: 100%;
                    > img.listing-thumbnail {
                        float: left;
                        height: 120px;
                        margin: .25em .5em .25em 0;
                        width: 210px;
                    }
                    label {
                        display: block;
                        &#description {
                            float: left;
                            margin-left: 5px;
                        }
                    }
                    input {
                        width: 65%;
                    }
                    textarea {
                        width: 98%;
                    }
                    button {
                        display: inline;
                        .button-blue();
                        float: right;
                    }
                    a {
                        margin-right: 10px;
                    }
                }
            } 
            div#description {
                border-width: thin;
                border-style: solid;
                position: absolute;
                top: 30%;
                left: 22%;
                width: 500px;
                height: 180px;
                display: none;
                background: black;
                z-index: 10;
                textarea {
                    width: 98%;
                }
                #control {
                    button {
                        display: inline;
                    }
                }
            }         
        }
    }
}

.spin-wrap {
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    width: 32px;
    z-index: 10;
    .spinner { .spinner(fade(@light-blue2, 25%), 32px); }
    &.upload {
        display: none;
        position: absolute;
        width: 64px;
        height: 64px;
        left: 50%;
        //top: 50%;
        margin-left: -32px;
        z-index: 10000;
        .spinner { .spinner(fade(@light-blue2, 25%), 64px); }
    }
}

div#listing-admin {
    height: 755px;
    overflow: hidden;
    position: relative;
    width: 1440px;
		margin: 0 auto;
    > header {
        height: 110px;
        position: relative;
        text-align: center;
        width: 100%;
        > a.logo {
            margin-top: 1em;
        }
        ul {
            display: none;
            float: right;
            height: 100%;
            margin-right: 5em;
            margin-top: 1em;
            position: relative;
            z-index: 10;
            li {
                display: inline-block;
                a {
                    .transition();
                    &.active {
                        color: #00ffff;
                        letter-spacing: .04em;
                    }
                }
            }
        }
        #progress-bar {
            @radius: 15px;
            display: none;
            height: 400px;
            position: absolute;
            right: 3.9em;
            top: 4em;
            z-index: 1;
            .bar {
                .border-radius-all(@radius);
                background: #131313;
                border: 2px solid #fff;
                float: right;
                height: 15px;
                position: relative;
                width: 550px;
                .fill {
                    .border-radius-all(@radius);
                    background: #fff;
                    height: 13px;
                    left: 1px;
                    position: absolute;
                    top: 1px;
                }
            }
            .percent {
                display: inline;
                float: left;
                font-weight: bold;
                letter-spacing: .1em;
                line-height: 1.2em;
                margin-right: 0.5em;
                position: relative;
                z-index: 1;
            }
        }
    }
    #content-background {
        background: url(../../_img/_sellers/new-listing-bg.jpg) no-repeat;
        content: ' ';
        height: 643px;
        position: absolute;
        width: 1440px;
        z-index: 1;
    }
		section#page-content {
				&.page-splash{
					background: url(../../_img/_sellers/start-page/new-listing-start.jpg) no-repeat;
					height: 643px;
					position: absolute;
					width: 1440px;
					z-index: 50;
					.title{
						position: relative;
						color: #b1d9ff;
						text-transform: uppercase;
						font-size: 3em;
						letter-spacing: .1em;
						margin-top: 45px;
						font-family: 'Perpetua';
					}
					.subtitle{
						position: relative;
						color: #fff;
						font-size: 1.2em;
						width: 42%;
						margin: 0 auto;
						letter-spacing: .05em;
						margin-top: 12px;
						font-family: 'Open Sans';
					}
					.icons{
						margin: 70px 40px 60px 40px;
						position: relative;
						display: inline-block;
					}
					.icons p{
						font-family: 'Perpetua';
						color: #fff;
						font-size: 1.3em;
						margin: 7px 0;
						letter-spacing: .05em;
					}
					p{
						margin-top: 130px;
						color: #b1d9ff;
						font-size: 1em;
						text-align: center;
						font-weight: 400;
					}
					a.start-button{
						.button-blue-simple();
						margin-top: 10px;
						padding: .3em 2.5em;
						font-size: 1.5em;
					}
					a.start-button:hover{ background-color: #13c1ff; }
				}
        .box-sizing();
        background: transparent;
        height: 519px;
        overflow: hidden;
        position: relative;
        width: 1440px;
        z-index: 10;
        .bgshadow {
            background: url(../../_img/_sellers/darken-background.png);
            height: 100%;
            margin-right: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        > div {
            position: relative;
            z-index: 15;
        }
        .info-box {
            .border-radius-all(2em);
            background: rgba(0, 0, 0, .01);
            position: absolute;
            right: 20%;
            text-align: center;
            top: 100px;
            width: 30%;
        }
        h1, h2, h3 {
            font-family: @sans;
            &.loading {
                margin: 2em 0 0;
                text-align: center;
            }
        }
        .left-bar {
            .box-sizing();
            background: rgba(0, 0, 0, 0.8);
            float: left;
            height: 100%;
            padding: .5em 1em;
            position: relative;
            width: 27.5%;
            .listing-dot-container {
                overflow-x: hidden!important;
                display: inline-block;
                max-width: 78%;
                ul {
                    display: inline;
                    overflow-x: hidden;
                    white-space: nowrap;
                    width: auto;
                }
            }
        }
        .uploaded-images {
            height: 519px;
            margin: 0;
            overflow: hidden;
            position: absolute;
            //width: 100%;
            width: 72.5%;
            left: 27.5%;
            z-index: 0;
            > li {
                height: 100%;
                position: relative;
                width: 100%;
                span.error {
                    color: fade(@dark-red, 45%);
                    font-size: 3.5em;
                    margin: 0 auto;
                    position: absolute;
                    text-align: center;
                    top: 250px;
                    width: 100%;
                }
                > img {
                    //bottom: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            > .image-controls {
                .box-sizing();
                bottom: .5em;
                margin: 0;
                position: absolute;
                right: 1em;
                z-index: 15;
                > a {
                    color: white;
                    &:hover {
                        color: lighten(saturate(@yellow, 50%), 20%);
                    }
                    &.next-image {
                        float: right;
                    }
                    &.prev-image {
                        float: left;
                    }
                }
                ul.image-pager {
                    display: inline-block;
                    margin: 0 15px;
                    text-align: center;
                    li {
                        .border-radius-all(1em);
                        background: white;
                        cursor: pointer;
                        height: .65em;
                        margin: 0 .1em;
                        width: .65em;
                        display: inline-block;
                        &.active {
                            background: @yellow;
                        }
                        &:hover {
                            background: lighten(saturate(@yellow, 50%), 20%);
                        }
                    }
                }
            }
        }
        &.page-images {
            span.information {
                .text-shadow();
                position: absolute;
                right: 1em;
                top: .5em;
                > span {
                    margin-right: .25em;
                }
            }
            div.image-titles {
                > .title {
                    font-size: 1.3em;
                    text-align: center;
                }
                p {
                    font-family: @serif;
                    font-size: 1.2em;
                    margin: 20px 6px;
                }
                > .images {
                    .border-radius-all(.35em);
                    background: rgba(0, 0, 0, .7);
                    margin: 0 auto;
                    padding: 1em;
                    position: relative;
                    width: 90%;
                    > .image-controls {
                        .box-sizing();
                        margin: 0 0 1em;
                        text-align: center;
                        > a {
                            color: white;
                            top: -12px;
                            position: relative;
                            &:hover {
                                color: @yellow;
                            }
                        }
                        ul.image-pager {
                            display: inline-block;
                            margin: 0 15px;
                            text-align: center;
                            li {
                                .border-radius-all(.5em);
                                background: white;
                                cursor: pointer;
                                height: .5em;
                                margin: 0 .15em;
                                width: .5em;
                                display: inline-block;
                                &.active {
                                    background: @yellow;
                                }
                                &:hover {
                                    background: lighten(saturate(@yellow, 50%), 20%);
                                }
                            }
                        }
                    }
                    > form#image-titles {
                        .box-sizing();
                        position: relative;
                        width: 100%;
                        > img.listing-thumbnail {
                            float: left;
                            height: 70px;
                            margin: .25em .5em .25em 0;
                            width: 100px;
                        }
                        label {
                            display: block;
                        }
                        input {
                            width: 65%;
                        }
                        textarea {
                            width: 98%;
                        }
                        button {
                            .button-blue();
                            float: right;
                        }
                        a {
                            margin-right: 10px;
                        }
                    }
                }
            }
            div.upload-images {
                > span {
                    font-size: 8em;
                    line-height: 1em;
                }
                > h2 {
                    font-weight: 400;
                }
                #dropzone {
                    // width: 90%;
                    height: 150px;
                    margin: 0 auto 1em;
                    overflow: hidden;
                    padding: 0.5em 1em;
                    .spin-wrap {
                    //    height: 32;
                    //    width: 32;
                    //    position: relative;
                    //    margin-left: 9em;
                    //    top: -30px;
                     //   left: 10px;
                    //    z-index: 10;
                        display: none;
                        position: absolute;
                        left: 50%;
                        z-index: 10000;
                    }
                    .dz-message {
                        padding: .5em 4em;
                    }
                }
            }
        }
        &.page-info {
            .main-info-icon {
                background: url(../../_img/_sellers/maininfo.png) no-repeat top center;
                display: block;
                height: 145px;
                margin: 0 auto;
                width: 134px;
            }
            table#listing-info {
                .box-sizing();
                margin-top: 1em;
                width: 100%;
                tr {
                    line-height: 1.8em;
                }
                th {
                    font-weight: 400;
                    text-align: left;
                }
                td {
                    text-align: right;
                    &.title {
                        font-size: 1.5em;
                        font-weight: 100;
                        text-align: center;
                    }
                    &.street_address {
                        text-align: center;
                    }
                    &.hide_address {
                        font-size: 0.75em;
                        padding-bottom: 1.5em;
                        text-align: center;
                    }
                }
            }
            #geocode-panel {
                .box-sizing();
                bottom: -50%;
                height: 9.5em;
                margin: 0;
                position: absolute;
                width: 91.5%;
                > li {
                    .box-sizing();
                    .transition(.25s, ease-in-out, background);
                    background: rgba(0, 0, 0, .8);
                    cursor: pointer;
                    height: 70px;
                    margin: 0;
                    padding: .25em .5em;
                    .meta {
                        line-height: 1.15em;
                        margin: .75em 0 0;
                    }
                    .map-image {
                        float: left;
                        height: 70px;
                        left: -.5em;
                        margin-right: 1em;
                        position: relative;
                        top: -.25em;
                        width: 125px;
                    }
                    &:hover {
                        background: fade(@light-blue2, 20%);
                    }
                    &.top, &.bottom {
                        height: 2em;
                        line-height: 2em;
                        padding: 0 .5em;
                        &.bottom {
                            clear: both;
                            margin: 0 auto;
                            position: relative;
                            text-align: center;
                            &, &:hover { background: transparent; }
                            .left, .right { display: none; }
                            .right { float: right; }
                            .left { float: left; }
                        }
                        &.top, &.top:hover {
                            background: fade(@light-blue, 40%);
                        }
                        .title {
                            float: left;
                            font-weight: bold;
                        }
                        .close {
                            .transition(0.25s, ease-in-out, color);
                            cursor: pointer;
                            float: right;
                            font-weight: bold;
                            position: relative;
                            top: -1px;
                            &:hover {
                                color: @light-blue2;
                            }
                        }
                    }
                }
            }
        }
        &.page-about {
            .main-info-icon {
                background: url(../../_img/_sellers/about.png) no-repeat top center;
                display: block;
                height: 140px;
                margin: 0 auto;
                width: 161px;
            }
            .left-bar {
                width: 35%;
                h2 {
                    color: @orange;
                    display: inline-block;
                    font-family: @sans;
                    font-size: 3em;
                    font-weight: 400;
                    letter-spacing: 0.1em;
                    line-height: 1em;
                    margin: 0;
                    position: relative;
                    text-transform: uppercase;
                }
                .special-tags {
                    float: right;
                    font-size: 1em;
                    font-weight: 100;
                    line-height: 1em;
                    position: relative;
                    right: 135px;
                    text-transform: uppercase;
                    top: 0.5em;
                    > span {
                        font-size: 1.15em;
                        letter-spacing: 1px;
                        line-height: 1em;
                    }
                    span.div {
                        font-size: 1em;
                        position: relative;
                        top: -3px;
                    }
                    .border-top {
                        border-top: 1px solid white;
                        position: absolute;
                        top: -0.3em;
                        width: 3em;
                    }
                    .tag-1 {
                        display: block;
                    }
                }
                button {
                    .button-blue();
                    float: right;
                    margin-right: 8px;
                    margin-top: 1em;
                }
                textarea {
                    background: rgba(255, 255, 255, .8);
                    border: none;
                    color: #000;
                    display: block;
                    font-family: @sans;
                    font-weight: 400;
                    height: 350px;
                    letter-spacing: 0.12em;
                    line-height: 1.2em;
                    margin-top: 1.5em;
                    padding: 0.8em;
                    width: 94%;
                }
            }
        }
        &.page-tags {
            #tag-window {
                color: white;
                .tag-definition {
                    float: left;
                    line-height: 1.2em;
                    margin: 0 0 0 3.4em;
                    width: 60%;
                    h5 {
                        color: @light-blue;
                        display: inline;
                        font-family: @sans;
                        font-size: .95em;
                        font-weight: 400;
                        letter-spacing: 1px;
                        padding-right: 7px;
                    }
                    span {
                        font-weight: 100;
                    }
                }
                .tag-categories {
                    margin-left: 1em;
                    margin-top: 2.5em;
                    // &:after {
                    //     .h2-after();
                    //     width: 60%;
                    // }
                    > li {
                        .transition(0.25s);
                        cursor: pointer;
                        display: inline-block;
                        font-weight: 400;
                        letter-spacing: 1px;
                        margin-right: 2em;
                        text-align: center;
                        text-transform: uppercase;
                        .entypo-record {
                            display: block;
                            margin: 0 auto;
                            position: relative;
                        }
                        &.active {
                            color: @light-blue;
                        }
                        &:hover {
                            color: @orange;
                        }
                    }
                }
                .tags-list {
                    .transition();
                    display: inline-block;
                    float: left;
                    left: -100%;
                    margin-left: 3.4em;
                    margin-top: 3.5em;
                    position: absolute;
                    text-align: left;
                    &.active {
                        left: 0;
                    }
                    li.tag {
                        cursor: pointer;
                        display: inline-block;
                        line-height: 2.5em;
                        position: relative;
                        text-transform: lowercase;
                        width: 200px;
                        .text {
                            .transition();
                            position: relative;
                            span.checkmark {
                                .transition();
                                color: #21c1e7;
                                left: -1.5em;
                                opacity: 0;
                                position: absolute;
                                img {
                                    height: 17px*0.75;
                                    width: 22px*0.75;
                                }
                            }
                        }
                        &.active span.checkmark {
                            opacity: 1;
                        }
                        &:hover {
                            color: #21c1e7;
                        }
                    }
                }
                .main-info {
                    float: right;
                    position: relative;
                    text-align: center;
                    width: 30%;
                    p {
                        margin: 0 auto;
                        width: 80%;
                    }
                    .main-info-icon {
                        background: url(../../_img/_sellers/tags.png) no-repeat top center;
                        display: block;
                        height: 157px;
                        margin: 0 auto;
                        width: 165px;
                    }
                }
            }
        }
        &.page-video {
            .video-container {
                display: inline-block;
                float: left;
                margin-left: 4em;
                margin-top: 4em;
                > img.no-video {
                    height: 315px;
                    width: 560px;
                }
            }
            .main-info {
                float: right;
                margin-right: 4em;
                margin-top: 4em;
                text-align: center;
                width: 40%;
                .main-info-icon {
                    background: url(../../_img/_sellers/video.png) no-repeat top center;
                    display: block;
                    height: 142px;
                    margin: 0 auto;
                    width: 135px;
                }
                .data-video {
                    height: 1.5em;
                    margin-right: 1em;
                    width: 350px;
                    &.inactive {
                        color: #aaa;
                    }
                }
                button {
                    .button-blue();
                    font-size: 1.1em;
                    letter-spacing: 0.1em;
                    padding: .22em 1.5em;
                    position: relative;
                    top: 0.13em;
                }
            }
        }
    }
    > footer {
        bottom: 0;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 20;
        .controls {
            display: none;
            margin: 2.75em auto auto .25em;
            width: 96%;
            button {
                .button-blue();
                &.next, &.done, &.start {
                    float: right;
                }
                &.back {
                    float: left;
                }
            }
        }
        div.footnote {
            display:  none;
            font-size: .9em;
            text-align: center;
        }
    }
}


#tb-submit .spin-wrap {
    height: 16px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    width: 16px;
    z-index: 10;
    .spinner { .spinner(@light-blue2, 16px); }
}