<table>
	<tbody>
		<tr>
			<td>Hello %first_name%,</td>
		</tr>
		<tr>
			<td><p>We are a new partner at Listhub and we wanted to introduce ourselves and share with you the groundbreaking technology we are putting to work for your listing(s). As a listing agent with a qualifying property, you can market your listing to the highest quality standards using your full size HD images, and optimize your listing for our search engine.</p></td>
		</tr>
		<tr>
			<td>
				<p>We developed our search process with luxury buyers, and what gets them even more excited than finding amazing properties that fit their unique lifestyle preferences, is that <strong>we find them local agents</strong> that share those same lifestyles. By matching buyers with agents over shared passions, we create a powerful foundation for a successful working relationship.</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><span>We are looking for top agents in %city% that have lifestyle expertise in the following areas:</span><br/><span style="display: block;">%life_styles%</span></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Joining as a Lifestyled&#8482; Agent gives you the opportunity to dominate your local market, connect with clients that share your same passions, and close more luxury transactions. We offer this service to only 3 qualified agents per lifestyle so  act now to secure your place. This is a premium service, not lead selling, we do not touch agent commissions.</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><span>To apply or learn more click <a href="%link_back%" >here</a>.</span></p>
			</td>
		</tr>
	</tbody>
</table>